.barber_connect_salon_container {
    height: var(--list-wrapper-height);
    width: 100%;
    padding: 2rem;
    background-color: var(--light-color-4);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);

    &>p:nth-child(1) {
        font-size: var(--font-size-1);
        font-weight: 600;
        line-height: 1rem;
        margin-bottom: 2rem;
    }
}


.barber_connect_salon_list_container {
    height: calc(100% - 3rem);
}

.barber_connect_salon_list {
    height: 44%;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    margin-bottom: 2rem;
    background-color: var(--light-color-3);
    padding: 1rem;

    &>p {
        font-size: var(--font-size-3);
        font-weight: 600;
        margin-bottom: 1rem;
        height: 2rem;
    }

    &>div:nth-child(2) {
        height: calc(100% - 3rem);
        overflow: auto;
    }
}

.barber_connect_salon_list_header {
    height: 5rem;
    background-color: var(--light-color-4);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-inline: 2rem;

    &>p:nth-child(1) {
        min-width: 4rem;
        display: flex;
        align-items: center;
        font-size: var(--font-size-3);
        font-weight: 600;
    }

    &>p:nth-child(2) {
        font-size: var(--font-size-3);
        display: flex;
        align-items: center;
        min-width: 40%;
        font-weight: 600;
    }

    &>p:nth-child(3) {
        min-width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-3);
        font-weight: 600;
    }
}

.barber_connect_salon_list_body {
    height: 5rem;
    background-color: var(--light-color-4);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    padding-inline: 2rem;

    &>div:nth-child(1) {
        height: 4rem;
        width: 4rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        align-items: center;

        &>img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }

    &>p {
        font-size: var(--font-size-3);
        font-weight: 500;
        ;
        overflow: auto;
    }

    &>div:nth-child(3) {
        min-width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.barber_connect_salon_list_error {
    font-size: var(--font-size-3);
    margin-top: 1rem;
    background-color: var(--light-color-4);
    height: calc(100% - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.barber_approve_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        &>p {
            font-size: var(--font-size-3);
            font-weight: 500;
            margin-bottom: 2rem;
        }

        &>button {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 1em;
            width: 10rem;
            height: 4rem;
            border: none;
            cursor: pointer;
            background-color: var(--color-3);
            border: 0.1rem solid var(--color-2);
            color: var(--color-2);
            transition: var(--btn-transition);
            border-radius: var(--list-btn-border-radius);
            -webkit-border-radius: var(--list-btn-border-radius);
            -moz-border-radius: var(--list-btn-border-radius);
            -ms-border-radius: var(--list-btn-border-radius);
            -o-border-radius: var(--list-btn-border-radius);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            margin-inline: auto;
            font-size: var(--font-size-3);

            &:hover {
                background-color: var(--color-2);
                color: var(--light-color-4);
            }
        }
    }
}

.add_connect_btn {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    background-color: var(--color-3);
    color: var(--color-2);
    border: 0.1rem solid var(--color-2);
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    font-size: var(--font-size-2);

    &:hover {
        background-color: var(--color-2);
        color: var(--light-color-4);
    }
}

.check_connect_btn {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    background-color: var(--color-9);
    color: var(--color-8);
    border: 0.1rem solid var(--color-8);
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: var(--font-size-2);
    display: flex;
    justify-content: center;
    align-items: center;


    &:hover {
        background-color: var(--color-8);
        color: var(--light-color-4);
    }
}

.barber_list_services_list {
    height: 43%;
    background-color: var(--light-color-3);
    margin-bottom: 2rem;
    padding: 1rem;

    &>p {
        font-size: var(--font-size-3);
        font-weight: 600;
        margin-bottom: 1rem;
        height: 2rem;
    }

    &>div:nth-child(2) {
        height: calc(100% - 3rem);
        overflow: auto;
    }
}


.service_item {
    height: 16rem;
    width: 100%;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);

    margin-bottom: 1.5rem;
    background-color: var(--light-color-4);
    padding: 1rem;
    position: relative;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.service_add_icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    background-color: var(--color-3);
    border: 0.1rem solid var(--color-2);
    cursor: pointer;
    color: var(--color-2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    font-size: var(--font-size-2);

    &:hover {
        background-color: var(--color-2);
        color: var(--light-color-4);
    }
}

.service_delete_icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    background-color: var(--color-7);
    border: 0.1rem solid var(--color-6);
    cursor: pointer;
    color: var(--color-6);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    font-size: var(--font-size-2);

    &:hover {
        background-color: var(--color-6);
        color: var(--light-color-4);
    }
}

.service_item_top {
    height: 60%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;

    &>div:nth-child(1) {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);

        &>img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }


    &>div:nth-child(2) {
        width: calc(100% - 7rem - 1rem);
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &>p:nth-child(1) {
            font-size: var(--font-size-1);
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        &>p:nth-child(2) {
            font-size: var(--font-size-3);
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        &>p:nth-child(3) {
            font-size: var(--font-size-3);
            font-weight: 500;
            color: gray;
        }
    }
}

.service_item_bottom {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>div:nth-child(1) {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            &>p:nth-child(1) {
                font-size: var(--font-size-3);
                font-weight: 500;
                color: gray;
                margin-bottom: 0.9rem;
                text-align: center;
            }

            &>p:nth-child(2) {
                font-size: var(--font-size-1);
                font-weight: 600;
                text-align: center;
            }
        }
    }

    &>div:nth-child(2) {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        & input {
            width: 6rem;
            border: none;
            border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
            outline: none;
            font-size: var(--font-size-1);
            font-weight: 600;
            text-align: center;

            &:focus {
                border-bottom: 0.1rem solid var(--light-color-2);
            }
        }

        &>div {
            &>p:nth-child(1) {
                font-size: var(--font-size-3);
                font-weight: 500;
                color: gray;
                margin-bottom: 0.9rem;
                text-align: center;
            }

            &>div:nth-child(2) {
                display: flex;
                align-items: center;
                gap: 0.8rem;

                &>div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: var(--font-size-1);
                    font-weight: 600;
                }

                &>p {
                    font-size: var(--font-size-1);
                    font-weight: 600;
                }
            }
        }
    }
}

.connect_btn {
    width: 15rem;
    height: 4rem;
    display: block;
    margin-inline: auto;
    background-color: var(--color-3);
    color: var(--color-2);
    border: 0.1rem solid var(--color-2);
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    font-size: var(--font-size-3);
    cursor: pointer;
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);

    &:hover {
        background-color: var(--color-2);
        color: var(--light-color-4);
    }
}



.dashboard_body {
    width: 100%;
    height: calc(100svh - 6rem);
    overflow: auto;
}

.inner_container {
    /* padding-inline: 0.3rem; */
    height: calc(100svh - 6rem);
    display: grid;
    grid-template-columns: 3fr 1.8fr;
    gap: 2rem;
}

.dashboard_container_one {
    height: 100%;
}

.saloninfo_container {
    min-height: 12rem;
    height: 15svh;
    width: 100%;
    /* box-shadow: var(--cmmn-box-shadow-y); */
    padding-block: 1.5rem;
    background-color: var(--light-color-4);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    margin-bottom: 2rem;

    &>div:nth-child(1) {
        height: 30%;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        padding-inline: 1rem;

        &>h2 {
            margin-bottom: 1rem;
            font-size: var(--font-size-1);
            font-weight: 600;
        }
    }

    &>div:nth-child(2) {
        height: 70%;
        display: flex;
        align-items: center;
        padding-inline: 1rem;

        &>i {
            font-size: var(--font-size-3);
            font-weight: 500;
        }
    }
}

.salonadv_container_loader {
    min-height: 25rem;
    height: 35svh;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}

.salonadv_container_error {
    min-height: 25rem;
    height: 35vh;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    box-shadow: var(--cmmn-box-shadow-y);
    background-color: var(--light-color-4);

    &>img {
        width: 100%;
        height: 100%;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
        object-fit: contain;
    }
}

.salonadv_container {
    min-height: 25rem;
    height: 35svh;
    width: 100%;
    /* box-shadow: var(--cmmn-box-shadow-y); */
    margin-bottom: 2rem;
    background-color: var(--light-color-4);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}


.dashboard_advertise_loader {
    min-height: 25rem !important;
    height: 35svh !important;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}


.carousel_item_container {
    width: 100%;
    min-height: 25rem;
    height: 35vh;

    &>img {
        width: 100%;
        height: 100%;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }
}


.barber_report_container {
    min-height: 25rem;
    height: calc(100svh - 6rem - 15svh - 35svh - 4rem - 2rem);
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: minmax(20rem, 1fr);
    gap: 2rem;
}


.report_container {
    min-height: 25rem;
    height: calc(100svh - 6rem - 15svh - 35svh - 4rem - 2rem);
    /* box-shadow: var(--cmmn-box-shadow-y); */
    padding: 1rem;
    border-radius: var(--list-wrapper-border-radius);
    background-color: var(--light-color-4);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);

    .r_chart {
        min-height: calc(25rem - 2rem);
        height: calc(100svh - 6rem - 15svh - 35svh - 4rem - 2rem - 1.6vw);
        width: 100%;

        &>p:nth-child(1) {
            height: 10%;
            align-content: center;
            font-size: var(--font-size-3);
            font-weight: 600;
        }

        &>div:nth-child(2) {
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &>div:nth-child(3) {
            padding-inline: 0.8vw;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            &>div {
                display: flex;
                align-items: center;
                gap: 0.5rem;


                &>div {
                    width: var(--font-size-3);
                    height: var(--font-size-3);
                    border-radius: 0.4rem;
                    background-color: brown;
                    cursor: pointer;
                    -webkit-border-radius: 0.4rem;
                    -moz-border-radius: 0.4rem;
                    -ms-border-radius: 0.4rem;
                    -o-border-radius: 0.4rem;
                }

                &>p {
                    font-size: var(--font-size-3);
                    font-weight: 500;
                }
            }
        }
    }
}

.dashboard_container_two {
    height: 100%;
}

.queuelists_container {
    /* box-shadow: var(--cmmn-box-shadow-y); */
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    background-color: var(--light-color-4);
    min-height: 66rem;
    height: calc(100svh - 6rem - 2rem);
}

.queue_header {
    min-height: 6rem;
    width: 100%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: flex;

    &>div:nth-child(1) {
        flex: 0.7;
    }

    &>div:nth-child(4) {
        flex: 0.7;
    }

    & div {
        flex: 1;
        display: grid;
        place-items: center;

        & p {
            font-size: var(--font-size-3);
            font-weight: 600;
        }
    }
}

.queue_body_loading {
    height: calc(100% - 6rem);
    padding: 2rem;
}

.queue_body_error {
    height: calc(100% - 6rem);
    display: flex;
    align-items: center;
    justify-content: center;

    &>p {
        font-size: var(--font-size-3);
        font-weight: 500;
    }
}

.queue_body {
    height: calc(100% - 6rem);
    overflow: auto;
}


.queue_item {
    min-height: 6rem;
    width: 100%;
    display: flex;

    &>div:nth-child(1) {
        flex: 0.7;
    }

    &>div:nth-child(4) {
        flex: 0.7;
    }

    & div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &>p {
            font-size: var(--font-size-3);
            font-weight: 500;
        }

    }

    & div:nth-child(2) {
        flex: 1;
    }
}

/* dark mode on */

.barber_connect_salon_container.dark{
    background-color: var(--dark-color-2);
}

.barber_connect_salon_list.dark,
.barber_list_services_list.dark{
    background-color: var(--dark-color-1);
}

.barber_connect_salon_list_header.dark,
.barber_connect_salon_list_body.dark{
    background-color: var(--dark-color-3);
}

.service_item.dark {
    background-color: var(--dark-color-3);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);

    .service_item_top {
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    }

    .service_item_bottom{
        &>div:nth-child(2) {
            &>div {
                &>div:nth-child(2) {
                    &>div {
                        color: var(--light-color-4);
                    }
                    &>input{
                        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
                        background: none;
                    }
                }
            }
        }
    }
}

.dashboard_body_intial.dark,
.saloninfo_container.dark,
.salonadv_container.dark,
.report_container.dark,
.queuelists_container.dark {
    background-color: var(--dark-color-2);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.saloninfo_container.dark {
    &>div:nth-child(1) {
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    }
}

.queue_header.dark,
.queue_item.dark {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
}


@media screen and (min-width: 0px) and (max-width:1100px) {
    .inner_container {
        grid-template-columns: 1fr;
    }

    .barber_report_container {
        height: auto;
        grid-template-columns: 1fr;
        gap: 0rem;
        margin-bottom: 0rem;
    }

    .queuelists_container {
        height: 40rem;
        margin-bottom: 2rem;
    }

    .saloninfo_container {
        height: 20svh;
    }


    .report_container {
        height: 40svh;
        width: calc(100vw - 2.6rem);

        .r_chart {
            height: calc(40svh - 2rem);

            &>div:nth-child(3) {

                &>div {
                    gap: 0.5rem;
                }
            }
        }
    }

    .barberitem_header {
        &>div:nth-child(1) {
            gap: 2rem;
        }
    }

    .barberitem {
        &>div:nth-child(1) {
            gap: 2rem;
        }
    }
}