.password_reset_container {
    height: 100vh;
    width: 100%;
}

.password_reset_container>div {
    width: 30vw;
    height: 60vh;
    margin: auto;
}

.password_reset_container>div>img {
    width: 100%;
    height: 100%;
}

.password_reset_container>div>p:nth-child(2) {
    font-weight: 600;
    font-size: clamp(2rem, 1.5rem + 0.4vw, 3rem);
    text-align: center;
    margin-bottom: 2rem;
}

.password_reset_container>div>p:nth-child(3),
.password_reset_container>div>p:nth-child(4) {
    font-weight: 500;
    font-size: clamp(1.4rem, 0.6rem + 0.4vw, 2.4rem);
    text-align: center;
    margin-bottom: 2rem;
}

.password_reset_container>div>button {
    height: clamp(4rem, 2rem + 1vw, 6.5rem);
    width: 15rem;
    border: 1px solid #0866ff;
    color: #0866ff;
    background-color: #0867ff25;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    font-size: clamp(1.4rem, 0.6rem + 0.4vw, 2.4rem);

    &:hover {
        background-color: #0866ff;
        color: #fff;
    }
}

@media((min-width:0px) and (max-width:576px)) {
    .password_reset_container>div {
        width: 95%;
    }
}

@media((min-width:577px) and (max-width:768px)) {
    .password_reset_container>div {
        width: 75%;
    }
}

@media((min-width:769px) and (max-width:992px)) {
    .password_reset_container>div {
        width: 75%;
    }
}

@media((min-width:993px) and (max-width:1200px)) {
    .password_reset_container>div {
        width: 60%;
    }
}