.password_reset_container {
    height: 100svh;
    width: 100%;
}

.password_reset_container>div {
    width: 30vw;
    height: 60svh;
    margin: auto;
}

.password_reset_container>div>img {
    width: 100%;
    height: 100%;
}

.password_reset_container>div>p:nth-child(2) {
    font-size: var(--list-primary-text);
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}

.password_reset_container>div>p:nth-child(3),
.password_reset_container>div>p:nth-child(4) {
    font-size: var(--list-content-body-text);
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}

.password_reset_container>div>button {
    height: 4rem;
    width: 10rem;
    border: 0.1rem solid #000;
    color: #000;
    background-color: #efefef;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    font-size: var(--list-content-body-text);

    &:hover {
        background-color: #000;
        color: var(--light-color-4);
    }
}

@media((min-width:0px) and (max-width:430px)) {
    .password_reset_container>div {
        width: 85vw;
    }
}

@media((min-width:431px) and (max-width:768px)) {
    .password_reset_container>div {
        width: 65vw;
    }
}

@media((min-width:769px) and (max-width:1000px)) {
    .password_reset_container>div {
        width: 45vw;
    }
}

@media((min-width:1001px) and (max-width:1250px)) {
    .password_reset_container>div {
        width: 65%;
    }
}