.password_reset_container{
    height: 100vh;
    width: 100%;
}

.password_reset_container>div{
    width: 50vw;
    height: 100%;
    margin: auto;
    padding-block: 5rem;
}

.password_reset_container>div>img{
    width: 90%;
    height: 60vh;
}

.password_reset_container>div>p:nth-child(2){
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.password_reset_container>div>p:nth-child(3),
.password_reset_container>div>p:nth-child(4){
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
}

.password_reset_container>div>button{
    height: 4.4rem;
    width: 50%;
    border-radius: 6.5rem;
    background-color: var(--primary-bg-color3);
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    outline: none;
    padding-inline: 1rem;
    color: var(--primary-text-light-color1);
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    margin-top: 1rem;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.4);
}

@media((min-width:0px) and (max-width:576px)) {
    .password_reset_container>div{
        width: 95%;
    }
}

@media((min-width:577px) and (max-width:768px)) {
    .password_reset_container>div{
        width: 75%;
    }
}

@media((min-width:769px) and (max-width:992px)) {
    .password_reset_container>div{
        width: 75%;
    }
}

@media((min-width:993px) and (max-width:1200px)) {
    .password_reset_container>div{
        width: 60%;
    }
}