.admin_edit_barber_wrapper {
    height: calc(100vh - 6rem);
    width: 100%;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.admin_edit_barber_wrapper>p {
    font-size: 2rem;
    font-weight: bold;
}

.admin_edit_barber_wrapper_container {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 0rem;
    border-radius: 1.7rem;
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -ms-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    padding-inline: 1.5rem;
    padding-block: 2rem;
    overflow-y: scroll;
}

.admin_edit_barber_wrapper_container::-webkit-scrollbar {
    width: 6px !important;
    height: 7px;
}

.admin_edit_barber_wrapper_container::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.admin_edit_barber_wrapper_container::-webkit-scrollbar-thumb {
    background: var(--primary-bg-color3) !important;
}

.admin_edit_barber_wrapper_container::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 98, 255) !important;
}

.admin_edit_barber_wrapper_container>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.admin_edit_barber_wrapper_container>div>p {
    font-size: 1.6rem;
}

.admin_edit_barber_wrapper_container>div>input {
    min-height: 4rem;
    background-color: var(--bg-color3);
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding-inline: 1rem;
    font-size: 1.6rem;
}

.admin_edit_barber_wrapper_container>div>input:focus {
    outline: 2px solid var(--primary-bg-color3);
}


.admin_edit_barber_wrapper_container>div:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.admin_edit_barber_wrapper_container>div:nth-child(4)>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin_edit_barber_wrapper_container>div:nth-child(4)>div>p {
    font-size: 1.6rem;
}

.admin_edit_barber_wrapper_container>div:nth-child(4)>div>input {
    width: 100%;
    min-height: 4rem;
    background-color: var(--bg-color3);
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding-inline: 1rem;
    font-size: 1.4rem;
}

.admin_edit_barber_wrapper_container>div:nth-child(4)>div>input:focus {
    outline: 2px solid var(--primary-bg-color3);
}

.admin_edit_barber_wrapper_container>p:nth-child(5) {
    line-height: 3rem;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.admin_barber_services_container {
    height: 30rem;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--bg-color3);
    margin-bottom: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    overflow: scroll;
}

.admin_barber_services_container::-webkit-scrollbar {
    width: 6px !important;
    height: 7px;
}

.admin_barber_services_container::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.admin_barber_services_container::-webkit-scrollbar-thumb {
    background: var(--primary-bg-color3) !important;
}

.admin_barber_services_container::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 98, 255) !important;
}

.admin_barber_services_container::-webkit-scrollbar-corner{
    background: transparent;
}

.admin_barber_services_container_item {
    min-height: 6rem;
    min-width: 90rem;
    max-width: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: var(--primary-bg-light-color1);
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.4fr 0.4fr;
    place-items: center;
    font-size: 1.4rem;
}

.admin_barber_services_container_item>div{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.admin_barber_services_container_item>div>p:nth-child(1){
    font-size: 1.6rem;
    font-weight: bold;
}

.admin_barber_services_container_item>div>p:nth-child(2){
    font-size: 1.6rem;
    font-weight: 500;
}

.admin_barber_services_container_item>div:nth-child(3)>input{
    width: 15rem;
    margin: auto;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.6rem;
    font-weight: 500;
}

.admin_barber_services_container_item>div:nth-child(4){
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    /* background-color: var(--primary-bg-color3); */
    color: var(--primary-text-light-color1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.admin_barber_services_container_item>div:nth-child(3)>input:focus{
    outline: none;
    border-bottom: 2px solid var(--primary-bg-color3);
}

.admin_edit_barber_wrapper_container>div:last-of-type{
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
}

.admin_edit_barber_wrapper_container>div:last-of-type button{
    width: 40%;
    height: 4.5rem;
    margin: auto;
    border: none;
    cursor: pointer;
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    font-weight: 500;
    border-radius: 1.7rem;
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -ms-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    font-size: 1.6rem;
    box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
}


.react-international-phone-input-container .react-international-phone-input{
    width: 100%;
    background-color: transparent !important;
    min-height: 4rem !important;
    border: none !important;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.react-international-phone-input-container .react-international-phone-country-selector-button {
    background-color: transparent !important;
    min-height: 4rem !important;
    width: 6rem !important;
    border: none !important;
    border-top-left-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
}

.react-international-phone-country-selector-dropdown {
    width: 30rem !important;
}

.admin_barber_services_container_item_error{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_edit_barber_wrapper_container>div:nth-child(4)>div:nth-child(1)>div{
    background-color: var(--bg-color3);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

/* Dark Css Style */

.admin_edit_barber_wrapper.dark>p:nth-child(1){
    color: var(--primary-text-light-color1);
}

.admin_edit_barber_wrapper_container.dark{
    background-color: var(--dark-mode-bg-color-4);
}

.admin_edit_barber_wrapper_container.dark>div>p{
    color: var(--primary-text-light-color1);
}

.admin_edit_barber_wrapper_container.dark>div>input{
    color: var(--primary-text-light-color1);
    background-color: var(--dark-mode-bg-color-2);
}

.admin_edit_barber_wrapper_container.dark>div:nth-child(4)>div>p{
    color: var(--primary-text-light-color1);
}

.admin_edit_barber_wrapper_container.dark>div:nth-child(4)>div>input{
    color: var(--primary-text-light-color1);
    background-color: var(--dark-mode-bg-color-2);
}

.admin_edit_barber_wrapper_container.dark>p:nth-child(5){
    color: var(--primary-text-light-color1);
}

.admin_barber_services_container.dark{
    background-color: var(--dark-mode-bg-color-2) !important;
}

.admin_barber_services_container_item.dark{
    background-color: var(--dark-mode-bg-color-4);
}

.admin_barber_services_container_item.dark>div>p:nth-child(1),
.admin_barber_services_container_item.dark>div>p:nth-child(2){
    color: var(--primary-text-light-color1);
}

.admin_barber_services_container_item.dark>div:nth-child(3)>input{
    background-color: var(--dark-mode-bg-color-4);
    color: var(--primary-text-light-color1);
    border-bottom: 2px solid var(--primary-text-light-color1);
}

.admin_barber_services_container_item_error.dark p{
    color: var(--primary-text-light-color1);
}

.admin_edit_barber_wrapper_container.dark>div:nth-child(4)>div:nth-child(1)>div{
    background-color: var(--dark-mode-bg-color-2);
}

.admin_edit_barber_wrapper_container.dark>div:nth-child(4)>div:nth-child(1)>div input{
    color: var(--primary-text-light-color1);
    
}

@media screen and (min-width:0px) and (max-width:430px) {
    .admin_edit_barber_wrapper{
        width: calc(100vw - 2rem);
    }
    .admin_edit_barber_wrapper_container>div:nth-child(4){
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:431px) and (max-width:768px){
    .admin_edit_barber_wrapper{
        width: calc(100vw - 2rem);
    }
    .admin_edit_barber_wrapper_container>div:nth-child(4){
        grid-template-columns: 1fr;
    }
}