.admin_edit_barber_wrapper {
    height: var(--list-wrapper-height);
    width: 100%;
    padding: 2rem;
    background-color: var(--light-color-4);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.admin_edit_barber_wrapper_left {
    width: 100%;
    height: 100%;
}

.admin_edit_barber_wrapper_left>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;

    &>p {
        font-size: var(--font-size-1);
        font-weight: 600;
    }
}

.admin_edit_barber_content_wrapper_left {
    width: 100%;
    overflow: auto;
    height: calc(calc(var(--list-wrapper-height)) - 5rem - 4rem);
}

.admin_edit_barber_content_wrapper_left {
    height: calc(calc(var(--list-wrapper-height)) - 5rem - 4rem);
    width: 100%;

    &>div {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &>p {
            font-size: var(--font-size-4);
            font-weight: 600;
            line-height: 1.5rem;
        }

        &>input {
            width: 100%;
            height: 4rem;
            padding-inline: 1rem;
            font-size: var(--font-size-4);
            background-color: var(--light-color-3);
            border: none;
            outline: none;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
        }
    }
}

.edit_barber_btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    width: 10rem;
    height: 4rem;
    border: none;
    cursor: pointer;
    background-color: var(--color-3);
    border: 0.1rem solid var(--color-2);
    transition: var(--btn-transition);
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    margin-inline: auto;
    font-size: var(--font-size-2);
    color: var(--color-2);

    &:hover {
        background-color: var(--color-2);
        color: var(--light-color-4);
    }
}

.admin_edit_barber_wrapper_right {
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    overflow: auto;
}

.admin_edit_barber_wrapper_right>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;

    &>p {
        font-size: var(--font-size-1);
        font-weight: 600;
    }
}

.admin_edit_barber_content_wrapper_right {
    width: 100%;
    height: 54rem;
    background-color: var(--light-color-3);
    border-radius: var(--input-border-radius);
    padding: 1.5rem;
    overflow-y: auto;
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
}

.service_item {
    height: 20rem;
    width: 100%;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    margin-bottom: 1.5rem;
    background-color: var(--light-color-4);
    padding: 1rem;
    position: relative;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.service_add_icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    background-color: var(--color-3);
    border: 0.1rem solid var(--color-2);
    cursor: pointer;
    color: var(--color-2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    font-size: var(--font-size-7);

    &:hover {
        background-color: var(--color-2);
        color: var(--light-color-4);
    }
}

.service_delete_icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    background-color: var(--color-7);
    border: 0.1rem solid var(--color-6);
    cursor: pointer;
    color: var(--color-6);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    font-size: var(--font-size-7);

    &:hover {
        background-color: var(--color-6);
        color: var(--light-color-4);
    }
}

.service_item_top {
    height: 60%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;

    &>div:nth-child(1) {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);

        &>img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }

    &>div:nth-child(2) {
        width: calc(100% - 7rem - 1rem);
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &>p:nth-child(1) {
            font-size: var(--font-size-4);
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        &>p:nth-child(2) {
            font-size: var(--font-size-2);
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        &>p:nth-child(3) {
            font-size: var(--font-size-2);
            font-weight: 500;
            color: gray;
        }
    }
}

.service_item_bottom {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>div:nth-child(1) {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            &>p:nth-child(1) {
                font-size: var(--font-size-4);
                font-weight: 600;
                color: gray;
                margin-bottom: 0.9rem;
                text-align: center;
            }

            &>p:nth-child(2) {
                font-size: var(--font-size-1);
                font-weight: 600;
                text-align: center;
            }
        }
    }

    &>div:nth-child(2) {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            &>p:nth-child(1) {
                font-size: var(--font-size-4);
                font-weight: 600;
                color: gray;
                margin-bottom: 0.9rem;
                text-align: center;
            }

            &>div:nth-child(2) {
                display: flex;
                align-items: center;
                gap: 0.8rem;

                &>div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: var(--font-size-1);
                }

                &>input {
                    width: 6rem;
                    border: none;
                    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
                    outline: none;
                    font-size: var(--font-size-1);
                    font-weight: 600;
                    text-align: center;

                    &:focus {
                        border-bottom: 0.1rem solid var(--color-2);
                    }
                }

                &>p {
                    font-size: var(--font-size-1);
                    font-weight: 600;
                }
            }
        }
    }
}

.admin_edit_barber_content_wrapper_right_error {
    width: 100%;
    height: 54rem;
    background-color: var(--light-color-3);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &>p {
        font-size: var(--font-size-5);
        font-weight: 500;
    }
}

.admin_edit_barber_content_wrapper_right_loading {
    width: 100%;
    height: 54rem;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mobile_modal,
.add_services_btn,
.mobile_add_services {
    display: none;
}

.error_message {
    font-size: 1.2rem !important;
    font-weight: 500;
    color: var(--color-6);
}

.mobile_container {
    background-color: var(--light-color-3);
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
}


/* dark mode  */

.admin_edit_barber_wrapper.dark {
    background-color: var(--dark-color-2);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.admin_edit_barber_content_wrapper_left.dark {
    &>div {
        &>input {
            background-color: var(--dark-color-3);
        }
    }
}

.mobile_container.dark {
    background-color: var(--dark-color-3);
}

.admin_edit_barber_content_wrapper_right.dark {
    background-color: var(--dark-color-1);
}

.service_item.dark {
    background-color: var(--dark-color-3);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);

    .service_item_top {
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    }

    .service_item_bottom{
        &>div:nth-child(2) {
            &>div {
                &>div:nth-child(2) {
                    &>div {
                        color: var(--light-color-4);
                    }
                    &>input{
                        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
                        background: none;
                    }
                }
            }
        }
    }
}


.admin_edit_barber_content_wrapper_right_error.dark,
.admin_edit_barber_content_wrapper_right_loading.dark{
    background-color: var(--dark-color-1);
}


@media screen and (min-width:0px) and (max-width:430px) {
    .mobile_modal {
        display: block;
    }

    .admin_edit_barber_content_wrapper_right_loading,
    .admin_edit_barber_content_wrapper_right,
    .admin_edit_barber_content_wrapper_right_error,
    .admin_edit_barber_wrapper_right {
        display: none;
    }

    .admin_edit_barber_wrapper {
        grid-template-columns: 1fr;
    }

    .add_services_btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: var(--list-header-btn-padding);
        height: 4rem;
        border: none;
        cursor: pointer;
        background-color: var(--color-3);
        border: 0.1rem solid var(--color-2);
        border-radius: var(--list-btn-border-radius);
        -webkit-border-radius: var(--list-btn-border-radius);
        -moz-border-radius: var(--list-btn-border-radius);
        -ms-border-radius: var(--list-btn-border-radius);
        -o-border-radius: var(--list-btn-border-radius);
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);
        font-weight: 500;
        font-size: var(--font-size-8);
        color: var(--color-2);

        &:hover {
            background-color: var(--color-2);
            color: var(--light-color-4);
        }
    }


    .mobile_service_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        padding: 1rem;
        background-color: var(--light-color-4);
        border: none;
        width: 95vw;
        padding: 1rem;
        border-radius: var(--input-border-radius);
        -webkit-border-radius: var(--input-border-radius);
        -moz-border-radius: var(--input-border-radius);
        -ms-border-radius: var(--input-border-radius);
        -o-border-radius: var(--input-border-radius);

        &>button:nth-child(1) {
            margin-left: auto;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            background-color: var(--color-7);
            border: 0.1rem solid var(--color-6);
            cursor: pointer;
            color: var(--color-6);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--font-size-7);
            margin-bottom: 1rem;

            &:hover {
                background-color: var(--color-6);
                color: var(--light-color-4);

                &>div {
                    color: var(--light-color-4);
                }
            }
        }

        &>div:nth-child(2) {
            height: 36.5rem;
            overflow-y: auto;
            background-color: var(--light-color-3);
            padding: 1.5rem;
        }

    }

    .admin_mobile_edit_barber_content_wrapper_right_error{
        display: grid;
        place-items: center;
        justify-content: center;
    }

    /* dark mode */

    .mobile_service_container.dark{
        background-color: var(--dark-color-2);
        border: 0.1rem solid rgba(255, 255, 255, 0.2);

        &>div:nth-child(2){
            background-color: var(--dark-color-1);
            border: 0.1rem solid rgba(255, 255, 255, 0.2);
        }
    }
}

@media screen and (min-width:431px) and (max-width:768px) {
    .mobile_modal {
        display: block;
    }

    .admin_edit_barber_content_wrapper_right_loading,
    .admin_edit_barber_content_wrapper_right,
    .admin_edit_barber_content_wrapper_right_error,
    .admin_edit_barber_wrapper_right {
        display: none;
    }

    .admin_edit_barber_wrapper {
        grid-template-columns: 1fr;
    }

    .add_services_btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: var(--list-header-btn-padding);
        height: 4rem;
        border: none;
        cursor: pointer;
        background-color: var(--color-3);
        border: 0.1rem solid var(--color-2);
        border-radius: var(--list-btn-border-radius);
        -webkit-border-radius: var(--list-btn-border-radius);
        -moz-border-radius: var(--list-btn-border-radius);
        -ms-border-radius: var(--list-btn-border-radius);
        -o-border-radius: var(--list-btn-border-radius);
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);
        font-weight: 500;
        font-size: var(--font-size-8);
        color: var(--color-2);

        &:hover {
            background-color: var(--color-2);
            color: var(--light-color-4);
        }
    }


    .mobile_service_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        padding: 1rem;
        background-color: var(--light-color-4);
        border: none;
        width: 75vw;
        padding: 1rem;
        border-radius: var(--input-border-radius);
        -webkit-border-radius: var(--input-border-radius);
        -moz-border-radius: var(--input-border-radius);
        -ms-border-radius: var(--input-border-radius);
        -o-border-radius: var(--input-border-radius);

        &>button:nth-child(1) {
            margin-left: auto;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            background-color: var(--color-7);
            border: 0.1rem solid var(--color-6);
            cursor: pointer;
            color: var(--color-6);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--font-size-7);
            margin-bottom: 1rem;

            &:hover {
                background-color: var(--color-6);
                color: var(--light-color-4);

                &>div {
                    color: var(--light-color-4);
                }
            }
        }

        &>div:nth-child(2) {
            height: 36.5rem;
            overflow-y: auto;
            background-color: var(--light-color-3);
            padding: 1.5rem;
        }

    }

    
    .admin_mobile_edit_barber_content_wrapper_right_error{
        display: grid;
        place-items: center;
        justify-content: center;
    }

    /* dark mode */

    .mobile_service_container.dark{
        background-color: var(--dark-color-2);
        border: 0.1rem solid rgba(255, 255, 255, 0.2);

        &>div:nth-child(2){
            background-color: var(--dark-color-1);
            border: 0.1rem solid rgba(255, 255, 255, 0.2);
        }
    }
}

@media screen and (min-width:769px) and (max-width:992px) {
    .mobile_modal {
        display: block;
    }

    .admin_edit_barber_content_wrapper_right_loading,
    .admin_edit_barber_content_wrapper_right,
    .admin_edit_barber_content_wrapper_right_error,
    .admin_edit_barber_wrapper_right {
        display: none;
    }

    .admin_edit_barber_wrapper {
        grid-template-columns: 1fr;
    }

    .add_services_btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: var(--list-header-btn-padding);
        height: 4rem;
        border: none;
        cursor: pointer;
        background-color: var(--color-3);
        border: 0.1rem solid var(--color-2);
        border-radius: var(--list-btn-border-radius);
        -webkit-border-radius: var(--list-btn-border-radius);
        -moz-border-radius: var(--list-btn-border-radius);
        -ms-border-radius: var(--list-btn-border-radius);
        -o-border-radius: var(--list-btn-border-radius);
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);
        font-weight: 500;
        font-size: var(--font-size-8);
        color: var(--color-2);

        &:hover {
            background-color: var(--color-2);
            color: var(--light-color-4);
        }
    }


    .mobile_service_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        padding: 1rem;
        background-color: var(--light-color-4);
        border: none;
        width: 55vw;
        padding: 1rem;
        border-radius: var(--input-border-radius);
        -webkit-border-radius: var(--input-border-radius);
        -moz-border-radius: var(--input-border-radius);
        -ms-border-radius: var(--input-border-radius);
        -o-border-radius: var(--input-border-radius);

        &>button:nth-child(1) {
            margin-left: auto;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            background-color: var(--color-7);
            border: 0.1rem solid var(--color-6);
            cursor: pointer;
            color: var(--color-6);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--font-size-7);
            margin-bottom: 1rem;

            &:hover {
                background-color: var(--color-6);
                color: var(--light-color-4);

                &>div {
                    color: var(--light-color-4);
                }
            }
        }

        &>div:nth-child(2) {
            height: 36.5rem;
            overflow-y: auto;
            background-color: var(--light-color-3);
            padding: 1.5rem;
        }
    }

    
    .admin_mobile_edit_barber_content_wrapper_right_error{
        display: grid;
        place-items: center;
        justify-content: center;
    }

    /* dark mode */

    .mobile_service_container.dark{
        background-color: var(--dark-color-2);
        border: 0.1rem solid rgba(255, 255, 255, 0.2);

        &>div:nth-child(2){
            background-color: var(--dark-color-1);
            border: 0.1rem solid rgba(255, 255, 255, 0.2);
        }
    }
}