.admin_edit_barber_wrapper {
    height: var(--list-wrapper-height);
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.admin_edit_barber_wrapper_left {
    width: 100%;
    height: 100%;
}

.admin_edit_barber_wrapper_left>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;

    &>p {
        font-size: var(--list-primary-text);
        font-weight: 600;
    }
}

.admin_edit_barber_content_wrapper_left {
    width: 100%;
    overflow: auto;
    height: calc(calc(var(--list-wrapper-height)) - 5rem - 4rem);
}

.admin_edit_barber_content_wrapper_left {
    height: calc(calc(var(--list-wrapper-height)) - 5rem - 4rem);
    width: 100%;

    &>div {
        margin-bottom: 3rem;

        &>p {
            font-size: var(--list-content-body-text);
            font-weight: 600;
            margin-bottom: 1rem;
            line-height: 1.5rem;
        }

        &>input {
            width: 100%;
            height: 4rem;
            padding-inline: 1rem;
            font-size: var(--list-content-body-text);
            background-color: #EEEDED;
            border: none;
            outline: none;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
        }
    }
}

.edit_barber_btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    width: 10rem;
    height: 4rem;
    border: none;
    cursor: pointer;
    background-color: #0867ff25;
    border: 0.1rem solid #0866ff;
    transition: var(--btn-transition);
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    margin-inline: auto;

    &>p {
        font-weight: 500;
        font-size: var(--list-header-btn-text);
        color: #0866ff;
    }

    &>div {
        font-size: var(--list-header-btn-icon);
        font-weight: 500;
        color: #0866ff;
    }

    &:hover {
        background-color: #0866ff;

        &>p {
            color: #fff;
        }

        &>div {
            color: #fff;
        }
    }
}

.admin_edit_barber_wrapper_right {
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    overflow: auto;
}

.admin_edit_barber_wrapper_right>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;

    &>p {
        font-size: var(--list-primary-text);
        font-weight: 600;
    }
}

.admin_edit_barber_content_wrapper_right {
    width: 100%;
    height: 54rem;
    background-color: #EEEDED;
    border-radius: var(--input-border-radius);
    padding: 1.5rem;
    overflow-y: auto;
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
}

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.service_item {
    height: 16rem;
    width: 100%;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    margin-bottom: 1.5rem;
    background-color: #fff;
    padding: 1rem;
    position: relative;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.service_add_icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    background-color: #0867ff25;
    border: 0.1rem solid #0866ff;
    cursor: pointer;
    color: #0866ff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition:var(--btn-transition);
    -webkit-transition:var(--btn-transition);
    -moz-transition:var(--btn-transition);
    -ms-transition:var(--btn-transition);
    -o-transition:var(--btn-transition);
    font-size: var( --list-modal-header-icon);

    &:hover{
        background-color: #0866ff;
        color: var(--primary-text-light-color1);
    }
}

.service_delete_icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    background-color: #ff000025;
    border: 0.1rem solid red;
    cursor: pointer;
    color: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    font-size: var( --list-modal-header-icon);

    &:hover{
        background-color: red;
        color: var(--primary-text-light-color1);
    }
}

.service_item_top {
    height: 60%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;

    &>div:nth-child(1) {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);

        &>img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }

    &>div:nth-child(2) {
        width: calc(100% - 7rem - 1rem);
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &>p:nth-child(1) {
            font-size: var(--list-content-body-text);
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        &>p:nth-child(2) {
            font-size: var(--list-header-btn-text);
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        &>p:nth-child(3) {
            font-size: var(--list-header-btn-text);
            font-weight: 500;
            color: gray;
        }
    }
}

.service_item_bottom {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>div:nth-child(1) {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            &>p:nth-child(1) {
                font-size: var(--list-content-body-text);
                font-weight: 600;
                color: gray;
                margin-bottom: 0.9rem;
                text-align: center;
            }

            &>p:nth-child(2) {
                font-size:var(--list-primary-text);
                font-weight: 600;
                text-align: center;
            }
        }
    }

    &>div:nth-child(2) {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            &>p:nth-child(1) {
                font-size: var(--list-content-body-text);
                font-weight: 600;
                color: gray;
                margin-bottom: 0.9rem;
                text-align: center;
            }

            &>div:nth-child(2) {
                display: flex;
                align-items: center;
                gap: 0.8rem;

                &>div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: var(--list-primary-text);
                }

                &>input {
                    width: 6rem;
                    border: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    outline: none;
                    font-size: var(--list-primary-text);
                    font-weight: 600;
                    text-align: center;

                    &:focus {
                        border-bottom: 1px solid #0866ff;
                    }
                }

                &>p {
                    font-size: var(--list-primary-text);
                    font-weight: 600;
                }
            }
        }
    }
}

.admin_edit_barber_content_wrapper_right_error {
    width: 100%;
    height: 54rem;
    background-color: #EEEDED;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &>p {
        font-size: var(--list-content-error-text);
        font-weight: 600;
    }
}

.admin_edit_barber_content_wrapper_right_loading {
    width: 100%;
    height: 54rem;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mobile_modal,
.add_services_btn,
.mobile_add_services {
    display: none;
}


@media screen and (min-width:0px) and (max-width:430px) {
    .mobile_modal {
        display: block;
    }

    .admin_edit_barber_content_wrapper_right_loading,
    .admin_edit_barber_content_wrapper_right,
    .admin_edit_barber_content_wrapper_right_error,
    .admin_edit_barber_wrapper_right {
        display: none;
    }

    .admin_edit_barber_wrapper {
        grid-template-columns: 1fr;
    }

    .add_services_btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: var(--list-header-btn-padding);
        height: 4rem;
        border: none;
        cursor: pointer;
        background-color: #0867ff25;
        border: 1px solid #0866ff;
        border-radius: var(--list-btn-border-radius);
        -webkit-border-radius: var(--list-btn-border-radius);
        -moz-border-radius: var(--list-btn-border-radius);
        -ms-border-radius: var(--list-btn-border-radius);
        -o-border-radius: var(--list-btn-border-radius);
        transition:var(--btn-transition);
        -webkit-transition:var(--btn-transition);
        -moz-transition:var(--btn-transition);
        -ms-transition:var(--btn-transition);
        -o-transition:var(--btn-transition);
        font-weight: 500;
        font-size: var(--list-modal-header-normal-font);
        color: #0866ff;
        
        &:hover{
            background-color: #0866ff;
            color: #fff;
        }
    }


    .mobile_service_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        padding: 1rem;
        background-color: #fff;
        border: none;
        width: 95vw;
        padding: 1rem;
        border-radius: var(--input-border-radius);
        -webkit-border-radius: var(--input-border-radius);
        -moz-border-radius: var(--input-border-radius);
        -ms-border-radius: var(--input-border-radius);
        -o-border-radius: var(--input-border-radius);

        &>button:nth-child(1){
            margin-left: auto;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            background-color: #ff000025;
            border: 0.1rem solid red;
            cursor: pointer;
            color: red;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--list-modal-header-icon);
            margin-bottom: 1rem;

            &:hover{
                background-color: red;
                color: #fff;

                &>div {
                    color: var(--primary-text-light-color1);
                }
            }
        }

        &>div:nth-child(2) {
            height: 36.5rem;
            overflow-y: auto;
            background-color: #EEEDED;
            padding: 1.5rem;

            &::-webkit-scrollbar {
                width: 0.6rem;
                height: 0.7rem;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: #0867ff48;
                border-radius: var(--list-wrapper-border-radius);
                -webkit-border-radius: var(--list-wrapper-border-radius);
                -moz-border-radius: var(--list-wrapper-border-radius);
                -ms-border-radius: var(--list-wrapper-border-radius);
                -o-border-radius: var(--list-wrapper-border-radius);
}

            &::-webkit-scrollbar-thumb:hover {
                background: rgb(0, 98, 255);
            }

            &::-webkit-scrollbar-corner {
                background-color: transparent;
            }
        }

    }
}

@media screen and (min-width:431px) and (max-width:768px) {
    .mobile_modal {
        display: block;
    }

    .admin_edit_barber_content_wrapper_right_loading,
    .admin_edit_barber_content_wrapper_right,
    .admin_edit_barber_content_wrapper_right_error,
    .admin_edit_barber_wrapper_right {
        display: none;
    }

    .admin_edit_barber_wrapper {
        grid-template-columns: 1fr;
    }

    .add_services_btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: var(--list-header-btn-padding);
        height: 4rem;
        border: none;
        cursor: pointer;
        background-color: #0867ff25;
        border: 1px solid #0866ff;
        border-radius: var(--list-btn-border-radius);
        -webkit-border-radius: var(--list-btn-border-radius);
        -moz-border-radius: var(--list-btn-border-radius);
        -ms-border-radius: var(--list-btn-border-radius);
        -o-border-radius: var(--list-btn-border-radius);
        transition:var(--btn-transition);
        -webkit-transition:var(--btn-transition);
        -moz-transition:var(--btn-transition);
        -ms-transition:var(--btn-transition);
        -o-transition:var(--btn-transition);
        font-weight: 500;
        font-size: var(--list-modal-header-normal-font);
        color: #0866ff;
        
        &:hover{
            background-color: #0866ff;
            color: #fff;
        }
    }


    .mobile_service_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        padding: 1rem;
        background-color: #fff;
        border: none;
        width: 75vw;
        padding: 1rem;
        border-radius: var(--input-border-radius);
        -webkit-border-radius: var(--input-border-radius);
        -moz-border-radius: var(--input-border-radius);
        -ms-border-radius: var(--input-border-radius);
        -o-border-radius: var(--input-border-radius);

        &>button:nth-child(1){
            margin-left: auto;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            background-color: #ff000025;
            border: 0.1rem solid red;
            cursor: pointer;
            color: red;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--list-modal-header-icon);
            margin-bottom: 1rem;

            &:hover{
                background-color: red;
                color: #fff;

                &>div {
                    color: var(--primary-text-light-color1);
                }
            }
        }

        &>div:nth-child(2) {
            height: 36.5rem;
            overflow-y: auto;
            background-color: #EEEDED;
            padding: 1.5rem;

            &::-webkit-scrollbar {
                width: 0.6rem;
                height: 0.7rem;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: #0867ff48;
                border-radius: var(--list-wrapper-border-radius);
                -webkit-border-radius: var(--list-wrapper-border-radius);
                -moz-border-radius: var(--list-wrapper-border-radius);
                -ms-border-radius: var(--list-wrapper-border-radius);
                -o-border-radius: var(--list-wrapper-border-radius);
}

            &::-webkit-scrollbar-thumb:hover {
                background: rgb(0, 98, 255);
            }

            &::-webkit-scrollbar-corner {
                background-color: transparent;
            }
        }

    }
}

@media screen and (min-width:769px) and (max-width:992px) {
    .mobile_modal {
        display: block;
    }

    .admin_edit_barber_content_wrapper_right_loading,
    .admin_edit_barber_content_wrapper_right,
    .admin_edit_barber_content_wrapper_right_error,
    .admin_edit_barber_wrapper_right {
        display: none;
    }

    .admin_edit_barber_wrapper {
        grid-template-columns: 1fr;
    }

    .add_services_btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: var(--list-header-btn-padding);
        height: 4rem;
        border: none;
        cursor: pointer;
        background-color: #0867ff25;
        border: 1px solid #0866ff;
        border-radius: var(--list-btn-border-radius);
        -webkit-border-radius: var(--list-btn-border-radius);
        -moz-border-radius: var(--list-btn-border-radius);
        -ms-border-radius: var(--list-btn-border-radius);
        -o-border-radius: var(--list-btn-border-radius);
        transition:var(--btn-transition);
        -webkit-transition:var(--btn-transition);
        -moz-transition:var(--btn-transition);
        -ms-transition:var(--btn-transition);
        -o-transition:var(--btn-transition);
        font-weight: 500;
        font-size: var(--list-modal-header-normal-font);
        color: #0866ff;
        
        &:hover{
            background-color: #0866ff;
            color: #fff;
        }
    }


    .mobile_service_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        padding: 1rem;
        background-color: #fff;
        border: none;
        width: 55vw;
        padding: 1rem;
        border-radius: var(--input-border-radius);
        -webkit-border-radius: var(--input-border-radius);
        -moz-border-radius: var(--input-border-radius);
        -ms-border-radius: var(--input-border-radius);
        -o-border-radius: var(--input-border-radius);

        &>button:nth-child(1){
            margin-left: auto;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            background-color: #ff000025;
            border: 0.1rem solid red;
            cursor: pointer;
            color: red;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--list-modal-header-icon);
            margin-bottom: 1rem;

            &:hover{
                background-color: red;
                color: #fff;

                &>div {
                    color: var(--primary-text-light-color1);
                }
            }
        }

        &>div:nth-child(2) {
            height: 36.5rem;
            overflow-y: auto;
            background-color: #EEEDED;
            padding: 1.5rem;

            &::-webkit-scrollbar {
                width: 0.6rem;
                height: 0.7rem;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: #0867ff48;
                border-radius: var(--list-wrapper-border-radius);
                -webkit-border-radius: var(--list-wrapper-border-radius);
                -moz-border-radius: var(--list-wrapper-border-radius);
                -ms-border-radius: var(--list-wrapper-border-radius);
                -o-border-radius: var(--list-wrapper-border-radius);
}

            &::-webkit-scrollbar-thumb:hover {
                background: rgb(0, 98, 255);
            }

            &::-webkit-scrollbar-corner {
                background-color: transparent;
            }
        }

    }
}