.barber_dashboard_header_wrapper {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #ebf5ff; */
    background-color: #efefef;
}

.barber_dashboard_btn_container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.profile_wrapper {
    display: flex;
    align-items: center;
    gap: 2.3rem;
}

/* .profile_wrapper>div:nth-child(1) {
    padding: 0.6em 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--list-content-body-text);
    cursor: pointer;
    background-color: var(--light-color-4);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */

.profile_wrapper>div:nth-child(1) {
    height: 3.7rem;
    width: 3.7rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: var(--cmmn-box-shadow-y);
    cursor: pointer;
}

.profile_wrapper>div:nth-child(1)>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile_drop_container {
    position: absolute;
    top: 5.5rem;
    right: 2rem;
    padding: 1rem;
    box-shadow: var(--cmmn-box-shadow-y);
    z-index: 100;
    background-color: var(--light-color-4);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    width: 13rem;
    overflow: hidden;
}

.profile_drop_container>p {
    min-height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    cursor: pointer;
    font-weight: 500;
}

.profile_drop_container>div:hover {
    background-color: #000;
    color: var(--light-color-4);
    cursor: pointer;
}

.profile_drop_container>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding-inline: 0.8rem;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}

.profile_drop_container>div>div:nth-child(2) {
    font-size: var(--list-modal-header-normal-font);
    font-weight: 500;
}

.profile_drop_container>div>div:nth-child(1) {
    display: grid;
    place-items: center;
    font-size: var(--list-modal-header-normal-font);
    font-weight: 500;
}

.barber_dashboard_btn_container {
    & button {
        height: 3.5rem;
        width: 9rem;
        border-radius: var(--list-btn-border-radius);
        -webkit-border-radius: var(--list-btn-border-radius);
        -moz-border-radius: var(--list-btn-border-radius);
        -ms-border-radius: var(--list-btn-border-radius);
        -o-border-radius: var(--list-btn-border-radius);
        border: none;
        cursor: not-allowed;
        font-size: var(--list-modal-header-normal-font);
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);

        &:hover {
            color: var(--light-color-4);
        }
    }

    .barber_online_active,
    .barber_clock_active {
        background-color: rgba(50, 205, 50, 0.158);
        border: 0.1rem solid limegreen !important;
        color: limegreen;

        &:hover {
            background-color: limegreen;
            color: var(--light-color-4);
        }
    }

    .barber_online_inactive,
    .barber_clock_inactive {
        background-color: #ff000032;
        border: 0.1rem solid var(--color-6) !important;
        color: var(--color-6);

        &:hover {
            background-color: var(--color-6);
            color: var(--light-color-4);
        }
    }

}


.dashboard_mobile_menu {
    display: none;
}

.dashboard_mobile_sidebar_container {
    display: none;
}

@media screen and (min-width:0px) and (max-width:430px) {

    .barber_online_active,
    .barber_clock_active {
        background-color: rgba(50, 205, 50, 0.158);
        border: 0.1rem solid limegreen !important;
        color: limegreen;

        &:hover {
            background-color: rgba(50, 205, 50, 0.158) !important;
            color: limegreen !important;
        }
    }

    .barber_online_inactive,
    .barber_clock_inactive {
        background-color: #ff000032;
        border: 0.1rem solid var(--color-6) !important;
        color: var(--color-6);

        &:hover {
            background-color: #ff000032 !important;
            color: var(--color-6) !important;
        }
    }

    .profile_wrapper>div:nth-child(1) {
        display: none;
    }

    .dashboard_mobile_menu {
        display: block;
    }

    .dashboard_mobile_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--list-modal-header-icon);
        font-weight: bold;
        cursor: pointer;
    }

    .dashboard_mobile_sidebar_container {
        position: absolute;
        top: 0px;
        height: 100svh;
        box-shadow: var(--cmmn-box-shadow-x);
        z-index: 1000;
        background-color: var(--light-color-4);
        padding: 2rem;
        transition: width 300ms ease;
        -webkit-transition: width 300ms ease;
        -moz-transition: width 300ms ease;
        -ms-transition: width 300ms ease;
        -o-transition: width 300ms ease;
        display: block;

        &>button:nth-child(1) {
            padding: 0.6rem 0.6rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: none;
            font-size: var(--list-modal-header-icon);
            color: var(--color-6);
            border: 0.1rem solid var(--color-6);
            background-color: var(--color-7);
            font-weight: bold;
            margin-bottom: 2rem;
            margin-left: auto;
        }

        .dashboard_mobile_item {
            background-color: transparent;
            margin-bottom: 2rem;
            display: flex;
            gap: 2rem;
            padding-inline: 1rem;
            height: 4rem;
            width: 100%;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
            align-items: center;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            cursor: pointer;

            &>div {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: var(--list-modal-content-text);
                color: #000;
            }


            &>p {
                font-size: var(--list-modal-content-text);
                color: #000;
            }
        }

        .dashboard_mobile_item.dashboard_mobile_item_active {
            background-color: #000;

            &>div {
                color: var(--light-color-4);
            }


            &>p {
                color: var(--light-color-4);
            }
        }
    }

    .dashboard_mobile_siderbar_content_container {
        height: calc(100svh - calc(3rem + 2rem) - 2rem);
        overflow: auto;
    }

    .dashboard_mobile_sidebar_active {
        width: 70vw;
        left: -1rem;
        display: block;
    }

    .dashboard_mobile_sidebar_inactive {
        display: none;
        width: 0vw;
    }

    .dashboard_theme_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1rem;

        &>p {
            font-size: var(--list-content-body-text);
            font-weight: 600;
        }

        &>button {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: none;
            font-size: var(--list-content-body-text);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }


    .profile_drop_container {
        display: none;
    }
}

@media screen and (min-width:431px) and (max-width:768px) {

    .barber_online_active,
    .barber_clock_active {
        background-color: rgba(50, 205, 50, 0.158);
        border: 0.1rem solid limegreen !important;
        color: limegreen;

        &:hover {
            background-color: rgba(50, 205, 50, 0.158) !important;
            color: limegreen !important;
        }
    }

    .barber_online_inactive,
    .barber_clock_inactive {
        background-color: #ff000032;
        border: 0.1rem solid var(--color-6) !important;
        color: var(--color-6);

        &:hover {
            background-color: #ff000032 !important;
            color: var(--color-6) !important;
        }
    }

    .profile_wrapper>div:nth-child(1) {
        display: none;
    }

    .dashboard_mobile_menu {
        display: block;
    }

    .dashboard_mobile_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--list-modal-header-icon);
        font-weight: bold;
        cursor: pointer;
    }

    .dashboard_mobile_sidebar_container {
        position: absolute;
        top: 0px;
        height: 100svh;
        box-shadow: var(--cmmn-box-shadow-x);
        z-index: 1000;
        background-color: var(--light-color-4);
        padding: 2rem;
        transition: width 300ms ease;
        -webkit-transition: width 300ms ease;
        -moz-transition: width 300ms ease;
        -ms-transition: width 300ms ease;
        -o-transition: width 300ms ease;
        display: block;

        &>button:nth-child(1) {
            padding: 0.6rem 0.6rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: none;
            font-size: var(--list-modal-header-icon);
            color: var(--color-6);
            border: 0.1rem solid var(--color-6);
            background-color: var(--color-7);
            font-weight: bold;
            margin-bottom: 2rem;
            margin-left: auto;
        }

        .dashboard_mobile_item {
            background-color: transparent;
            margin-bottom: 2rem;
            display: flex;
            gap: 2rem;
            padding-inline: 1rem;
            height: 4rem;
            width: 100%;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
            align-items: center;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            cursor: pointer;

            &>div {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: var(--list-modal-content-text);
                color: #000;
            }


            &>p {
                font-size: var(--list-modal-content-text);
                color: #000;
            }
        }

        .dashboard_mobile_item.dashboard_mobile_item_active {
            background-color: #000;

            &>div {
                color: var(--light-color-4);
            }


            &>p {
                color: var(--light-color-4);
            }
        }
    }

    .dashboard_mobile_siderbar_content_container {
        height: calc(100svh - calc(3rem + 2rem) - 2rem);
        overflow: auto;
    }

    .dashboard_mobile_sidebar_active {
        width: 50vw;
        left: -1rem;
        display: block;
    }

    .dashboard_mobile_sidebar_inactive {
        display: none;
        width: 0vw;
    }

    .dashboard_theme_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1rem;

        &>p {
            font-size: var(--list-content-body-text);
            font-weight: 600;
        }

        &>button {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: none;
            font-size: var(--list-content-body-text);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }


    .profile_drop_container {
        display: none;
    }
}

@media screen and (min-width:769px) and (max-width:1140px) {

    .barber_online_active,
    .barber_clock_active {
        background-color: rgba(50, 205, 50, 0.158);
        border: 0.1rem solid limegreen !important;
        color: limegreen;

        &:hover {
            background-color: rgba(50, 205, 50, 0.158) !important;
            color: limegreen !important;
        }
    }

    .barber_online_inactive,
    .barber_clock_inactive {
        background-color: #ff000032;
        border: 0.1rem solid var(--color-6) !important;
        color: var(--color-6);

        &:hover {
            background-color: #ff000032 !important;
            color: var(--color-6) !important;
        }
    }

    .profile_wrapper>div:nth-child(1) {
        display: none;
    }

    .dashboard_mobile_menu {
        display: block;
    }

    .dashboard_mobile_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--list-modal-header-icon);
        font-weight: bold;
        cursor: pointer;
    }

    .dashboard_mobile_sidebar_container {
        position: absolute;
        top: 0px;
        height: 100svh;
        box-shadow: var(--cmmn-box-shadow-x);
        z-index: 1000;
        background-color: var(--light-color-4);
        padding: 2rem;
        transition: width 300ms ease;
        -webkit-transition: width 300ms ease;
        -moz-transition: width 300ms ease;
        -ms-transition: width 300ms ease;
        -o-transition: width 300ms ease;
        display: block;

        &>button:nth-child(1) {
            padding: 0.6rem 0.6rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: none;
            font-size: var(--list-modal-header-icon);
            color: var(--color-6);
            border: 0.1rem solid var(--color-6);
            background-color: var(--color-7);
            font-weight: bold;
            margin-bottom: 2rem;
            margin-left: auto;
        }

        .dashboard_mobile_item {
            background-color: transparent;
            margin-bottom: 2rem;
            display: flex;
            gap: 2rem;
            padding-inline: 1rem;
            height: 4rem;
            width: 100%;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
            align-items: center;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            cursor: pointer;

            &>div {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: var(--list-modal-content-text);
                color: #000;
            }


            &>p {
                font-size: var(--list-modal-content-text);
                color: #000;
            }
        }

        .dashboard_mobile_item.dashboard_mobile_item_active {
            background-color: #000;

            &>div {
                color: var(--light-color-4);
            }


            &>p {
                color: var(--light-color-4);
            }
        }
    }

    .dashboard_mobile_siderbar_content_container {
        height: calc(100svh - calc(3rem + 2rem) - 2rem);
        overflow: auto;
    }

    .dashboard_mobile_sidebar_active {
        width: 30vw;
        left: -1rem;
        display: block;
    }

    .dashboard_mobile_sidebar_inactive {
        display: none;
        width: 0vw;
    }

    .dashboard_theme_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1rem;

        &>p {
            font-size: var(--list-content-body-text);
            font-weight: 600;
        }

        &>button {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: none;
            font-size: var(--list-content-body-text);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }


    .profile_drop_container {
        display: none;
    }
}