
.dashboard_main__modal__container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--tertiary-color-3);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

.dashboard_modal__content{
    width: 70vw;
    height: 60vh;
    padding: 1rem;
    border-radius: 2rem;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.dashboard_modal__content>div:nth-child(3){
    margin-top: 0rem;
    height: 100%;
    border-radius: 1.7rem;
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -ms-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
}

.dashboard_modal__content>div:nth-child(3)>img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 1.7rem;
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -ms-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.dashboard_modal__content>div:nth-child(4){
    margin-top: 1.5rem;
    height: 5rem;
}

.dashboard_modal__content>div:nth-child(4)>div{
    width: 43rem;
    height: 5rem;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboard_modal__content>div:nth-child(4)>div>button{
    height: 100%;
    width: 20rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dashboard_modal__content>div:nth-child(4)>div>button>div{
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-light-color1);
}

.dashboard_modal__content>div:nth-child(4)>div>button>p{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-text-light-color1);
}

.dashboard_modal__content>div:nth-child(4)>div>button:nth-child(1){
    background-color: red;
}

.dashboard_modal__content>div:nth-child(4)>div>button:nth-child(2){
    background-color: var(--primary-bg-color3);
}

.dashboard_modal__content>button{
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    color: red;
    font-weight: 500;
    font-size: 1.6rem;
}

/* Dark Css Style */

.dashboard_modal__content.dark{
    background-color: var(--dark-mode-bg-color-2);
}

.dashboard_modal__content.dark>button:nth-child(1){
    background-color: var(--dark-mode-bg-color-4);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

@media screen and (min-width:0px) and (max-width:430px) {
    .dashboard_modal__content{
        width: 90vw;
        height: 70vh;
    }
    .salon_info_container>div>textarea{
        height: 43vh;
    }
}

@media screen and (min-width:431px) and (max-width:1140px){
    .dashboard_modal__content{
        width: 90vw;
        height: 70vh;
    }
    .salon_info_container>div>textarea{
        height: 43vh;
    }
}