.admin_signin_container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.admin_signin_container>div:nth-child(1)>div{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--border-color-1);
}

.admin_signin_container>div:nth-child(1)>div>img{
    width: 100%;
    height: 100%;
}

.admin_signin_container>div:nth-child(2){
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.homeicon{
    position: absolute;
    top: 4rem;
    left: 4rem;
    font-size: 4rem;
    cursor: pointer;
}

.admin_signin_container>div:nth-child(2)>div{
    /* width: 80%; */
    width: 42rem;
    height: auto;
    /* background-color: rgba(255, 0, 0, 0.239); */
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

iframe{
    margin: 0px !important;
}

.admin_signin_container>div:nth-child(2)>div>h1{
    font-size: 2rem;
}

.admin_signin_container>div:nth-child(2)>div>p:nth-child(2){
    font-size: 1.4rem;
    font-weight: 500;
}

.admin_signin_container>div:nth-child(2)>div>input:nth-child(3){
    height: 4.4rem;
    width: 100%;
    border-radius: 6.5rem;
    background-color: var(--bg-color3);
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    outline: none;
    padding-inline: 1rem;
}

.admin_signin_container>div:nth-child(2)>div>div:nth-child(4){
    height: 4.4rem;
    width: 100%;
    border-radius: 6.5rem;
    background-color: var(--bg-color3);
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin_signin_container>div:nth-child(2)>div>div:nth-child(4)>div{
    width: 4.4rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 6.5rem;
    border-bottom-right-radius: 6.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.admin_signin_container>div:nth-child(2)>div>div:nth-child(4)>input{
    width: calc(100% - 4.4rem);
    height: 100%;
    border: none;
    outline: none;
    padding-inline: 1rem;
    background:transparent;
    border-top-left-radius: 6.5rem;
    border-bottom-left-radius: 6.5rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.admin_signin_container>div:nth-child(2)>div>div:nth-child(5){
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.admin_signin_container>div:nth-child(2)>div>div:nth-child(5)>p{
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: 500;
}

.admin_signin_container>div:nth-child(2)>div>button:nth-child(6){
    height: 4rem;
    width: 100%;
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    border-radius: 5.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.4);
}

.admin_signin_container>div:nth-child(2)>div>div:nth-child(7){
    height: 2.1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.admin_signin_container>div:nth-child(2)>div>div:nth-child(7)>div{
    height: 1px;
    width: 100%;
    background-color: var(--primary-bg-light-color2);
}

.admin_signin_container>div:nth-child(2)>div>div:nth-child(7)>p{
    font-size: 1.4rem;
    font-weight: 500;
}

.admin_signin_container>div:nth-child(2)>div>div:nth-child(8){
    /* For google button */
}


.admin_signin_container>div:nth-child(2)>div>p:nth-child(9){
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}

@media((min-width:0px) and (max-width:576px)) {
    .admin_signin_container{
        grid-template-columns: 1fr;
    }

    .admin_signin_container>div:nth-child(1){
        display: none;
    }

    .admin_signin_container>div:nth-child(2)>div{
        width: 40rem;
    }
}

@media((min-width:577px) and (max-width:768px)) {
    .admin_signin_container{
        grid-template-columns: 1fr;
    }

    .admin_signin_container>div:nth-child(1){
        display: none;
    }
}

@media((min-width:769px) and (max-width:992px)) {
    .admin_signin_container{
        grid-template-columns: 1fr;
    }

    .admin_signin_container>div:nth-child(1){
        display: none;
    }
}

@media((min-width:993px) and (max-width:1200px)) {
    .admin_signin_container{
        grid-template-columns: 0.9fr 1fr;
    }
}