.admin_signin_container {
    height: 100svh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.admin_signin_left {
    height: 100svh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: none;

    &>img {
        width: 90%;
        height: 60%;
    }

}

.admin_signin_right {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    &>div:nth-child(1) {
        width: 30%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;


        &>p {
            font-size: var(--list-primary-text);
            font-weight: 600;
        }

        &>p:nth-child(2) {
            font-size: var(--list-content-body-text);
            font-weight: 500;
        }

        &>div {        
            &>input {
                height: 4rem;
                width: 100%;
                background-color: var(--bg-color3);
                font-size: var(--list-content-body-text);
                font-weight: 500;
                border: none;
                outline: none;
                padding-inline: 1rem;
                border-radius: var(--input-border-radius);
                -webkit-border-radius: var(--input-border-radius);
                -moz-border-radius: var(--input-border-radius);
                -ms-border-radius: var(--input-border-radius);
                -o-border-radius: var(--input-border-radius);
            }
        }
    }

}

.homeicon {
    position: absolute;
    top: 3rem;
    left: 3rem;
    padding: 0.6em 0.6em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    border: 0.1rem solid #000;
    color: #000;
    background-color: #efefef;
    font-size: var(--list-content-body-text);
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

iframe {
    margin: 0px !important;
}

.password_container {
    height: 4rem;
    width: 100%;
    background-color: var(--bg-color3);
    font-size: var(--list-content-body-text);
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    position: relative;
}

.password_container>div {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--list-content-body-text);
    position: absolute;
    right: 0rem;
    top: 0rem;
}

.password_container>input {
    width: calc(100% - 4rem);
    height: 100%;
    border: none;
    outline: none;
    padding-inline: 1rem;
    background: transparent;
    border-top-left-radius: var(--input-border-radius);
    border-bottom-left-radius: var(--input-border-radius);
    font-size: var(--list-content-body-text);
    font-weight: 500;
}

.admin_signin_container>div:nth-child(2)>div>div:nth-child(5) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &>p {
        font-size: var(--list-header-btn-text);
        cursor: pointer;
        font-weight: 500;
    }
}


.signin_btn {
    height: 4rem;
    width: 100%;
    border: 0.1rem solid #000;
    color: #000;
    background-color: #efefef;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    font-size: var(--list-content-body-text);

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.admin_signin_container>div:nth-child(2)>div>div:nth-child(7) {
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.admin_signin_container>div:nth-child(2)>div>div:nth-child(7)>div {
    height: 0.1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.admin_signin_container>div:nth-child(2)>div>div:nth-child(7)>p {
    font-size: var(--list-content-body-text);
    font-weight: 500;
}


.admin_signin_container>div:nth-child(2)>div>p:nth-child(9) {
    font-size: var(--list-content-body-text);
    text-align: center;
    margin-top: 2rem;
}

.error_message {
    font-size: 1.2rem !important;
    font-weight: 500;
    color: red;
    margin-top: 1rem;
}

@media screen and (min-width:0px) and (max-width:430px) {
    .admin_signin_container {
        grid-template-columns: 1fr;
    }

    .admin_signin_left {
        display: none;
    }

    .admin_signin_right {
        &>div:nth-child(1) {
            width: 85vw;
        }
    }

    .homeicon {
        top: 3svh;
        left: 5vw;
    }
}

@media screen and (min-width:431px) and (max-width:768px) {
    .admin_signin_container {
        grid-template-columns: 1fr;
    }

    .admin_signin_left {
        display: none;
    }

    .admin_signin_right {
        &>div:nth-child(1) {
            width: 65vw;
        }
    }


}

@media screen and (min-width:769px) and (max-width:1000px) {
    .admin_signin_container {
        grid-template-columns: 1fr;
    }

    .admin_signin_left {
        display: none;
    }

    .admin_signin_right {
        &>div:nth-child(1) {
            width: 45vw;
        }
    }
}

@media screen and (min-width:1001px) and (max-width:1250px) {

    .admin_signin_right {
        &>div:nth-child(1) {
            width: 30%;
        }
    }
}