
.demo_container {
    width: 82vw;
    margin: 0 auto;
    /* padding: 20px; */
    box-sizing: border-box;
    background-color: #172ce5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: fixed;
  }
  
  .demo_header {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border-radius: 8px 8px 0 0;
  }
  
  .demo_adv_list_container {
    width: 100%;
    margin-top: 20px;
  }
  
  .demo_column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    overflow: hidden;
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .demo_task {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 5px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: grab;
    touch-action: none;
  }
  
  .demo_task:active {
    cursor: grabbing;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .demo_checkbox {
    margin-right: 10px;
    cursor: pointer;
  }
  