
.demo_container {
    width: 100%;
    height: 98%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
  }
  
  .demo_header {
    width: 100%;
    height: 5rem;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border-radius: 8px 8px 0 0;
  }
  
  .demo_adv_list_container {
    width: 100%;
    margin-top: 2rem;
  }
  
  .demo_column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: auto; */
    height: calc(100vh - 15rem);
    overflow-y: scroll;

  }

  /* Custom scrollbar styles */
.demo_column::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

.demo_column::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px;
}

.demo_column::-webkit-scrollbar-thumb {
  background: #e10a0a; /* Scrollbar thumb color */
  border-radius: 10px;
}

.demo_column::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar thumb color on hover */
}
  
  .demo_task {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 5px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: grab;
    touch-action: none;
    min-height: 30rem;
    max-height: 30rem;
  }

  .demo_task img{
    width: 100%;
    height: 100%;
  }
  
  .demo_task:active {
    cursor: grabbing;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .demo_checkbox {
    margin-right: 10px;
    cursor: pointer;
  }
  