.column{
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #f2f2f3;
}

.task{
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    width:100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    touch-action: none;
    /* cursor: grab; */
}
.checkbox{
    height: 20px;
    width: 20px;
}

.drop_overflow{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    padding: 1rem;
    overflow: auto;
}

.drop_overflow>p{
    width: 80rem ;
    background-color: red;
}

.drop_overflow::-webkit-scrollbar {
    width: 12px;
    height: 6px;
}

.drop_overflow::-webkit-scrollbar-track {
    background: transparent; 
}

.drop_overflow::-webkit-scrollbar-thumb {
    background: #0864e5; 
}

.drop_overflow::-webkit-scrollbar-thumb:hover {
    background: #0c04f7; 
}

.drop_overflow::-webkit-scrollbar-corner {
    background: transparent;
}