.admin_dashboard_page_container {
    display: grid;
    height: 98%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25rem 27rem 1fr;
    gap: 1rem;
    position: relative;
}

.admin_dashboard_page_container>div {
    background-color: var(--primary-bg-light-color1);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.admin_dashboard_page_container>div:nth-child(5) {
    grid-column: 1/3;
}

.admin_dashboard_page_container>div:nth-child(1),
.admin_dashboard_page_container>div:nth-child(2) {
    box-shadow: none;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    background-color: none;
}

.admin_dashboard_page_container>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin_dashboard_page_container>div:nth-child(1)>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin_dashboard_page_container>div:nth-child(1)>div>h1 {
    font-size: 1.8rem;
    line-height: 3.8rem;
    margin: 0px;
}

.admin_dashboard_page_container>div:nth-child(1)>div:nth-child(2) {
    background-color: var(--primary-bg-light-color1);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.admin_dashboard_page_container>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin_dashboard_page_container>div:nth-child(2)>div:nth-child(1) {
    font-size: 2.5rem;
    min-height: 3.8rem;
    width: 100%;
    visibility: hidden;
}

.admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2) {
    background-color: var(--primary-bg-light-color1);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    height: 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2)>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>p {
    color: var(--primary-text-light-color1);
}

.admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div>button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    padding-inline: 1rem;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: 500;
}

.admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div>button:nth-child(1) {
    width: 11rem;
}

.admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2)>div:nth-child(1)>div>button:nth-child(2) {
    width: 9.5rem;
}

.admin_dashboard_page_container>div:nth-child(1)>div:nth-child(2)>div:nth-child(1) {
    height: 3.8rem;
    background-color: var(--primary-bg-color3);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-text-light-color1);
}

.admin_dashboard_page_container>div:nth-child(1)>div:nth-child(2)>div:nth-child(2) {
    height: calc(20.2rem - 3.8rem);
    padding-block: 3rem;
    padding-inline: 2rem;
    position: relative;
    /* background-color: red; */
}

.admin_dashboard_page_container>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>p {
    font-size: 1.2rem;
    text-align: center;
}

.admin_dashboard_page_container>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>button {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    height: 4rem;
    width: 11.6rem;
    border: none;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    font-size: 1.6rem;
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.admin_dashboard_page_container>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>button>p{
    color: var(--primary-text-light-color1);
}

.admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2)>div:nth-child(1) {
    height: 3.8rem;
    background-color: var(--primary-bg-color3);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-text-light-color1);
}

.admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2)>div:nth-child(2) {
    padding: 0.5rem;
    padding-bottom: 0px;
    min-width: 100%;
    max-width: 35vw;
    min-height: calc(18rem - 3.8rem);
    max-height: calc(18rem - 3.8rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll !important;
    /* border-bottom: 1px solid black; */

}

/* .admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>div {
    background-color: var(--bg-color3);
    min-width: 52rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    place-items: center;
    min-height: 3.5rem;
    width: 100%;
    padding-inline: 1rem;
    font-size: 1.4rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>div>p {
    color: var(--primary-text-light-color2);
} */




.admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2)>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--primary-text-light-color2);
}

.admin_dashboard_carousel_loading {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.admin_dashboard_carousel {
    height: 100%;
    width: 100%;
}

.admin_dashboard_carousel_item {
    height: 27rem;
    width: 100%;
}

.admin_dashboard_carousel_item>img {
    height: 27rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.admin_dashboard_page_container>div:nth-child(1)>div:nth-child(1)>div:nth-child(2) {
    width: 8.8rem;
    height: 1.6rem;
    border-radius: 2rem;
    position: relative;
}

.admin_dashboard_carousel.error>img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.dashboard_toggle_btn {
    background-color: #fff;
    height: 1.6rem;
    width: 4rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    border: 1px solid #000;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    position: absolute;
    top: 0px;
}

.dashboard_toggle_active {
    transform: translateX(4.8rem);
    transition: 300ms ease;
    -webkit-transform: translateX(4.8rem);
    -moz-transform: translateX(4.8rem);
    -ms-transform: translateX(4.8rem);
    -o-transform: translateX(4.8rem);
}

.dashboard_toggle_inactive {
    transform: translateX(0rem);
    transition: 300ms ease;
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
}

.dashboard_toggle_btn_text {
    position: absolute;
    top: 0px;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;

}

.dashboard_toggle_btn_text_active {
    left: 0.5rem;
    opacity: 1;
    color: #000;
}

.dashboard_toggle_btn_text_inactive {
    right: 0.5rem;
    color: #fff;
}

.admin_dashboard_page_container>div:nth-child(4)>div:nth-child(1) {
    height: 3.8rem;
    background-color: var(--primary-bg-color3);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-text-light-color1);
}

.admin_dashboard_page_container>div:nth-child(4)>div:nth-child(2) {
    width: 100%;
    height: calc(100% - 3.8rem);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.admin_dashboard_page_container>div:nth-child(4)>div:nth-child(2)>div:nth-child(1) {
    height: 48%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.admin_dashboard_page_container>div:nth-child(4)>div:nth-child(2)>div:nth-child(1)>div>div {
    height: 5.7rem;
    width: 5.7rem;
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

.admin_dashboard_page_container>div:nth-child(4)>div:nth-child(2)>div:nth-child(1)>div>p {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.admin_dashboard_page_container>div:nth-child(4)>div:nth-child(2)>div:nth-child(2) {
    height: calc(100% - 48%);
    width: 100%;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(1) {
    height: 3.8rem;
    background-color: var(--primary-bg-color3);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(1)>p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-text-light-color1);
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(1)>div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(1)>div:nth-child(2)>button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    padding-inline: 1rem;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: 500;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(1)>div:nth-child(2)>button:nth-child(1) {
    width: 11rem;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(1)>div:nth-child(2)>button:nth-child(2) {
    width: 10rem;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2) {
    width: 100%;
    height: calc(100% - 3.8rem);
    display: flex;
    align-items: center;
    flex-direction: row;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(1) {
    width: 45rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #cecece;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2) {
    width: calc(100% - 45rem);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div {
    width: 95%;
    height: 95%;
    overflow: scroll;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div ::-webkit-scrollbar {
    width: 6px !important;
    height: 7px;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div ::-webkit-scrollbar-track {
    background-color: #fff !important;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div ::-webkit-scrollbar-thumb {
    background: var(--primary-bg-color3) !important;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 98, 255) !important;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1) {
    height: 3.8rem;
    max-width: 100%;
    min-width: 50rem;
    background-color: var(--primary-bg-color3);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr 1fr 0.5fr;
    align-items: center;
    justify-items: center;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1)>p {
    font-size: 1.4rem;
    color: var(--primary-text-light-color1);
    font-weight: 500;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2) {
    min-width: 50rem;
    max-width: 100%;
    height: 20rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div {
    min-height: 3.8rem;
    width: 100%;
    background-color: rgba(188, 188, 188, 0.478);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr 1fr 0.5fr;
    align-items: center;
    justify-items: center;
}

.dashboard_appointment_loader {
    min-height: 3.8rem;
    width: 100%;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin-top: 1rem;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div:nth-child(1) {
    margin-top: 1rem;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div>p {
    font-size: 1.4rem;
    color: var(--primary-text-light-color2);
    font-weight: 500;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div>button {
    border: none;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    font-size: 1.4rem;
    background-color: var(--primary-bg-light-color1);
    padding: 0.5rem 1.4rem;
    cursor: pointer;
    font-weight: 500;
}

.admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div>div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.admin_dashboard_page_container_two {
    width: 100%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_dashboard_page_container_two>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.admin_dashboard_page_container_two>div>h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    text-transform: capitalize;
}

.admin_dashboard_page_container_two>div>a {
    height: 4.5rem;
    padding: 1rem 5rem;
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard_appointment_error {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden !important;
}

.dashboard_appointment_error>p {
    font-size: 1.4rem;
}

.queuelist_container {
    /* background-color: red; */
    width: 100%;
    height: 100%;
}

.queuelist_container>div:nth-child(1) {
    background-color: var(--primary-bg-color3) !important;
    min-width: 51.7rem;
    max-width: 99%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    place-items: center;
    min-height: 3.5rem;
    width: 100%;
    padding-inline: 1rem;
    font-size: 1.4rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.queuelist_container>div:nth-child(1)>p {
    color: var(--primary-text-light-color1);
}

.queuelist_container>div:nth-child(2) {
    height: 100%;
    overflow: scroll;
}

.queuelist_container>div:nth-child(2)::-webkit-scrollbar {
    width: 6px !important;
    height: 7px;
}

.queuelist_container>div:nth-child(2)::-webkit-scrollbar-track {
    background-color: #fff !important;
}

.queuelist_container>div:nth-child(2)::-webkit-scrollbar-thumb {
    background: var(--primary-bg-color3) !important;
}

.queuelist_container>div:nth-child(2)::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 98, 255) !important;
}

.queuelist_container>div:nth-child(2)>div {
    background-color: var(--bg-color3) !important;
    min-width: 51.7rem;
    max-width: 99%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    place-items: center;
    min-height: 3.5rem;
    width: 100%;
    padding-inline: 1rem;
    font-size: 1.4rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 1rem;
}

.queuelist_container>div:nth-child(2)>div>p {
    color: var(--primary-text-light-color2);
}

.queuelist_container_error {
    display: flex;
    justify-content: center;
    align-items: center;
}

.queuelist_container_error>p {
    font-size: 1.4rem;
}

.salon_info_container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.salon_info_container>div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.salon_info_container>div>label{
    font-size: 2.5rem;
    font-weight: 500;
}

.salon_info_container>div>textarea{
    resize: none;
    height: 33vh;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem;
    border: 1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.salon_info_container>div>textarea:focus{
    outline: 2px solid var(--primary-bg-color3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.salon_info_container>button{
    height: 4.5rem;
    width: 23rem;
    border: none;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    font-size: 1.6rem;
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
    margin: auto;
}

.salon_info_container>button>p{
    color: var(--primary-text-light-color1);
}

@media screen and (min-width:0px) and (max-width:430px) {
    .admin_dashboard_page_container {
        grid-template-columns: 1fr;
        grid-template-rows: 25rem 25rem 27rem 27rem 1fr;
        overflow-y: auto;
        gap: 1rem;
        padding-block: 0.5rem;
    }

    .admin_dashboard_page_container>div:nth-child(2)>div:nth-child(1) {
        display: none;
    }

    .admin_dashboard_page_container>div:nth-child(5) {
        grid-column: 1;
    }

    .admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-block: 2rem;
    }

    .admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(1) {
        width: 100%;
        height: auto;
    }

    .admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2) {
        height: auto;
        width: 100%;
    }

    .admin_dashboard_page_container>div {
        width: 98%;
        margin-inline: 1%;
    }

    .admin_dashboard_page_container>div:nth-child(1)>div:nth-child(1)>div:nth-child(2) {
        right: 1rem;
    }

    .admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2)>div {
        width: calc(100vw - 5rem);
    }

    .admin_dashboard_page_container>div:nth-child(1)>div>h1 {
        font-size: 1.8rem;
    }

    .admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2)>a {
        margin-top: 2rem;
    }
}

@media screen and (min-width:431px) and (max-width:1140px) {
    .admin_dashboard_page_container {
        grid-template-columns: 1fr;
        grid-template-rows: 25rem 25rem 27rem 27rem 1fr;
        overflow-y: scroll;
        gap: 2rem;
    }

    .admin_dashboard_page_container::-webkit-scrollbar {
        width: 6px !important;
        height: 7px;
    }

    .admin_dashboard_page_container::-webkit-scrollbar-track {
        background-color: #fff !important;
    }

    .admin_dashboard_page_container::-webkit-scrollbar-thumb {
        background: var(--primary-bg-color3) !important;
    }

    .admin_dashboard_page_container::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255) !important;
    }

    .admin_dashboard_page_container>div:nth-child(2)>div:nth-child(1) {
        display: none;
    }

    .admin_dashboard_page_container>div:nth-child(5) {
        grid-column: 1;
    }

    .admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-block: 2rem;
    }

    .admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(1) {
        width: 100%;
        height: auto;
    }

    .admin_dashboard_page_container>div:nth-child(5)>div:nth-child(2)>div:nth-child(2) {
        height: auto;
        width: 100%;
    }

    .admin_dashboard_page_container>div {
        width: 99%;
        margin-left: 1%;
    }

    .admin_dashboard_page_container>div:nth-child(1)>div:nth-child(1)>div:nth-child(2) {
        right: 1rem;
    }

    .admin_dashboard_page_container>div:nth-child(2)>div:nth-child(2)>a {
        margin-top: 2rem;
    }
}

@media screen and (min-width:1141px) and (max-width:1250px) {
    .admin_dashboard_page_container {
        overflow-y: scroll;
    }

    .admin_dashboard_page_container::-webkit-scrollbar {
        width: 6px !important;
        height: 7px;
    }

    .admin_dashboard_page_container::-webkit-scrollbar-track {
        background-color: #fff !important;
    }

    .admin_dashboard_page_container::-webkit-scrollbar-thumb {
        background: var(--primary-bg-color3) !important;
    }

    .admin_dashboard_page_container::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255) !important;
    }

    .admin_dashboard_page_container>div:nth-child(1)>div:nth-child(2) {
        width: 99%;
        margin-left: 1%;
    }

    .admin_dashboard_page_container>div:nth-child(5) {
        width: 99.5%;
        margin-left: 0.5%;
    }

    .admin_dashboard_carousel {
        width: 99.5%;
        margin-left: 0.5%;
    }
}

@media screen and (min-width:1251px) and (max-width:1440px) {
    .admin_dashboard_page_container {
        overflow-y: scroll;
    }

    .admin_dashboard_page_container::-webkit-scrollbar {
        width: 6px !important;
        height: 7px;
    }

    .admin_dashboard_page_container::-webkit-scrollbar-track {
        background-color: #fff !important;
    }

    .admin_dashboard_page_container::-webkit-scrollbar-thumb {
        background: var(--primary-bg-color3) !important;
    }

    .admin_dashboard_page_container::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255) !important;
    }

    .admin_dashboard_page_container>div:nth-child(1)>div:nth-child(2) {
        width: 99%;
        margin-left: 1%;
    }

    .admin_dashboard_page_container>div:nth-child(5) {
        width: 99.5%;
        margin-left: 0.5%;
    }

    .admin_dashboard_carousel {
        width: 99.5%;
        margin-left: 0.5%;
    }
}