.barber_edit_profile {
    height: calc(100vh - 6rem);
    width: 100%;
    overflow-y: auto;
}

.barber_edit_profile_content_wrapper {
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
    padding-bottom: 5rem;
    margin-top: 2rem;
    border-radius: 1.7rem;
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -ms-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    margin-inline: auto;
    background-color: var(--primary-bg-light-color1);
}

.barber_edit_profile_content_wrapper>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.barber_edit_profile_content_wrapper>div:nth-child(1)>p {
    line-height: 5rem;
    font-size: 2rem;
    font-weight: bold;
}

.barber_edit_profile_content_wrapper>div:nth-child(1)>div {
    height: 12rem;
    width: 12rem;
    background-color: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}

.barber_edit_profile_content_wrapper>div:nth-child(1)>div>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.barber_edit_profile_content_wrapper>div:nth-child(1)>div>div {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}

.barber_edit_profile_content_wrapper>div:nth-child(1)>div>div>button {
    width: 3.6rem;
    height: 3.6rem;
    background-color: var(--primary-bg-color3);
    border-radius: 50%;
    font-size: 2rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: var(--primary-text-light-color1);
}

.barber_edit_profile_content_wrapper>div:nth-child(2)>p {
    font-size: 1.6rem;
}

.barber_edit_profile_content_wrapper>div:nth-child(2)>input {
    min-height: 4rem;
    width: 100%;
    background-color: var(--bg-color3);
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding-inline: 1rem;
    font-size: 1.6rem;
}

.barber_edit_profile_content_wrapper>div:nth-child(2)>input:focus {
    outline: 2px solid var(--primary-bg-color3);
}

.barber_edit_profile_content_wrapper>div>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.barber_edit_profile_content_wrapper>div>div>p {
    font-size: 1.6rem;
}

.barber_edit_profile_content_wrapper>div>div>input {
    min-height: 4rem;
    width: 100%;
    background-color: var(--bg-color3);
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding-inline: 1rem;
    font-size: 1.6rem;
}

.barber_edit_profile_content_wrapper>div>div>input:focus {
    outline: 2px solid var(--primary-bg-color3);
}

.barber_edit_profile_content_wrapper>div:last-of-type {
    width: 100%;
    display: flex;
    justify-content: center;
}

.barber_edit_profile_content_wrapper>div:last-of-type>button {
    width: 40%;
    height: 4.5rem;
    font-size: 1.6rem;
    margin-inline: auto;
    cursor: pointer;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    border: none;
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
}

/* .barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(1)>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin-left: auto;
    height: 4rem;
    border-radius: 1rem;
    padding-inline: 1rem;
    cursor: pointer;
    background-color: limegreen;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    color: var(--primary-text-light-color1);
    font-weight: 500;
    box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
}

.barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(1)>div>p {
    font-size: 1.6rem;
    color: var(--primary-text-light-color1);
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(1)>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.verify_email_wrapper {
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(128, 128, 128, 0.295);
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify_email_content_wrapper {
    min-width: 55%;
    max-width: 85%;
    height: 85vh;
    background-color: var(--primary-bg-light-color1);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    border-radius: 1.7rem;
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -ms-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    padding: 2rem;
    overflow: auto;
    position: relative;
}

.verify_email_content_wrapper>div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.verify_email_content_wrapper>div>button {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border: none;
    font-size: 1.6rem;
    color: red;
    background-color: var(--primary-bg-light-color1);
    z-index: 1;
}

.verify_email_content_wrapper>div:nth-child(2) {
    width: 100%;
    height: calc(100% - 3.5rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(1) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(1)>img {
    width: 80%;
    height: 55vh;
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div {
    width: 85%;
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>p:nth-child(1) {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>p:nth-child(2) {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(3) {
    width: 80%;
    height: 4rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.7rem;
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -ms-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    border: 1px solid var(--primary-bg-light-color2);
    padding-left: 1rem;
    position: relative;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(3)>p:nth-child(1) {
    width: calc(100% - 13.5rem);
    font-size: 1.4rem;
    text-align: justify;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(3)>button {
    position: absolute;
    right: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 3.5rem;
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
    border: none;
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    width: 13rem;
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(4) {
    width: 24.5rem;
    height: 5rem;
    margin: auto;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(4)>input {
    width: 5rem;
    height: 5rem;
    outline: 1px solid var(--primary-bg-light-color2);
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    text-align: center;
    background-color: var(--primary-bg-light-color1); 
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(4)>input:focus {
    outline: 2px solid var(--primary-bg-color3);
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(5) {
    display: flex;
    justify-content: center;
}

.verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(5)>button {
    height: 4.5rem;
    width: 50%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border: none;
    box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    cursor: pointer;
    font-weight: 500;
    font-size: 1.6rem;
    margin-inline: auto;
}

.react-international-phone-input-container .react-international-phone-input {
    width: 100%;
    background-color: transparent !important;
    min-height: 4rem !important;
    border: none !important;
}

.react-international-phone-input-container .react-international-phone-country-selector-button {
    background-color: transparent !important;
    min-height: 4rem !important;
    width: 6rem !important;
    border: none !important;
    border-top-left-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
}

.react-international-phone-country-selector-dropdown {
    width: 30rem !important;
}

.barber_edit_profile_content_wrapper>div:nth-child(4)>div:nth-child(2) {
    position: relative;
}

.barber_edit_profile_content_wrapper>div:nth-child(4)>div:nth-child(2)>div {
    position: absolute;
    top: 7.2rem;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 1rem;
    background-color: var(--primary-bg-light-color1);
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
}


.barber_edit_profile_content_wrapper>div:nth-child(4)>div:nth-child(2)>div>p {
    font-size: 1.6rem;
    padding-inline: 1rem;
    min-height: 3.5rem;
    display: grid;
    align-items: center;
}

.barber_edit_profile_content_wrapper>div:nth-child(4)>div:nth-child(2)>div>p:hover {
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    cursor: pointer;
    font-weight: 500;
    min-height: 3.5rem;
    display: grid;
    align-items: center;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(1)>div {
    min-height: 4rem;
    max-width: 100%;
    background-color: var(--bg-color3);
    border: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(1)>div>input {
    width: calc(100% - 20.5rem);
    height: 100%;
    padding-inline: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: none;
    outline: none;
    background: transparent;
}

.barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(1)>div>button {
    border: none;
    height: 3rem;
    width: 4rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    cursor: pointer;
    position: relative;
    text-align: start;
    padding-inline: 1rem;
    margin-right: 0.5rem;
    display: grid;
    place-items: center;
}


.barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(1)>div>button>div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: var(--primary-text-light-color1);
    font-weight: 500;
    display: grid;
    place-items: center;
    font-size: 1.8rem;
    font-weight: bolder;
}


.barber_profile_mobile_container>div {
    background-color: var(--bg-color3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding-right: 0.5rem;
}

.barber_profile_mobile_container>div>div:nth-child(1) {
    width: calc(100% - 20.5rem);
}

.barber_profile_mobile_container>div>button:nth-child(2) {
    background-color: limegreen;
    border: none;
    height: 3rem;
    width: 4rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    cursor: pointer;
    position: relative;
    text-align: start;
    padding-inline: 1rem;
}

.barber_profile_mobile_container>div>button:nth-child(2)>p {
    color: var(--primary-text-light-color1);
    font-weight: 500;
    font-size: 1.4rem;
}

.barber_profile_mobile_container>div>button:nth-child(2)>div {
    color: var(--primary-text-light-color1);
    font-weight: 500;
    display: grid;
    place-items: center;
    font-size: 1.6rem;
}

.password_modal_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.password_modal_container>h1 {
    font-size: 2.5rem;
}

.password_modal_container>div>p {
    font-size: 1.8rem;
    font-weight: 500;
}

.password_modal_container>div>div{
    min-height: 4rem;
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 2rem;
}

.password_modal_container>div>div>input{
    height: 4rem;
    width: 100%;
    border: none;
    background-color: var(--bg-color3);
    color: var(--primary-text-light-color2);
    padding-inline: 1rem;
    outline: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.password_modal_container>div>div>input:focus{
    outline: 2px solid var(--primary-bg-color3);
}

.password_modal_container>div>div>div{
    height: 4rem;
    width: 5rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 2.2rem;
}

.password_modal_container>div:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
}

.password_modal_container button {
    height: 4.5rem;
    width: 50%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border: none;
    box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    cursor: pointer;
    font-weight: 500;
    font-size: 1.6rem;
    margin-inline: auto;
    margin-top: 4rem;
}

.barber_edit_profile_content_wrapper>div:nth-child(3) div>div{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.barber_edit_profile_content_wrapper>div:nth-child(1){
    grid-template-columns: 1fr;
    place-items: center;
}

/* Dark Css Style */

.barber_edit_profile_content_wrapper.dark{
    background-color: var(--dark-mode-bg-color-4);
} 

.barber_edit_profile_content_wrapper.dark>div p{
    color: var(--primary-text-light-color1);
}

.barber_edit_profile_content_wrapper.dark>div input {
    background-color: var(--dark-mode-bg-color-2);
    color: var(--primary-text-light-color1);
}

.barber_edit_profile_content_wrapper.dark>div:nth-child(3) div>div{
    background-color: var(--dark-mode-bg-color-2);
    color: var(--primary-text-light-color1);
}

.verify_email_content_wrapper.dark{
    background-color: var(--dark-mode-bg-color-2);
}

.verify_email_content_wrapper.dark>div:nth-child(2)>div:nth-child(2)>div>p{
    color: var(--primary-text-light-color1);
} 

.verify_email_content_wrapper.dark>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(3){
    border: 1px solid var(--primary-text-light-color1);
}

.verify_email_content_wrapper.dark>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(3)>p:nth-child(1){
    color: var(--primary-text-light-color1);
}

.verify_email_content_wrapper.dark>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(4)>input{
    background-color: var(--dark-mode-bg-color-4);
    color: var(--primary-text-light-color1);
}

.password_modal_container.dark{
    background-color: var(--dark-mode-bg-color-2) !important;
}

.password_modal_container.dark p,
.password_modal_container.dark h1{
    color: var(--primary-text-light-color1);
}

.password_modal_container.dark input{
    background-color: var(--dark-mode-bg-color-4);
    color: var(--primary-text-light-color1);
}

.password_modal_container.dark>div>div>div{
    color: var(--primary-text-light-color1);
}

.barber_edit_profile_content_wrapper.dark>div:nth-child(4)>div:nth-child(2)>div{
    background-color: var(--dark-mode-bg-color-2);
}

@media screen and (min-width:0px) and (max-width:430px) {

    .verify_email_content_wrapper>div:nth-child(2) {
        grid-template-columns: 1fr;
        grid-template-rows: 42vh 1fr;
    }

    .barber_edit_profile_content_wrapper>div {
        grid-template-columns: 1fr;
    }

    .verify_email_content_wrapper {
        max-width: 90vw;
        padding: 1rem;
    }

    .verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(3) {
        width: 100%;
    }

    .verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div {
        width: 100%
    }

    .verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(5)>button {
        width: 50%;
        margin-bottom: 3rem;
    }

    .verify_email_content_wrapper>div:nth-child(2)>div:nth-child(1)>img {
        width: 100%;
    }

    .react-international-phone-country-selector-dropdown {
        width: 25rem !important;
    }

    .barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(1)>div>input {
        width: calc(100% - 5.5rem);
    }

    .barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(1)>div>button {
        width: 10rem;
    }

    .barber_profile_mobile_container>div>button:nth-child(2) {
        width: 10rem;
    }

    .barber_profile_mobile_container>div>div:nth-child(1) {
        width: 70% !important;
    }

    .barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(1)>div>button{
        width: 5rem;
    }
    .barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(2)>div>button{
        width: 5rem;
    }
}

@media screen and (min-width:431px) and (max-width:768px) {
    .verify_email_content_wrapper>div:nth-child(2) {
        grid-template-columns: 1fr;
        grid-template-rows: 42vh 1fr;
    }

    .barber_edit_profile_content_wrapper>div {
        grid-template-columns: 1fr;
    }

    .verify_email_content_wrapper {
        max-width: 90vw;
        padding: 1rem;
    }

    .verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(3) {
        width: 100%;
    }

    .verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div {
        width: 85%
    }

    .verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(5)>button {
        width: 35%;
        margin-bottom: 3rem;
    }

    .verify_email_content_wrapper>div:nth-child(2)>div:nth-child(1)>img {
        width: 100%;
    }

    .react-international-phone-country-selector-dropdown {
        width: 25rem !important;
    }

    .barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(1)>div>input {
        width: calc(100% - 13.5rem);
    }

    .barber_edit_profile_content_wrapper>div:nth-child(3)>div:nth-child(1)>div>button {
        width: 13rem;
    }

    .barber_profile_mobile_container>div>button:nth-child(2) {
        width: 13rem;
    }
}

@media screen and (min-width:769px) and (max-width:1250px) {
    .verify_email_content_wrapper>div:nth-child(2) {
        grid-template-columns: 1fr;
        grid-template-rows: 42vh 1fr;
    }

    .barber_edit_profile_content_wrapper>div {
        grid-template-columns: 1fr;
    }

    .verify_email_content_wrapper {
        max-width: 90vw;
        padding: 1rem;
    }

    .verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(3) {
        width: 100%;
    }

    .verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div {
        width: 65%
    }

    .verify_email_content_wrapper>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(5)>button {
        width: 35%;
        margin-bottom: 3rem;
    }

    .verify_email_content_wrapper>div:nth-child(2)>div:nth-child(1)>img {
        width: 100%;
    }

    .react-international-phone-country-selector-dropdown {
        width: 25rem !important;
    }
}