.section {
    background-color: transparent;
    height: calc(100vh - 6rem);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: auto;

    &>div:nth-child(1) {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>h2 {
            color: var(--text-primary);
            line-height: inherit;
            font-family: "AirbnbCereal_Medium";
        }

        &>button {
            height: 3.5rem;
            padding-inline: 1.5rem;
            border-radius: var(--border-radius-primary);
            -webkit-border-radius: var(--border-radius-primary);
            -moz-border-radius: var(--border-radius-primary);
            -ms-border-radius: var(--border-radius-primary);
            -o-border-radius: var(--border-radius-primary);
            background-color: var(--bg-secondary);
            color: var(--text-primary);
            border: none;
            outline: none;
            cursor: pointer;
            transition: var(--common-btn-transition);
            -webkit-transition: var(--common-btn-transition);
            -moz-transition: var(--common-btn-transition);
            -ms-transition: var(--common-btn-transition);
            -o-transition: var(--common-btn-transition);
            z-index: 4;

            &:hover {
                background-color: var(--bg-secondary-hover);
            }
        }
    }


    .profile_container {
        flex: 1;
        display: flex;
        gap: 3rem;
        /* border: 0.1rem solid var(--border-secondary); */
        border-radius: var(--border-radius-primary);
        -webkit-border-radius: var(--border-radius-primary);
        -moz-border-radius: var(--border-radius-primary);
        -ms-border-radius: var(--border-radius-primary);
        -o-border-radius: var(--border-radius-primary);

        &>div:nth-child(1) {
            /* border: 0.1rem solid var(--border-secondary); */
            width: 45rem;
            border-radius: var(--border-radius-primary);
            -webkit-border-radius: var(--border-radius-primary);
            -moz-border-radius: var(--border-radius-primary);
            -ms-border-radius: var(--border-radius-primary);
            -o-border-radius: var(--border-radius-primary);
            padding: 4rem;

            &>div:nth-child(1) {
                &>div {
                    width: 10rem;
                    height: 10rem;
                    margin: auto;
                    margin-bottom: 2rem;
                    position: relative;

                    &>img {
                        width: 10rem;
                        height: 10rem;
                        margin: auto;
                        display: block;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        object-fit: cover;
                    }



                    &>button {
                        position: absolute;
                        right: 0rem;
                        bottom: 0rem;
                        height: 3rem;
                        width: 3rem;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        background: var(--bg-secondary);
                        color: var(--text-primary);
                        font-size: 1.4rem;
                        transition: background-color 0.2s ease-in;
                        -webkit-transition: background-color 0.2s ease-in;
                        -moz-transition: background-color 0.2s ease-in;
                        -ms-transition: background-color 0.2s ease-in;
                        -o-transition: background-color 0.2s ease-in;
                        border: 0.3rem solid var(--bg-primary);
                        cursor: pointer;
                        outline: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color: var(--bg-secondary-hover);
                            border: none;
                        }
                    }
                }

                &>h4 {
                    color: var(--text-primary);
                    line-height: inherit;
                    font-family: "AirbnbCereal_Medium";
                    text-align: center;
                    font-size: 1.8rem;
                    margin-bottom: 1rem;
                }

                &>p:nth-child(3) {
                    color: var(--text-secondary);
                    line-height: inherit;
                    font-family: "AirbnbCereal_Medium";
                    text-align: center;
                    font-size: 1.6rem;
                    margin-bottom: 4rem;
                }
            }

            /* &>div:nth-child(2) {
                display: flex;
                align-items: center;
                margin-bottom: 4rem;

                &>div {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    &>h4 {
                        color: var(--text-primary);
                        line-height: inherit;
                        text-align: center;
                    }

                    &>p {
                        color: var(--text-secondary);
                        line-height: inherit;
                        text-align: center;
                        font-size: 1.8rem;
                        font-family: "AirbnbCereal_Medium";
                    }
                }

                &>div:nth-child(2) {
                    border-left: 0.2rem solid var(--border-secondary);
                    border-right: 0.2rem solid var(--border-secondary);
                }
            } */

            &>div:nth-child(2) {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                margin-top: 4rem;

                &>div {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    &>span {
                        color: var(--text-primary);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &>p {
                        color: var(--text-primary);
                        line-height: inherit;
                    }
                }
            }

            &>div:nth-child(3) {
                margin-top: 6rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                &>h4 {
                    color: var(--text-primary);
                    line-height: inherit;
                    font-family: "AirbnbCereal_Medium";
                    font-size: 1.8rem;
                    margin-bottom: 1rem;
                }

                &>div {
                    width: 100%;
                    height: 1.2rem;
                    border-radius: 2rem;
                    -webkit-border-radius: 2rem;
                    -moz-border-radius: 2rem;
                    -ms-border-radius: 2rem;
                    -o-border-radius: 2rem;
                    background-color: var(--border-secondary);

                    &>span {
                        display: block;
                        width: 70%;
                        height: inherit;
                        border-top-left-radius: 2rem;
                        border-bottom-left-radius: 2rem;
                        background-color: var(--bg-secondary);
                    }
                }
            }
        }

        &>div:nth-child(2) {
            flex: 1;

            &>div:nth-child(1) {
                max-width: 67rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                &>div {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    &>p {
                        font-size: 1.6rem;
                        color: var(--text-primary);
                        font-family: 'AirbnbCereal_Medium';
                    }

                    &>input {
                        height: 3.5rem;
                        padding-inline: 1rem;
                        font-size: 1.4rem;
                        border: 0.1rem solid var(--border-secondary);
                        border-radius: var(--border-radius-primary);
                        -webkit-border-radius: var(--border-radius-primary);
                        -moz-border-radius: var(--border-radius-primary);
                        -ms-border-radius: var(--border-radius-primary);
                        -o-border-radius: var(--border-radius-primary);
                        background-color: var(--input-bg-color);
                        color: var(--text-primary);
                        outline: none;

                        &::placeholder {
                            color: var(--text-secondary);
                            letter-spacing: 0.01rem;
                        }
                    }
                }

                .input_type_2 {
                    border: 0.1rem solid var(--border-secondary);
                    border-radius: var(--border-radius-primary);
                    -webkit-border-radius: var(--border-radius-primary);
                    -moz-border-radius: var(--border-radius-primary);
                    -ms-border-radius: var(--border-radius-primary);
                    -o-border-radius: var(--border-radius-primary);
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;

                    &>input {
                        width: calc(100% - 3rem);
                        height: 3.5rem;
                        padding-inline: 1rem;
                        font-size: 1.4rem;
                        background-color: var(--input-bg-color);
                        color: var(--text-primary);
                        border: none;
                        outline: none;

                        &::placeholder {
                            color: var(--text-secondary);
                            letter-spacing: 0.01rem;
                        }
                    }

                    &>button {
                        height: 3.5rem;
                        width: 3.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2rem;
                        font-family: 'AirbnbCereal_Medium';
                        background-color: transparent;
                        border: none;
                        outline: none;
                    }
                }


                .input_type_3 {
                    border: 0.1rem solid var(--border-secondary);
                    border-radius: var(--border-radius-primary);
                    -webkit-border-radius: var(--border-radius-primary);
                    -moz-border-radius: var(--border-radius-primary);
                    -ms-border-radius: var(--border-radius-primary);
                    -o-border-radius: var(--border-radius-primary);
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;

                    &>div:nth-child(1) {
                        width: calc(100% - 3rem);
                        height: 3.5rem;
                        /* padding-inline: 1rem; */
                        font-size: 1.4rem;
                        background-color: var(--input-bg-color);
                        color: var(--text-primary);
                        border: none;
                        outline: none;

                        &::placeholder {
                            color: var(--text-secondary);
                            letter-spacing: 0.01rem;
                        }
                    }

                    &>button {
                        height: 3.5rem;
                        width: 3.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2rem;
                        font-family: 'AirbnbCereal_Medium';
                        background-color: transparent;
                        border: none;
                        outline: none;
                    }
                }

                .calender_container {
                    position: relative;

                    &>span {
                        position: absolute;
                        right: 0rem;
                        top: 3.4rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        height: 3.5rem;
                        width: 3.5rem;
                        color: var(--text-primary);
                    }
                }

                .calender_drop_container {
                    position: absolute;
                    left: 0;
                    top: 8rem;
                }


                .gender_container {
                    border: 0.1rem solid var(--border-secondary);
                    border-radius: var(--border-radius-primary);
                    -webkit-border-radius: var(--border-radius-primary);
                    -moz-border-radius: var(--border-radius-primary);
                    -ms-border-radius: var(--border-radius-primary);
                    -o-border-radius: var(--border-radius-primary);
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;


                    &>input {
                        width: calc(100% - 3rem);
                        height: 3.5rem;
                        padding-inline: 1rem;
                        font-size: 1.4rem;
                        background-color: var(--input-bg-color);
                        color: var(--text-primary);
                        border: none;
                        outline: none;

                        &::placeholder {
                            color: var(--text-secondary);
                            letter-spacing: 0.01rem;
                        }
                    }

                    &>button {
                        height: 3.5rem;
                        width: 3.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: 'AirbnbCereal_Medium';
                        background-color: var(--input-bg-color);
                        border: none;
                        outline: none;
                        color: var(--text-primary);
                        cursor: pointer;
                    }

                    &>div {
                        background-color: var(--bg-primary);
                        position: absolute;
                        top: 5rem;
                        left: 0rem;
                        right: 0rem;
                        padding: 1rem;
                        margin-inline: auto;
                        border-radius: var(--border-radius-primary);
                        -webkit-border-radius: var(--border-radius-primary);
                        -moz-border-radius: var(--border-radius-primary);
                        -ms-border-radius: var(--border-radius-primary);
                        -o-border-radius: var(--border-radius-primary);
                        border: 0.1rem solid var(--border-secondary);

                        &>p {
                            line-height: 3.5rem;
                            margin-bottom: 1rem;
                            font-size: 1.4rem;
                            padding-inline: 1rem;
                            border-radius: var(--border-radius-primary);
                            -webkit-border-radius: var(--border-radius-primary);
                            -moz-border-radius: var(--border-radius-primary);
                            -ms-border-radius: var(--border-radius-primary);
                            -o-border-radius: var(--border-radius-primary);
                            transition: var(--btn-transition);
                            -webkit-transition: var(--btn-transition);
                            -moz-transition: var(--btn-transition);
                            -ms-transition: var(--btn-transition);
                            -o-transition: var(--btn-transition);
                            cursor: pointer;
                            color: var(--text-secondary);

                            &:hover {
                                background-color: var(--input-bg-color);
                                color: var(--text-primary);
                            }
                        }
                    }
                }

                .profile_btn {
                    margin-top: 2rem;
                    width: max-content;
                    height: 3.5rem;
                    padding-inline: 1.5rem;
                    border-radius: var(--border-radius-primary);
                    -webkit-border-radius: var(--border-radius-primary);
                    -moz-border-radius: var(--border-radius-primary);
                    -ms-border-radius: var(--border-radius-primary);
                    -o-border-radius: var(--border-radius-primary);
                    background-color: var(--bg-secondary);
                    color: var(--text-primary);
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: var(--common-btn-transition);
                    -webkit-transition: var(--common-btn-transition);
                    -moz-transition: var(--common-btn-transition);
                    -ms-transition: var(--common-btn-transition);
                    -o-transition: var(--common-btn-transition);

                    &:hover {
                        background-color: var(--bg-secondary-hover);
                    }
                }
            }
        }
    }
}

@media screen and (min-width:0px) and (max-width:600px) {
    .section {
        .profile_container {
            flex-direction: column;

            &>div:nth-child(1) {
                min-width: 100%;
                max-width: 100%;
                padding: 1rem;
            }

            &>div:nth-child(2) {
                padding: 1rem;
                &>div:nth-child(1) {
                    .profile_btn {
                        margin-top: 0rem;
                        width: 100%;
                    }
                }
            }
        }
    }
}


@media screen and (min-width:601px) and (max-width:900px) {
    .section {
        .profile_container {
            flex-direction: column;

            &>div:nth-child(1) {
                max-width: 100%;
                padding: 2rem;
                margin: auto;
            }

            &>div:nth-child(2) {
                
                &>div:nth-child(1) {
                    margin: auto;
                    .profile_btn {
                        margin-top: 0rem;
                        width: 100%;
                    }
                }
            }
        }
    }
}