.barber_edit_profile_container {
    height: var(--list-wrapper-height);
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);

    display: grid;
    grid-template-columns: 35rem 1fr;
    gap: 2rem;
}


.barber_edit_profile_container_left>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;

    &>p {
        font-size: var(--list-primary-text);
        font-weight: 600;
    }
}

.barber_edit_profile_content_left {
    width: 100%;
    height: calc(100% - 5rem);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #0867ff48 transparent;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &:hover::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &:hover::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    &:hover::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &:hover::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.barber_edit_profile_container_right {
    margin-top: 5rem;
    height: calc(100% - 5rem);
    width: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #0867ff48 transparent;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &:hover::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &:hover::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    &:hover::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &:hover::-webkit-scrollbar-corner {
        background-color: transparent;
    }


    &>div {
        margin-bottom: 2rem;

        &>p {
            font-size: var(--list-content-body-text);
            font-weight: 600;
            margin-bottom: 1rem;
        }

        &>input {
            width: 100%;
            height: 4rem;
            padding-inline: 1rem;
            font-size: var(--list-content-body-text);
            background-color: #EEEDED;
            border: none;
            outline: none;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
        }
    }

    .edit_profile_btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1em;
        width: 10rem;
        height: 4rem;
        border: none;
        cursor: pointer;
        background-color: #0867ff25;
        border: 0.1rem solid #0866ff;
        transition: var(--btn-transition);
        border-radius: var(--list-btn-border-radius);
        -webkit-border-radius: var(--list-btn-border-radius);
        -moz-border-radius: var(--list-btn-border-radius);
        -ms-border-radius: var(--list-btn-border-radius);
        -o-border-radius: var(--list-btn-border-radius);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);
        margin-inline: auto;
        color: #0866ff;
        font-size: var(--list-content-body-text);


        &:hover {
            background-color: #0866ff;
            color: #fff;
        }
    }
}



.barber_edit_profile_content_left {
    height: calc(calc(var(--list-wrapper-height)) - 5rem - 4rem);
    overflow: auto;

    &>div:nth-child(1) {
        width: 35rem;
        height: 35rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
        position: relative;

        &>img {
            width: 100%;
            height: 100%;
            border-radius: var(--list-wrapper-border-radius);
            -webkit-border-radius: var(--list-wrapper-border-radius);
            -moz-border-radius: var(--list-wrapper-border-radius);
            -ms-border-radius: var(--list-wrapper-border-radius);
            -o-border-radius: var(--list-wrapper-border-radius);
        }

        .upload_image_container {
            position: absolute;
            /* right: 1vw;
            bottom: 1vw;
            height: 4vw;
            width: 4vw; */
            right: 1rem;
            bottom: 1rem;
            height: 4rem;
            width: 4rem;
            background-color: #0866ff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: var(--list-wrapper-border-radius);
            -webkit-border-radius: var(--list-wrapper-border-radius);
            -moz-border-radius: var(--list-wrapper-border-radius);
            -ms-border-radius: var(--list-wrapper-border-radius);
            -o-border-radius: var(--list-wrapper-border-radius);
            font-size: var(--list-primary-text);
            color: #fff;
            cursor: pointer;
            border: none;

            &:hover {
                background-color: #0867ffc1;
            }
        }
    }

    &>p:nth-child(2) {
        /* font-size: 2vw; */
        font-size: var(--list-primary-text);
        margin-top: 3rem;
        font-weight: 600;
        text-align: center;
    }

    &>p {
        margin-top: 1.5rem;
        font-size: var(--list-modal-content-text);
        text-align: center;
    }
}

.barber_profile_loader {
    height: 35rem !important;
    width: 35rem !important;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}

.profile_skeleton_img {
    width: 35rem;
    height: 35rem;
}


.barber_edit_email_container {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: #EEEDED;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);

    &>input {
        width: calc(100% - 4rem);
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        padding-inline: 1rem;
        font-size: var(--list-content-body-text);

    }

    &>button {
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--list-content-body-text);
        font-weight: bold;
        cursor: pointer;
        margin-inline: auto;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    .barber_verified_icon {
        background-color: rgba(50, 205, 50, 0.088);
        color: limegreen;
        border: 0.1rem solid limegreen;
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);
        font-size: var(--list-content-body-text);

        &:hover {
            color: #fff;
            background-color: limegreen;
        }
    }

    .barber_notverified_icon {
        background-color: #ff000025;
        color: red;
        border: 0.1rem solid red;
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);

        &:hover {
            color: #fff;
            background-color: red;
        }
    }
}

.barber_edit_mobile_container {
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: #EEEDED;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);

    &>div:nth-child(1) {
        width: calc(100% - 4rem);
        height: 100%;
    }

    &>button:nth-child(2) {
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--list-content-body-text);
        font-weight: bold;
        cursor: pointer;
        margin-inline: auto;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }


    .barber_verified_icon {
        background-color: rgba(50, 205, 50, 0.088);
        color: limegreen;
        border: 0.1rem solid limegreen;
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);
        font-size: var(--list-content-body-text);

        &:hover {
            color: #fff;
            background-color: limegreen;
        }
    }

    .barber_notverified_icon {
        background-color: #ff000025;
        color: red;
        border: 1px solid red;
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);

        &:hover {
            color: #fff;
            background-color: red;
        }
    }

}

.barber_edit_gender_container {
    position: relative;

    &>div {
        background-color: #fff;
        box-shadow: var(--cmmn-box-shadow-y);
        position: absolute;
        top: 7rem;
        left: 0.3rem;
        right: 0.3rem;
        padding: 1rem;
        margin-inline: auto;
        border-radius: var(--input-border-radius);
        -webkit-border-radius: var(--input-border-radius);
        -moz-border-radius: var(--input-border-radius);
        -ms-border-radius: var(--input-border-radius);
        -o-border-radius: var(--input-border-radius);

        &>p {
            line-height: 4rem;
            margin-bottom: 1rem;
            font-size: var(--list-content-body-text);
            padding-inline: 1rem;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            cursor: pointer;

            &:hover {
                background-color: #0866ff;
                color: #fff;
            }
        }
    }
}

.modal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: #fff;
    border: none;
    width: 40%;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);

    &>div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        &>p {
            font-size: var(--list-modal-header-text);
            font-weight: 600;
        }

        &>button {
            margin-left: auto;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            background-color: #ff000025;
            border: 0.1rem solid red;
            cursor: pointer;
            color: red;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--list-modal-header-icon);
            margin-bottom: 1rem;

            &:hover {
                background-color: red;
                color: #fff;

                &>div {
                    color: var(--primary-text-light-color1);
                }
            }
        }
    }


    .modal_content_container {

        &>div {
            margin-bottom: 2rem;

            &>p {
                font-size: var(--list-modal-content-text);
                font-weight: 600;
                margin-bottom: 1rem;
            }

            &>div {
                height: 4rem;
                width: 100%;
                background-color: #EEEDED;
                display: flex;
                align-items: center;
                border-radius: var(--input-border-radius);
                -webkit-border-radius: var(--input-border-radius);
                -moz-border-radius: var(--input-border-radius);
                -ms-border-radius: var(--input-border-radius);
                -o-border-radius: var(--input-border-radius);

                &>input {
                    height: 100%;
                    width: calc(100% - 4rem);
                    background-color: transparent;
                    padding-inline: 1rem;
                    outline: none;
                    border: none;
                    font-size: var(--list-modal-content-text);
                }

                &>div {
                    width: 4rem;
                    height: 4rem;
                    font-size: var(--list-modal-header-icon);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }

        .edit_modal_btn {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: none;
            cursor: pointer;
            width: var(--mdl-sbt-btn-width);
            height: var(--mdl-sbt-btn-height);
            background-color: #0867ff25;
            border: 0.1rem solid #0866ff;
            border-radius: var(--list-btn-border-radius);
            -webkit-border-radius: var(--list-btn-border-radius);
            -moz-border-radius: var(--list-btn-border-radius);
            -ms-border-radius: var(--list-btn-border-radius);
            -o-border-radius: var(--list-btn-border-radius);
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            margin-inline: auto;
            font-size: var(--list-modal-header-normal-font);
            font-weight: 500;
            color: #0866ff;

            &:hover {
                background-color: #0866ff;
                color: #fff;
            }
        }
    }

}


.modal_common_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: #fff;
    border: none;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);

    &>div:nth-child(1) {
        display: block;
        width: 5rem;
        font-size: clamp(5rem, 4.6rem + 0.4vw, 10rem);
        margin-inline: auto;
        color: #0866ff;
        margin-bottom: 1rem;
    }

    &>div:nth-child(2) {
        &>p:nth-child(1) {
            font-size: var(--list-primary-text);
            font-weight: 600;
            text-align: center;
            margin-bottom: 1rem;
        }

        &>p:nth-child(2) {
            font-size: var(--list-header-btn-text);
            font-weight: 500;
            text-align: center;
            margin-bottom: 2rem;
        }

        &>div:nth-child(3) {
            margin-block: 2rem;
            display: flex;
            justify-content: space-around;
            gap: 2rem;
            /* background-color: red; */

            &>input {
                width: 6rem;
                height: 6rem;
                text-align: center;
                font-size: clamp(3rem, 2.6rem + 0.4vw, 6rem);
                border: 0.1rem solid #0866ff;
                outline: none;
                border-radius: var(--list-wrapper-border-radius);
                -webkit-border-radius: var(--list-wrapper-border-radius);
                -moz-border-radius: var(--list-wrapper-border-radius);
                -ms-border-radius: var(--list-wrapper-border-radius);
                -o-border-radius: var(--list-wrapper-border-radius);
                color: #0866ff;
                font-weight: 500;
            }
        }

        &>p:nth-child(4) {
            font-size: var(--list-header-btn-text);
            margin-bottom: 3rem;
            text-align: center;

            &>span {
                color: #0866ff;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        &>div:nth-child(5) {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 1rem;

            &>button {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                border: none;
                cursor: pointer;
                width: var(--mdl-sbt-btn-width);
                height: var(--mdl-sbt-btn-height);
                border-radius: var(--list-btn-border-radius);
                -webkit-border-radius: var(--list-btn-border-radius);
                -moz-border-radius: var(--list-btn-border-radius);
                -ms-border-radius: var(--list-btn-border-radius);
                -o-border-radius: var(--list-btn-border-radius);
                transition: var(--btn-transition);
                -webkit-transition: var(--btn-transition);
                -moz-transition: var(--btn-transition);
                -ms-transition: var(--btn-transition);
                -o-transition: var(--btn-transition);
                font-size: var(--list-modal-header-normal-font);
                font-weight: 500;

                &:hover {
                    color: #fff;
                }
            }

            &>button:nth-child(1) {
                background-color: #ff000025;
                border: 0.1rem solid red;
                color: red;

                &:hover {
                    background-color: red;
                    color: #fff;
                }
            }

            &>button:nth-child(2) {
                background-color: #0867ff25;
                border: 0.1rem solid #0866ff;
                color: #0866ff;

                &:hover {
                    background-color: #0866ff;
                    color: #fff;
                }
            }
        }
    }
}


@media screen and (min-width:0px) and (max-width:430px) {
    .barber_edit_profile_container {
        grid-template-columns: 1fr;
    }


    .barber_edit_profile_content_left {
        height: auto;
        overflow: hidden;


        &>div:nth-child(1) {
            height: 15rem;
            width: 15rem;
            margin-inline: auto;
        }

    }

    .barber_profile_loader {
        height: 15rem !important;
        width: 15rem !important;
    }


    .barber_edit_profile_container_right {
        margin-top: 1.5rem;
        height: auto;
    }

    .modal_container {
        width: 95vw;
    }

}

@media screen and (min-width:431px) and (max-width:768px) {
    .barber_edit_profile_container {
        grid-template-columns: 1fr;
    }


    .barber_edit_profile_content_left {
        height: auto;
        overflow: hidden;


        &>div:nth-child(1) {
            height: 20rem;
            width: 20rem;
            margin-inline: auto;
        }

    }

    .barber_profile_loader {
        height: 20rem !important;
        width: 20rem !important;
    }


    .barber_edit_profile_container_right {
        margin-top: 1.5rem;
        height: auto;
    }

    .modal_container {
        width: 75vw;
    }

}