.admin_dashboard_header_wrapper {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.choose_salon_div {
    margin-inline: auto;
}

.profile_wrapper {
    display: flex;
    align-items: center;
    gap: 2.3rem;
}

/* This is for notification icon :nth-child(2) */

/* .profile_wrapper>div:nth-child(2) {
    padding: 0.6em 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--list-content-body-text);
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */

.profile_wrapper>div:nth-child(2) {
    height: 3.7rem;
    width: 3.7rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: var(--cmmn-box-shadow-y);
    cursor: pointer;
}

.profile_wrapper>div:nth-child(2)>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.choose_salon_div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: auto;
}

.choose_salon_div>div:nth-child(2) {
    width: 21.6rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    font-size: var(--list-modal-header-normal-font);
    position: relative;
    cursor: pointer;
    background-color: var(--light-color-4);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.choose_salon_div>div:nth-child(2)>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--list-modal-header-icon);
}

.dashboard_salon_list_dropdown {
    position: absolute;
    top: 3.5rem;
    left: 0rem;
    right: 0rem;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    padding: 1rem;
    box-shadow: var(--cmmn-box-shadow-y);
    z-index: 100;
    background-color: var(--light-color-4);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
}

.dashboard_salon_list_dropdown>p {
    min-height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    color: var(--light-color-2)
}

.dashboard_salon_list_dropdown>p:hover {
    background-color: var(--light-color-2);
    color: var(--light-color-4);
    cursor: pointer;
    font-weight: 500;
    box-shadow: var(--cmmn-box-shadow-y);
}

.salonName_active {
    background-color: var(--light-color-2);
    color: var(--light-color-4) !important;
}

.choose_salon_div>button:nth-child(3) {
    width: 8rem;
    height: 3rem;
    cursor: pointer;
    border: none;
    background-color: var(--color-2);
    color: var(--light-color-4);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    font-weight: 500;
    font-size: var(--list-modal-header-normal-font);
    box-shadow: var(--cmmn-box-shadow-y);
}

.choose_salon_div>button:nth-child(3):hover {
    background-color: #00000089;
}

.mobile_choose_salon_div {
    display: none;
}

.dashboard_mobile_menu {
    display: none;
}

.dashboard_mobile_sidebar_container {
    display: none;
}

.profile_wrapper>div:nth-child(4) {
    position: relative;
    cursor: pointer;
}

.profile_drop_container {
    position: absolute;
    top: 5.5rem;
    right: 2rem;
    padding: 1rem;
    box-shadow: var(--cmmn-box-shadow-y);
    z-index: 100;
    background-color: var(--light-color-4);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    width: 13rem;
    overflow: hidden;


    &>div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        padding-inline: 0.8rem;
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);

        &:hover {
            background-color: var(--light-color-2);
            
            cursor: pointer;
            &>div{
                color: var(--light-color-4);
            }
        }

        &>div {
            color: var(--light-color-2);
        }
    }
}



.profile_drop_container>div>div:nth-child(1) {
    display: grid;
    place-items: center;
    font-size: var(--list-modal-header-normal-font);
    font-weight: 500;
}

.profile_drop_container>div>div:nth-child(2) {
    font-size: var(--list-modal-header-normal-font);
    font-weight: 500;
}

.salon_toggle_btn_container {
    background-color: var(--light-color-4);
    height: 2.2rem;
    width: 6rem;
    cursor: pointer;
    border: none;
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    position: relative;
    display: flex;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.salononline_toggle_btn {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    align-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.salononline_toggle_active {
    transform: translateX(3.8rem) !important;
    transition: 300ms ease;
    -webkit-transform: translateX(3.8rem) !important;
    -moz-transform: translateX(3.8rem) !important;
    -ms-transform: translateX(3.8rem) !important;
    -o-transform: translateX(3.8rem) !important;
    background-color: limegreen;
}

.salononline_toggle_inactive {
    transform: translateX(0vw);
    transition: 300ms ease;
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw);
    background-color: red;
}

.salononline_toggle_btn_text {
    position: absolute;
    top: 0.1rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.8rem, 0.5rem + 0.2vw, 1.8rem) !important;
    font-weight: bold;
    color: var(--light-color-2);
}

.salononline_toggle_btn_text_active {
    left: 0.6rem;
    opacity: 1;
}

.salononline_toggle_btn_text_inactive {
    right: 0.6rem;
}

/* Dark mode */
.choose_salon_div.dark>div:nth-child(2) {
    background-color: var(--dark-color-2);
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.dashboard_salon_list_dropdown.dark {
    background-color: var(--dark-color-2);

    &>p {
        color: var(--dark-color-4);

        &:hover {
            background-color: var(--dark-color-3);
            color: var(--dark-color-4);
        }
    }
}

.salonName_active.dark {
    background-color: var(--dark-color-3);
    color: var(--dark-color-4);
}

.profile_drop_container.dark {
    background-color: var(--dark-color-2);

    &>div {
        &:hover {
            background-color: var(--dark-color-3);
        }

        &>div {
            color: var(--dark-color-4);
        }
    }
}

.salon_toggle_btn_container.dark {
    background-color: var(--dark-color-2);
}

.salononline_toggle_btn_text.dark {
    color: var(--dark-color-4);
}

@media screen and (min-width:0px) and (max-width:430px) {

    .choose_salon_div {
        display: none;
    }

    .mobile_choose_salon_div {
        display: block;
    }

    .admin_dashboard_header_wrapper {
        position: relative;
    }

    .mobile_choose_salon_div>button:nth-child(1) {
        height: 3rem;
        padding-inline: 1rem;
        border: none;
        box-shadow: var(--cmmn-box-shadow-y);
        font-weight: 500;
        color: var(--light-color-4) ;
        background-color: var(--color-2);
        font-size: var(--list-header-btn-text);
        margin-left: 0.5rem;
        border-radius: var(--input-border-radius);
        -webkit-border-radius: var(--input-border-radius);
        -moz-border-radius: var(--input-border-radius);
        -ms-border-radius: var(--input-border-radius);
        -o-border-radius: var(--input-border-radius);
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }

    .chooseSalon_modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

    .chooseSalon_model_content {
        width: 90vw;
        height: auto;
        background-color: var(--light-color-4);
        padding: 2rem;
        box-shadow: var(--cmmn-box-shadow-y);
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
}

    .chooseSalon_model_content>button:nth-child(1) {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        cursor: pointer;
        border: none;
        font-size: var(--list-modal-header-icon);
        color: red;
        border: 0.1rem solid red;
        background-color: #ff000025;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: red;
            color: var(--light-color-4) ;
        }
    }

    .chooseSalon_model_content>p:nth-child(2) {
        font-size: var(--list-modal-header-text);
        font-weight: 600;
        margin-inline: auto;
        color: var(--light-color-2);
    }

    .chooseSalon_model_content>div:nth-child(3) {
        margin-top: 1.6rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
        width: 100%;
        padding-inline: 1.5rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    .chooseSalon_model_content>div:nth-child(3)>p {
        font-size: var(--list-modal-content-text);
        color: var(--light-color-2);

    }

    .mobile_dashboard_salon_list_dropdown {
        padding: 1rem;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        overflow-y: scroll;
        margin-block: 2rem;
    }

    .mobile_dashboard_salon_list_dropdown>p {
        min-height: 4rem;
        width: 100%;
        background-color: var(--light-color-4);
        color: var(--light-color-2);
        font-weight: 500;
        cursor: pointer;
        border-radius: var(--list-wrapper-border-radius);
        margin-bottom: 1rem;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        font-size: var(--list-modal-content-text);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    .mobile_dashboard_salon_list_dropdown>p:hover {
        background-color: var(--light-color-2);
        color: var(--light-color-4) ;
    }

    .salonName_active {
        background-color: var(--light-color-2) !important;
        color: var(--light-color-4) !important;
    }

    .chooseSalon_model_content>button:nth-child(5) {
        height: 4rem;
        width: 12rem;
        border: none;
        box-shadow: var(--cmmn-box-shadow-y);
        background-color: var(--color-2);
        color: var(--light-color-4);
        cursor: pointer;
        font-weight: 500;
        font-size: var(--list-modal-content-text);
        margin-inline: auto;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    .dashboard_mobile_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--list-modal-header-icon);
        font-weight: bold;
        cursor: pointer;
    }

    .dashboard_mobile_sidebar_container {
        position: absolute;
        top: 0px;
        height: 100svh;
        box-shadow: var(--cmmn-box-shadow-x);
        z-index: 1000;
        background-color: var(--primary-bg-light-color1);
        padding: 2rem;
        transition: width 300ms ease;
        -webkit-transition: width 300ms ease;
        -moz-transition: width 300ms ease;
        -ms-transition: width 300ms ease;
        -o-transition: width 300ms ease;
        display: block;

        &>button:nth-child(1) {
            padding: 0.6rem 0.6rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: none;
            font-size: var(--list-modal-header-icon);
            color: red;
            border: 1px solid red;
            background-color: #ff000025;
            font-weight: bold;
            margin-bottom: 2rem;
            margin-left: auto;
        }

        .dashboard_mobile_item {
            background-color: transparent;
            margin-bottom: 2rem;
            display: flex;
            gap: 2rem;
            padding-inline: 1rem;
            height: 4rem;
            width: 100%;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
            align-items: center;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            cursor: pointer;

            &>div {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: var(--list-modal-content-text);
                color: #000;
            }


            &>p {
                font-size: var(--list-modal-content-text);
                color: #000;
            }
        }

        .dashboard_mobile_item.dashboard_mobile_item_active {
            background-color: #000;

            &>div {
                color: #fff;
            }


            &>p {
                color: #fff;
            }
        }
    }

    .dashboard_mobile_siderbar_content_container {
        height: calc(100svh - calc(3rem + 2rem) - 2rem);
        overflow: auto;
    }

    .dashboard_mobile_sidebar_active {
        width: 70vw;
        left: -1rem;
        display: block;
    }

    .dashboard_mobile_sidebar_inactive {
        display: none;
        width: 0vw;
    }

    .dashboard_theme_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1rem;

        &>p {
            font-size: var(--list-content-body-text);
            font-weight: 600;
        }

        &>button {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: none;
            font-size: var(--list-content-body-text);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }


    .profile_drop_container {
        display: none;
    }

    /* dark mode on  */

    .chooseSalon_model_content.dark{
        background-color: var(--dark-color-2);
    }

    .chooseSalon_model_content.dark>p:nth-child(2){
        color: var(--dark-color-4);
    }

    .chooseSalon_model_content.dark>div:nth-child(3){
        background-color: var(--dark-color-1);
        border: 0.1rem solid rgba(255, 255, 255, 0.2);

        &>p{
            color: var(--dark-color-4);
        }
    }

    .mobile_dashboard_salon_list_dropdown.dark{
        background-color: var(--dark-color-1);
        border: 0.1rem solid rgba(255, 255, 255, 0.2);

        &>p{
            background-color: transparent;
            color: var(--light-color-4);

            &:hover{
                background-color: var(--dark-color-3) !important;
                color: var(--dark-color-4) !important;
            }
        }
    }

    .salonName_active.dark {
        background-color: var(--dark-color-3) !important;
        color: var(--dark-color-4) !important;
    }

}

@media screen and (min-width:431px) and (max-width:768px) {

    .choose_salon_div {
        display: none;
    }

    .mobile_choose_salon_div {
        display: block;
    }

    .admin_dashboard_header_wrapper {
        position: relative;
    }

    .mobile_choose_salon_div>button:nth-child(1) {
        height: 3rem;
        padding-inline: 1rem;
        border: none;
        box-shadow: var(--cmmn-box-shadow-y);
        font-weight: 500;
        color: #fff;
        background-color: #000;
        font-size: var(--list-header-btn-text);
        margin-left: 0.5rem;
        border-radius: var(--input-border-radius);
        -webkit-border-radius: var(--input-border-radius);
        -moz-border-radius: var(--input-border-radius);
        -ms-border-radius: var(--input-border-radius);
        -o-border-radius: var(--input-border-radius);
    }

    .chooseSalon_modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

    .chooseSalon_model_content {
        width: 70vw;
        height: auto;
        background-color: var(--primary-bg-light-color1);
        padding: 2rem;
        box-shadow: var(--cmmn-box-shadow-y);
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    .chooseSalon_model_content>button:nth-child(1) {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        cursor: pointer;
        box-shadow: var(--cmmn-box-shadow-y);
        border: none;
        font-size: var(--list-modal-header-icon);
        color: red;
        border: 1px solid red;
        background-color: #ff000025;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: red;
            color: #fff;
        }
    }

    .chooseSalon_model_content>p:nth-child(2) {
        font-size: var(--list-modal-header-text);
        font-weight: 600;
        margin-inline: auto;
    }

    .chooseSalon_model_content>div:nth-child(3) {
        margin-top: 1.6rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
        width: 100%;
        padding-inline: 1.5rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    .chooseSalon_model_content>div:nth-child(3)>p {
        font-size: var(--list-modal-content-text);
    }

    .mobile_dashboard_salon_list_dropdown {
        padding: 1rem;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        overflow-y: scroll;
        margin-block: 2rem;

        &::-webkit-scrollbar {
            width: 0.6rem;
            height: 0.7rem;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #0867ff48;
            border-radius: var(--list-wrapper-border-radius);
            -webkit-border-radius: var(--list-wrapper-border-radius);
            -moz-border-radius: var(--list-wrapper-border-radius);
            -ms-border-radius: var(--list-wrapper-border-radius);
            -o-border-radius: var(--list-wrapper-border-radius);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgb(0, 98, 255);
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }

    .mobile_dashboard_salon_list_dropdown>p {
        min-height: 4rem;
        width: 100%;
        background-color: var(--primary-bg-light-color1);
        color: var(--primary-text-light-color2);
        font-weight: 500;
        cursor: pointer;
        border-radius: var(--list-wrapper-border-radius);
        margin-bottom: 1rem;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        font-size: var(--list-modal-content-text);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    .mobile_dashboard_salon_list_dropdown>p:hover {
        background-color: #000;
        color: var(--primary-text-light-color1);
    }

    .chooseSalon_model_content>button:nth-child(5) {
        height: 4.5rem;
        width: 70%;
        border: none;
        box-shadow: var(--cmmn-box-shadow-y);
        background-color: #000;
        color: var(--primary-text-light-color1);
        cursor: pointer;
        font-weight: 500;
        font-size: var(--list-modal-content-text);
        margin-inline: auto;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    .dashboard_mobile_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--list-modal-header-icon);
        font-weight: bold;
        cursor: pointer;
    }

    .dashboard_mobile_sidebar_container {
        position: absolute;
        top: 0px;
        height: 100svh;
        box-shadow: var(--cmmn-box-shadow-x);
        z-index: 1000;
        background-color: var(--primary-bg-light-color1);
        padding: 2rem;
        transition: width 300ms ease;
        -webkit-transition: width 300ms ease;
        -moz-transition: width 300ms ease;
        -ms-transition: width 300ms ease;
        -o-transition: width 300ms ease;
        display: block;

        &>button:nth-child(1) {
            padding: 0.6rem 0.6rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: none;
            font-size: var(--list-modal-header-icon);
            color: red;
            border: 1px solid red;
            background-color: #ff000025;
            font-weight: bold;
            margin-bottom: 2rem;
            margin-left: auto;
        }

        .dashboard_mobile_item {
            background-color: transparent;
            margin-bottom: 2rem;
            display: flex;
            gap: 2rem;
            padding-inline: 1rem;
            height: 4rem;
            width: 100%;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
            align-items: center;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            cursor: pointer;

            &>div {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: var(--list-modal-content-text);
                color: #000;
            }


            &>p {
                font-size: var(--list-modal-content-text);
                color: #000;
            }
        }

        .dashboard_mobile_item.dashboard_mobile_item_active {
            background-color: #000;

            &>div {
                color: #fff;
            }


            &>p {
                color: #fff;
            }
        }
    }

    .dashboard_mobile_siderbar_content_container {
        height: calc(100svh - calc(3rem + 2rem) - 2rem);
        overflow: auto;
    }

    .dashboard_mobile_sidebar_active {
        width: 50vw;
        left: -1rem;
        display: block;
    }

    .dashboard_mobile_sidebar_inactive {
        display: none;
        width: 0vw;
    }

    .dashboard_theme_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1rem;

        &>p {
            font-size: var(--list-content-body-text);
            font-weight: 600;
        }

        &>button {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: none;
            font-size: var(--list-content-body-text);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }


    .profile_drop_container {
        display: none;
    }

}


@media screen and (min-width:769px) and (max-width:1140px) {

    .choose_salon_div {
        display: none;
    }

    .mobile_choose_salon_div {
        display: block;
    }

    .admin_dashboard_header_wrapper {
        position: relative;
    }

    .mobile_choose_salon_div>button:nth-child(1) {
        height: 3rem;
        padding-inline: 1rem;
        border: none;
        box-shadow: var(--cmmn-box-shadow-y);
        font-weight: 500;
        color: #fff;
        background-color: #000;
        font-size: var(--list-header-btn-text);
        margin-left: 0.5rem;
        border-radius: var(--input-border-radius);
        -webkit-border-radius: var(--input-border-radius);
        -moz-border-radius: var(--input-border-radius);
        -ms-border-radius: var(--input-border-radius);
        -o-border-radius: var(--input-border-radius);
    }

    .chooseSalon_modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

    .chooseSalon_model_content {
        width: 50vw;
        height: auto;
        background-color: var(--primary-bg-light-color1);
        padding: 2rem;
        box-shadow: var(--cmmn-box-shadow-y);
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    .chooseSalon_model_content>button:nth-child(1) {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        cursor: pointer;
        border: none;
        font-size: var(--list-modal-header-icon);
        color: red;
        border: 1px solid red;
        background-color: #ff000025;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: red;
            color: #fff;
        }
    }

    .chooseSalon_model_content>p:nth-child(2) {
        font-size: var(--list-modal-header-text);
        font-weight: 600;
        margin-inline: auto;
    }

    .chooseSalon_model_content>div:nth-child(3) {
        margin-top: 1.6rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
        width: 100%;
        padding-inline: 1.5rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    .chooseSalon_model_content>div:nth-child(3)>p {
        font-size: var(--list-modal-content-text);
    }

    .mobile_dashboard_salon_list_dropdown {
        padding: 1rem;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        overflow-y: scroll;
        margin-block: 2rem;

        &::-webkit-scrollbar {
            width: 0.6rem;
            height: 0.7rem;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #0867ff48;
            border-radius: var(--list-wrapper-border-radius);
            -webkit-border-radius: var(--list-wrapper-border-radius);
            -moz-border-radius: var(--list-wrapper-border-radius);
            -ms-border-radius: var(--list-wrapper-border-radius);
            -o-border-radius: var(--list-wrapper-border-radius);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgb(0, 98, 255);
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }

    .mobile_dashboard_salon_list_dropdown>p {
        min-height: 4rem;
        width: 100%;
        background-color: var(--primary-bg-light-color1);
        color: var(--primary-text-light-color2);
        font-weight: 500;
        cursor: pointer;
        border-radius: var(--list-wrapper-border-radius);
        margin-bottom: 1rem;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        font-size: var(--list-modal-content-text);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    .mobile_dashboard_salon_list_dropdown>p:hover {
        background-color: #000;
        color: var(--primary-text-light-color1);
    }

    .chooseSalon_model_content>button:nth-child(5) {
        height: 4.5rem;
        width: 70%;
        border: none;
        box-shadow: var(--cmmn-box-shadow-y);
        background-color: #000;
        color: var(--primary-text-light-color1);
        cursor: pointer;
        font-weight: 500;
        font-size: var(--list-modal-content-text);
        margin-inline: auto;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    .dashboard_mobile_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--list-modal-header-icon);
        font-weight: bold;
        cursor: pointer;
    }

    .dashboard_mobile_sidebar_container {
        position: absolute;
        top: 0px;
        height: 100svh;
        box-shadow: var(--cmmn-box-shadow-x);
        z-index: 1000;
        background-color: var(--primary-bg-light-color1);
        padding: 2rem;
        transition: width 300ms ease;
        -webkit-transition: width 300ms ease;
        -moz-transition: width 300ms ease;
        -ms-transition: width 300ms ease;
        -o-transition: width 300ms ease;
        display: block;

        &>button:nth-child(1) {
            padding: 0.6rem 0.6rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: none;
            font-size: var(--list-modal-header-icon);
            color: red;
            border: 1px solid red;
            background-color: #ff000025;
            font-weight: bold;
            margin-bottom: 2rem;
            margin-left: auto;
        }

        .dashboard_mobile_item {
            background-color: transparent;
            margin-bottom: 2rem;
            display: flex;
            gap: 2rem;
            padding-inline: 1rem;
            height: 4rem;
            width: 100%;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
            align-items: center;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            cursor: pointer;

            &>div {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: var(--list-modal-content-text);
                color: #000;
            }


            &>p {
                font-size: var(--list-modal-content-text);
                color: #000;
            }
        }

        .dashboard_mobile_item.dashboard_mobile_item_active {
            background-color: #000;

            &>div {
                color: #fff;
            }


            &>p {
                color: #fff;
            }
        }
    }

    .dashboard_mobile_siderbar_content_container {
        height: calc(100svh - calc(3rem + 2rem) - 2rem);
        overflow: auto;
    }

    .dashboard_mobile_sidebar_active {
        width: 30vw;
        left: -1rem;
        display: block;
    }

    .dashboard_mobile_sidebar_inactive {
        display: none;
        width: 0vw;
    }

    .dashboard_theme_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1rem;

        &>p {
            font-size: var(--list-content-body-text);
            font-weight: 600;
        }

        &>button {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: none;
            font-size: var(--list-content-body-text);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }


    .profile_drop_container {
        display: none;
    }

}