.section {
    background-color: transparent;
    height: calc(100vh - 6rem);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: auto;

    &>div:nth-child(1) {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>h2 {
            color: var(--text-primary);
            line-height: inherit;
            font-family: "AirbnbCereal_Medium";
        }
    }
}


.barber_appointment_content_wrapper {
    width: 100%;
    height: var(--list-wrapper-common-height);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}

.button_group {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: max-content;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: var(--input-bg-color);

    &>button {
        height: 100%;
        border: none;
        font-weight: 500;
        cursor: pointer;
        background: var(--bg-primary);
        border-radius: 0.6rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        -ms-border-radius: 0.6rem;
        -o-border-radius: 0.6rem;
        color: var(--text-primary);
        line-height: inherit;
        font-family: "AirbnbCereal_Medium";
        font-size: 1.4rem;
        padding: 1.5rem 2rem;
        border: 0.1rem solid var(--border-secondary);

        &:hover{
            font-weight: 600;
            /* border-bottom: 2px solid black; */
        }
    }
}


.heading,
.value {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.4rem;
}

.value_body {
    margin-left: "auto"
}

.leave_value_body {
    width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.submit {
    background-color: var(--color-3);
    color: var(--color-2);
    border: 0.1rem solid var(--color-2);
    padding: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
}

.reset_days {
    background-color: var(--color-3);
    color: var(--color-2);
    border: 0.1rem solid var(--color-2);
    padding: 0.6rem 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.highlighted_date {
    background-color: #0867ff54;
    color: white !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.leave_dates {
    background-color: rgba(255, 0, 0, 0.321);
}

/* dark mode  */

.barber_appointment_wrapper.dark {
    background-color: var(--dark-color-2);
}