.forgot_container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.forgot_container_left {
    height: 100svh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.1rem solid rgba(0, 0, 0, 0.2);

    &>img {
        width: 90%;
        height: 60%;
    }
}


.forgot_container_right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &>div:nth-child(1) {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;


        &>p {
            font-size: var(--list-primary-text);
            font-weight: 600;
        }

        &>input {
            height: 4rem;
            width: 100%;
            background-color: var(--bg-color3);
            font-size: var(--list-content-body-text);
            font-weight: 500;
            border: none;
            outline: none;
            padding-inline: 1rem;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
}

        .forgot_btn {
            height: 4rem;
            width: 100%;
            border: 1px solid #0866ff;
            color: #0866ff;
            background-color: #0867ff25;
            outline: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--list-content-body-text);

            &:hover{
                background-color: #0866ff;
                color: #fff;
            }
        }

        &>a {
            font-size: var(--list-content-body-text);
        }
    }
}

.homeicon {
    position: absolute;
    top: 3rem;
    left: 3rem;
    padding: 0.6em 0.6em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    border: 0.1rem solid #0866ff;
    color: #0866ff;
    background-color: #0867ff25;
    font-size: var(--list-content-body-text);
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: #0866ff;
        color: #fff;
    }
}

@media screen and (min-width:0px) and (max-width:430px){
    .forgot_container {
        grid-template-columns: 1fr;
    }

    .forgot_container_left {
        display: none;
    }

    .forgot_container_right>div:nth-child(1) {
        width: 85vw;
    }
}

@media screen and (min-width:431px) and (max-width:768px){
    .forgot_container {
        grid-template-columns: 1fr;
    }

    .forgot_container_left {
        display: none;
    }

    .forgot_container_right>div:nth-child(1) {
        width: 65vw;
    }
}

@media screen and (min-width:769px) and (max-width:1000px){
    .forgot_container {
        grid-template-columns: 1fr;
    }

    .forgot_container_left {
        display: none;
    }

    .forgot_container_right>div:nth-child(1) {
        width: 45vw;
    }
}

@media screen and (min-width:1001px) and (max-width:1250px){
    .forgot_container_right>div:nth-child(1) {
        width: 65%;
    }
}
