.salon_wrapper {
    /*theextra2remisforpaddingbottom*/
    height: var(--list-wrapper-height);
    width: 100%;
    padding: 2rem;
    background-color: var(--light-color-4);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}

.salon_wrapper>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;
}

.salon_wrapper>div:nth-child(1)>p {
    font-size: var(--font-size-1);
    font-weight: 600;
}

.salon_wrapper>div:nth-child(1)>button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    padding: var(--list-header-btn-padding);
    border: none;
    cursor: pointer;
    background-color: var(--color-3);
    border: 0.1rem solid var(--color-2);
    transition: var(--btn-transition);
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);

    &>p {
        font-weight: 500;
        color: var(--color-2);
        font-size: var(--font-size-2);
    }

    &>div {
        font-size: var(--font-size-2);
        font-weight: 500;
        color: var(--color-2);
    }

    &:hover {
        background-color: var(--color-2);

        &>p,
        &>div {
            color: var(--light-color-4);
        }
    }
}

.salon_content_wrapper {
    width: 100%;
    height: var(--list-wrapper-common-height);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    /* background-color: var(--light-color-4); */
}

.salon_content_body {
    height: var(--list-wrapper-common-height);
    width: 100%;
    overflow: auto;
}


.salon_content_body>div {
    min-height: 6rem;
    min-width: 90rem;
    max-width: 100%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.6fr 0.5fr 0.5fr;
    place-items: center;
    font-size: var(--font-size-3);
    font-weight: 500;
}

.salon_content_body>div:nth-child(1) {
    position: sticky;
    top: 0;
    z-index: 3;
    border-top-left-radius: var(--list-wrapper-border-radius);
    border-top-right-radius: var(--list-wrapper-border-radius);
    font-weight: 600;
    background-color: var(--light-color-4);
}

.salon_content_body>div>p:nth-child(1) {
    position: sticky;
    left: 0;
    z-index: 2;
}

.salon_content_body>div:not(:nth-child(1))>p:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.salon_content_body>div:nth-child(1)>p:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.salon_content_body>div>p {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.salon_content_body>div:nth-child(1) {
    &>p:nth-child(5) {
        justify-content: center;
    }

    &>p:nth-child(6) {
        justify-content: center;
    }

    &>p:nth-child(7) {
        justify-content: center;
    }

}

.salon_content_body>div>div:nth-child(5),
.salon_content_body>div>div:nth-child(6),
.salon_content_body>div>div:nth-child(7) {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.salon_content_body>div>div:nth-child(5)>button,
.salon_content_body>div>div:nth-child(6)>button,
.salon_content_body>div>div:nth-child(7)>button {
    padding: var(--list-wrapper-btn-padding);
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    border: none;
    cursor: pointer;
    font-size: var(--font-size-3);
}

.salon_content_body>div>div:nth-child(5)>button {
    background-color: var(--color-3);
    border: 0.1rem solid var(--color-2);
    color: var(--color-2);
    font-weight: 500;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);

    &:hover {
        background-color: var(--color-2);
        color: var(--light-color-4);
    }
}

/* .salon_content_body>div>div:nth-child(6)>button {
    background-color: rgba(255, 0, 0, 0.144);
    border: 0.1rem solid var(--color-6);
    color: var(--color-6);
    font-weight: 500;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);

    &:hover {
        background-color: var(--color-6);
        color: var(--light-color-4);
    }
} */

.salon_content_body>div>div:nth-child(6)>button {
    background-color: var(--color-5);
    border: 0.1rem solid var(--color-4);
    color: var(--color-4);
    font-weight: 500;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);

    &:hover {
        background-color: var(--color-4);
        color: var(--light-color-4);
    }
}

.salon_content_body_error {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    &>p {
        font-size: var(--font-size-3);
        font-weight: 500;
    }
}


.modal_container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: var(--light-color-4);
    border: none;
    width: 40%;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);

    &>div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        &>p {
            font-size: var(--font-size-1);
            font-weight: 600;
        }

        &>button {
            margin-left: auto;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            background-color: var(--color-7);
            border: 0.1rem solid var(--color-6);
            cursor: pointer;
            color: var(--color-6);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--font-size-2);
            margin-bottom: 1rem;

            &:hover {
                background-color: var(--color-6);
                color: var(--light-color-4);

                &>div {
                    color: var(--light-color-4);
                }
            }
        }
    }


    .modal_content_container {

        &>div {
            margin-bottom: 2rem;

            &>p {
                font-size: var(--font-size-3);
                font-weight: 500;
                margin-bottom: 1rem;
            }

            &>input {
                height: 4rem;
                width: 100%;
                background-color: var(--light-color-3);
                border-radius: var(--input-border-radius);
                -webkit-border-radius: var(--input-border-radius);
                -moz-border-radius: var(--input-border-radius);
                -ms-border-radius: var(--input-border-radius);
                -o-border-radius: var(--input-border-radius);
                padding-inline: 1rem;
                outline: none;
                border: none;
                font-size: var(--font-size-3);
            }
        }

        .salon_settings_btn {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: none;
            cursor: pointer;
            width: var(--mdl-sbt-btn-width);
            height: var(--mdl-sbt-btn-height);
            background-color: var(--color-2);
            border: 0.1rem solid var(--color-2);
            border-radius: var(--list-btn-border-radius);
            -webkit-border-radius: var(--list-btn-border-radius);
            -moz-border-radius: var(--list-btn-border-radius);
            -ms-border-radius: var(--list-btn-border-radius);
            -o-border-radius: var(--list-btn-border-radius);
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            margin-inline: auto;
            font-size: var(--font-size-2);
            font-weight: 500;
            color: var(--light-color-4);

            &:hover {
                background-color: var(--color-3);
                color: var(--light-color-4);
            }
        }
    }

}


.modal_payment_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: var(--light-color-4);
    border: none;
    width: 30%;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);

    &>div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        &>p {
            font-size: var(--font-size-1);
            font-weight: 600;
        }

        &>button {
            margin-left: auto;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            background-color: var(--color-7);
            border: 0.1rem solid var(--color-6);
            cursor: pointer;
            color: var(--color-6);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--font-size-2);
            margin-bottom: 0rem;

            &:hover {
                background-color: var(--color-6);
                color: var(--light-color-4);

                &>div {
                    color: var(--light-color-4);
                }
            }
        }
    }


    .modal_payment_content_container {

        &>div:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 6rem;
            border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);

            &>p {
                font-size: 2rem;
                font-weight: 600;
            }
        }

        &>div:nth-child(2) {
            padding-block: 2rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);

            &>div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &>div {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;

                    &>input[type="checkbox"] {
                        width: 1.6rem;
                        height: 1.6rem;
                    }

                    &>p {
                        font-size: var(--font-size-2);
                        font-weight: 500;
                    }
                }

                &>p {
                    font-weight: 500;
                }
            }
        }

        &>div:nth-child(3) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 6rem;
            margin-bottom: 2rem;

            &>p {
                font-size: 1.8rem;
                font-weight: 600;
            }
        }

        &>div:nth-child(4) {
            margin-bottom: 2rem;

            &>p:nth-child(1) {
                font-size: var(--font-size-2);
                font-weight: 600;
                margin-bottom: 1rem;
                color: var(--light-color-2);
            }

            &>p {
                font-size: var(--font-size-2);
                font-weight: 500;
                margin-bottom: 1rem;
                color: gray;
            }
        }

        .salon_payment_btn {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: none;
            cursor: pointer;
            width: 100%;
            height: var(--mdl-sbt-btn-height);
            background-color: var(--color-3);
            border: 0.1rem solid var(--color-2);
            border-radius: var(--list-wrapper-border-radius);
            -webkit-border-radius: var(--list-wrapper-border-radius);
            -moz-border-radius: var(--list-wrapper-border-radius);
            -ms-border-radius: var(--list-wrapper-border-radius);
            -o-border-radius: var(--list-wrapper-border-radius);

            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            margin-inline: auto;
            font-size: var(--font-size-2);
            font-weight: 500;
            color: var(--color-2);

            &:hover {
                background-color: var(--color-2);
                color: var(--light-color-4);
            }
        }
    }

}

.time_container {
    position: relative;
}

.time_drop_container {
    z-index: 10;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    height: 25vh;
    background-color: var(--light-color-4);
    box-shadow: var(--cmmn-box-shadow-y);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    padding: 1rem;
    overflow: auto;


    &>p {
        line-height: 4rem;
        margin-bottom: 1rem;
        padding-inline: 1rem;
        font-size: var(--font-size-3);
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);

        &:hover {
            line-height: 4rem;
            background-color: var(--light-color-2);
            margin-bottom: 1rem;
            padding-inline: 1rem;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
            color: var(--light-color-4);
            cursor: pointer;
        }
    }

}

/* dark mode */

.salon_wrapper.dark,
.modal_container.dark,
.time_drop_container.dark {
    background-color: var(--dark-color-2);
}

.salon_wrapper.dark {
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.time_drop_container.dark {
    border: 0.1rem solid rgba(255, 255, 255, 0.2);

    &>p {
        &:hover {
            background-color: var(--dark-color-3);
        }
    }
}

.modal_container.dark {
    .modal_content_container {
        &>div {
            &>input {
                background-color: var(--dark-color-1);
            }
        }
    }
}

.modal_payment_container.dark {
    background-color: var(--dark-color-1);
}

.modal_payment_content_container.dark {

    &>div:nth-child(1),
    &>div:nth-child(2) {
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    }

    &>div:nth-child(4) {
        margin-bottom: 2rem;

        &>p:nth-child(1) {
            color: var(--light-color-4);
        }

        &>p {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.salon_content_body.dark>div:not(:nth-child(1))>p:nth-child(1),
.salon_content_body.dark>div:nth-child(1)>p:nth-child(1) {
    background-color: rgba(32, 33, 36, 0.5) !important;
}

.salon_content_body.dark>div:nth-child(1) {
    background-color: var(--dark-color-2);
}

.salon_content_body.dark>div {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
}

@media screen and (min-width:0px) and (max-width:430px) {
    .modal_container {
        width: 90%;
    }

    .modal_payment_container {
        width: 90%;
    }
}

@media screen and (min-width:431px) and (max-width:768px) {
    .modal_container {
        width: 70%;
    }

    .modal_payment_container {
        width: 60%;
    }
}

@media screen and (min-width:769px) and (max-width:1140px) {
    .modal_container {
        width: 50%;
    }

    .modal_payment_container {
        width: 40%;
    }
}