.quehistory_wrapper{
    height: var(--list-wrapper-height);
    width: 100%;
    padding: 2rem;
    background-color: var(--light-color-4);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}

.quehistory_wrapper>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;
}

.quehistory_wrapper>div:nth-child(1)>p {
    font-size: var(--list-primary-text);
    font-weight: 600;
}

.quehistory_wrapper_content{
    width: 100%;
    height: var(--list-wrapper-common-height);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}

.quehistory_wrapper_content_body{
    height: var(--list-wrapper-common-height);
    width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.quehistory_wrapper_content_body>div {
    min-height: 6rem;
    min-width: 90rem;
    max-width: 100%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 0.7fr 0.5fr 0.5fr 0.8fr 1fr;
    place-items: center;
    font-size: var(--list-content-body-text);
    font-weight: 500;
}

.quehistory_wrapper_content_body>div:nth-child(1) {
    position: sticky;
    top: 0;
    z-index: 3;
    border-top-left-radius: var(--list-wrapper-border-radius);
    border-top-right-radius: var(--list-wrapper-border-radius);
    font-weight: 600;
    background-color: var(--light-color-4);
}

.quehistory_wrapper_content_body>div:nth-child(1)>p {
    color: var(--primary-text-light-colo2);
}

.quehistory_wrapper_content_body>div>p:nth-child(2) {
    position: sticky;
    left: 0;
    z-index: 2;
}

.quehistory_wrapper_content_body>div:not(:nth-child(1))>p:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.5) !important; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}

.quehistory_wrapper_content_body>div:nth-child(1)>p:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.5) !important; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}

.quehistory_wrapper_content_body>div>p {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.quehistory_wrapper_content_body_error{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    &>p {
        font-size: var(--list-content-error-text);
        font-weight: 500;
    }
}
