.customer_wrapper {
    height: calc(100vh - 6rem);
    width: 100%;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.customer_wrapper>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.customer_wrapper>div:nth-child(1)>p {
    font-size: 2rem;
    font-weight: bold;
}

.customer_search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 32rem;
    height: 100%;
    /*background-color: var(--primary-bg-light-color1);
    */
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
}

.customer_search>input {
    height: 100%;
    width: calc(100% - 4rem);
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding-inline: 1rem;
    font-size: 1.6rem;
    background: transparent;
}

.customer_search>input:focus {
    outline: none;
}

.customer_search>div {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    cursor: pointer;
}

.customer_content_wrapper {
    width: 100%;
    height: 85%;
    border-radius: 1.7rem;
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -ms-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    background-color: var(--primary-bg-light-color1);
}

.customer_content_body {
    height: 98%;
    width: 100.5%;
    overflow-y: scroll;
}

.customer_content_body::-webkit-scrollbar {
    width: 6px !important;
    height: 7px;
}

.customer_content_body::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.customer_content_body::-webkit-scrollbar-thumb {
    background: var(--primary-bg-color3) !important;
}

.customer_content_body::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 98, 255) !important;
}

.customer_content_body>div {
    min-height: 6rem;
    min-width: 100rem;
    max-width: 100%;
    background-color: #efefef;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr 0.8fr 0.4fr 0.5fr;
    place-items: center;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.customer_content_body>div:nth-child(1) {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--primary-bg-color3);
    border-top-left-radius: 1.7rem;
    border-top-right-radius: 1.7rem;
}

.customer_content_body>div:nth-child(1)>p {
    color: var(--primary-text-light-color1);
}

.customer_content_body>div>p:nth-child(2) {
    position: sticky;
    left: 0;
    z-index: 2;
}

.customer_content_body>div:not(:nth-child(1))>p:nth-child(2) {
    background-color: #efefef;
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
}

.customer_content_body>div:nth-child(1)>p:nth-child(2) {
    background-color: var(--primary-bg-color3);
    border-top-left-radius: 1.7rem;
}

.customer_content_body>div:nth-child(2) {
    margin-top: 1rem;
}

.customer_content_body>div>p {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 
.customer_content_body>div>div:nth-child(7),
.customer_content_body>div>div:nth-child(8),
.customer_content_body>div>div:nth-child(9) {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer_content_body>div>div:nth-child(7)>div,
.customer_content_body>div>div:nth-child(8)>div,
.customer_content_body>div>div:nth-child(9)>div {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--primary-bg-light-color1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.customer_content_body>div>div:nth-child(7)>div {
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
}

.customer_content_body>div>div:nth-child(8)>div {
    background-color: #FC6736;
    color: var(--primary-text-light-color1);
}

.customer_content_body>div>div:nth-child(9)>div {
    background-color: #720455;
    color: var(--primary-text-light-color1);
} */

.customer_pagination_wrapper {
    width: 100%;
    height: 4rem;
}

.customer_pagination_wrapper>div {
    width: 10rem;
    height: 4rem;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.customer_pagination_wrapper>div>div {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    font-size: 2rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.customer_search {
    display: flex;
    height: 4rem;
}

.mobile_customer_search {
    display: none;
}


.customer_content_body_error {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.customer_wrapper>div:nth-child(1)>div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer_send_btn {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 5rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: var(--primary-bg-color3);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    color: var(--primary-text-light-color1);
    cursor: pointer;
}

.customer_send_btn>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}


/* Dark Css Style */

.customer_wrapper.dark>div:nth-child(1)>p {
    color: var(--primary-text-light-color1);
}

.customer_content_wrapper.dark {
    background-color: var(--dark-mode-bg-color-4);
}

.customer_content_body.dark>div:not(:nth-child(1)) {
    background-color: var(--dark-mode-bg-color-2);
}

.customer_content_body.dark>div:not(:nth-child(1))>p {
    color: var(--primary-text-light-color1);
}

.customer_content_body.dark>div:not(:nth-child(1))>p:nth-child(2) {
    background-color: var(--dark-mode-bg-color-2);
}

.customer_search.dark {
    background: var(--dark-mode-bg-color-4);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
}

.customer_search.dark>input {
    background: transparent;
    color: var(--primary-text-light-color1);
}

.customer_search.dark>input::placeholder {
    color: var(--primary-text-light-color1);
}

.customer_search.dark>div {
    background: transparent;
    color: var(--primary-text-light-color1);
}

.customer_content_body_error.dark p {
    color: var(--primary-text-light-color1);
}

.customer_send_btn.dark {
    background-color: var(--dark-mode-bg-color-4);
}

.customer_send_btn.dark>div,
.customer_send_btn.dark>p {
    color: var(--primary-text-light-color1);
}

@media screen and (min-width:0px) and (max-width:430px) {

    .customer_wrapper>div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 4rem;
        flex-direction: column;
        gap: 1.2rem;
        margin-bottom: 3.2rem;
    }


    .customer_content_wrapper {
        width: calc(100vw - 2rem);
    }

    .customer_pagination_wrapper {
        width: calc(100vw - 2rem);
    }

    .customer_search {
        width: 16rem;
    }

    .mobile_customer_search {
        /* display: block; */
    }

    .mobile_customer_search {
        height: 4rem;
        width: 4rem;
        background-color: var(--primary-bg-color3);
        color: var(--primary-text-light-color1);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        cursor: pointer;
        box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:431px) and (max-width:1140px) {

    .customer_wrapper>div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        height: 4rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;
        margin-bottom: 3.2rem;
    }

    .customer_content_wrapper {
        width: calc(100vw - 2rem);
    }

    .customer_pagination_wrapper {
        width: calc(100vw - 2rem);
    }

    .customer_search {
        width: 25rem;
    }

    .mobile_customer_search {
        /* display: block; */
    }
}