.section {
    background-color: transparent;
    height: calc(100vh - 6rem);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &>div:nth-child(1) {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>h2 {
            color: var(--text-primary);
            line-height: inherit;
            font-family: "AirbnbCereal_Medium";
        }
    }

    .stepper_heading {
        color: var(--text-primary);
        font-size: 1.6rem;
        font-family: 'AirbnbCereal_Bold';
    }

    .form_main_container {
        flex: 1;
        overflow: auto;

        .form_container {
            max-width: 67rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-block: 2rem;

            .form_group {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                &>label {
                    font-size: 1.6rem;
                    color: var(--text-primary);
                    font-family: 'AirbnbCereal_Medium';
                }

                &>input {
                    height: 3.5rem;
                    padding-inline: 1rem;
                    font-size: 1.4rem;
                    border: 0.1rem solid var(--border-secondary);
                    border-radius: var(--border-radius-primary);
                    -webkit-border-radius: var(--border-radius-primary);
                    -moz-border-radius: var(--border-radius-primary);
                    -ms-border-radius: var(--border-radius-primary);
                    -o-border-radius: var(--border-radius-primary);
                    background-color: var(--input-bg-color);
                    color: var(--text-primary);
                    outline: none;

                    &::placeholder {
                        color: var(--text-secondary);
                        letter-spacing: 0.01rem;
                    }
                }

                .select_container {
                    border: 0.1rem solid var(--border-secondary);
                    border-radius: var(--border-radius-primary);
                    -webkit-border-radius: var(--border-radius-primary);
                    -moz-border-radius: var(--border-radius-primary);
                    -ms-border-radius: var(--border-radius-primary);
                    -o-border-radius: var(--border-radius-primary);
                    background-color: var(--input-bg-color);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;

                    &>input {
                        width: calc(100% - 3rem);
                        height: 3.5rem;
                        padding-inline: 1rem;
                        font-size: 1.4rem;
                        background: transparent;
                        color: var(--text-primary);
                        border: none;
                        outline: none;

                        &::placeholder {
                            color: var(--text-secondary);
                            letter-spacing: 0.01rem;
                        }
                    }

                    &>div {
                        height: 3.5rem;
                        width: 3.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.4rem;
                        color: var(--text-primary);
                        font-family: 'AirbnbCereal_Medium';
                    }

                    .select_dropdown_container {
                        position: absolute;
                        width: 100%;
                        top: 4rem;
                        right: 0rem;
                        left: 0rem;
                        height: 15rem;
                        border: 0.1rem solid var(--border-secondary);
                        border-radius: var(--border-radius-primary);
                        -webkit-border-radius: var(--border-radius-primary);
                        -moz-border-radius: var(--border-radius-primary);
                        -ms-border-radius: var(--border-radius-primary);
                        -o-border-radius: var(--border-radius-primary);
                        background-color: var(--bg-primary);
                        padding: 1rem;
                        z-index: 100;
                    }
                }
            }

            .button_container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &>button {
                    height: 3.5rem;
                    padding-inline: 1.5rem;
                    border-radius: var(--border-radius-primary);
                    -webkit-border-radius: var(--border-radius-primary);
                    -moz-border-radius: var(--border-radius-primary);
                    -ms-border-radius: var(--border-radius-primary);
                    -o-border-radius: var(--border-radius-primary);
                    background-color: var(--bg-secondary);
                    color: var(--text-primary);
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: var(--common-btn-transition);
                    -webkit-transition: var(--common-btn-transition);
                    -moz-transition: var(--common-btn-transition);
                    -ms-transition: var(--common-btn-transition);
                    -o-transition: var(--common-btn-transition);

                    &:hover {
                        background-color: var(--bg-secondary-hover);
                    }
                }
            }
        }

        .service_container {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &>div:nth-child(1) {
                display: flex;
                gap: 3rem;
                flex-wrap: wrap;

                &>div:nth-child(1) {
                    max-width: 55rem;
                    width: 100%;
                    padding-block: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    /* background-color: red; */

                    .form_group {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5rem;

                        &>label {
                            font-size: 1.6rem;
                            color: var(--text-primary);
                            font-family: 'AirbnbCereal_Medium';
                        }

                        &>input {
                            height: 3.5rem;
                            padding-inline: 1rem;
                            font-size: 1.4rem;
                            border: 0.1rem solid var(--border-secondary);
                            border-radius: var(--border-radius-primary);
                            -webkit-border-radius: var(--border-radius-primary);
                            -moz-border-radius: var(--border-radius-primary);
                            -ms-border-radius: var(--border-radius-primary);
                            -o-border-radius: var(--border-radius-primary);
                            background-color: var(--input-bg-color);
                            color: var(--text-primary);
                            outline: none;

                            &::placeholder {
                                color: var(--text-secondary);
                                letter-spacing: 0.01rem;
                            }
                        }

                        .select_container {
                            border: 0.1rem solid var(--border-secondary);
                            border-radius: var(--border-radius-primary);
                            -webkit-border-radius: var(--border-radius-primary);
                            -moz-border-radius: var(--border-radius-primary);
                            -ms-border-radius: var(--border-radius-primary);
                            -o-border-radius: var(--border-radius-primary);
                            background-color: var(--input-bg-color);
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            position: relative;

                            &>input {
                                width: calc(100% - 3rem);
                                height: 3.5rem;
                                padding-inline: 1rem;
                                font-size: 1.4rem;
                                background: transparent;
                                color: var(--text-primary);
                                border: none;
                                outline: none;

                                &::placeholder {
                                    color: var(--text-secondary);
                                    letter-spacing: 0.01rem;
                                }
                            }

                            &>div {
                                height: 3.5rem;
                                width: 3.5rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.4rem;
                                color: var(--text-primary);
                                font-family: 'AirbnbCereal_Medium';
                            }

                            .select_dropdown_container {
                                position: absolute;
                                width: 100%;
                                top: 4rem;
                                right: 0rem;
                                left: 0rem;
                                height: 15rem;
                                border: 0.1rem solid var(--border-secondary);
                                border-radius: var(--border-radius-primary);
                                -webkit-border-radius: var(--border-radius-primary);
                                -moz-border-radius: var(--border-radius-primary);
                                -ms-border-radius: var(--border-radius-primary);
                                -o-border-radius: var(--border-radius-primary);
                                background-color: var(--bg-primary);
                                padding: 1rem;
                                z-index: 100;
                            }
                        }
                    }

                    .button_container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &>button {
                            height: 3.5rem;
                            padding-inline: 1.5rem;
                            border-radius: var(--border-radius-primary);
                            -webkit-border-radius: var(--border-radius-primary);
                            -moz-border-radius: var(--border-radius-primary);
                            -ms-border-radius: var(--border-radius-primary);
                            -o-border-radius: var(--border-radius-primary);
                            background-color: var(--bg-secondary);
                            color: var(--text-primary);
                            border: none;
                            outline: none;
                            cursor: pointer;
                            transition: var(--common-btn-transition);
                            -webkit-transition: var(--common-btn-transition);
                            -moz-transition: var(--common-btn-transition);
                            -ms-transition: var(--common-btn-transition);
                            -o-transition: var(--common-btn-transition);

                            &:hover {
                                background-color: var(--bg-secondary-hover);
                            }
                        }
                    }

                }

                &>div:nth-child(2) {
                    width: 100%;
                    max-width: 55rem;
                    padding: 2rem;
                    height: 50rem;
                    overflow: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    background-color: var(--bg-hover-primary);
                    border-radius: var(--border-radius-primary);
                    -webkit-border-radius: var(--border-radius-primary);
                    -moz-border-radius: var(--border-radius-primary);
                    -ms-border-radius: var(--border-radius-primary);
                    -o-border-radius: var(--border-radius-primary);


                    .service_item{
                        min-height: 20rem;
                        background-color: var(--bg-primary);
                        border: 0.1rem solid var(--border-secondary);
                        border-radius: var(--border-radius-primary);
                        -webkit-border-radius: var(--border-radius-primary);
                        -moz-border-radius: var(--border-radius-primary);
                        -ms-border-radius: var(--border-radius-primary);
                        -o-border-radius: var(--border-radius-primary);
                    }
                }

            }

        }
    }

    .complete {
        margin-block: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 67rem;
        width: 100%;

        &>p {
            color: var(--text-primary);
            font-size: 1.6rem;
            font-family: 'AirbnbCereal_Medium';
        }

        &>div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &>button {
                height: 3.5rem;
                padding-inline: 1.5rem;
                border-radius: var(--border-radius-primary);
                -webkit-border-radius: var(--border-radius-primary);
                -moz-border-radius: var(--border-radius-primary);
                -ms-border-radius: var(--border-radius-primary);
                -o-border-radius: var(--border-radius-primary);
                background-color: var(--bg-secondary);
                color: var(--text-primary);
                border: none;
                outline: none;
                cursor: pointer;
                transition: var(--common-btn-transition);
                -webkit-transition: var(--common-btn-transition);
                -moz-transition: var(--common-btn-transition);
                -ms-transition: var(--common-btn-transition);
                -o-transition: var(--common-btn-transition);

                &:hover {
                    background-color: var(--bg-secondary-hover);
                }
            }
        }
    }
}