.create_salon_wrapper {
    height: var(--list-wrapper-height);
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);

}

.create_salon_wrapper {

    &>div:nth-child(1) {
        display: flex;
        align-items: center;
        height: 4rem;
        margin-bottom: 1rem;

        &>p {
            font-size: var(--list-primary-text);
            font-weight: 600;
        }
    }

}

.create_salon_content_wrapper {
    width: 100%;
    height: calc(calc(var(--list-wrapper-height)) - 5rem - 4rem);
    display: grid;
    grid-template-columns: 1.2fr 3fr;
    gap: 2rem;
}

.create_salon_content_wrapper>div:nth-child(1) {
    height: calc(calc(var(--list-wrapper-height)) - 5rem - 4rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create_salon_content_wrapper>div:nth-child(1)>div:nth-child(1) {
    width: 100%;
    height: auto;
    background-color: var(--primary-bg-light-color1);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.create_salon_content_wrapper>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) {
    background-color: #d7d7d7;
    height: 15rem;
    border-top-left-radius: var(--list-wrapper-border-radius);
    border-top-right-radius: var(--list-wrapper-border-radius);

    &>img {
        width: 100%;
        height: 100%;
        border-top-left-radius: var(--list-wrapper-border-radius);
        border-top-right-radius: var(--list-wrapper-border-radius);
    }
}

.create_salon_logo_container {
    background-color: #fff;
    width: 15rem;
    height: 15rem;
    margin-inline: auto;
    margin-top: -8rem;
    position: relative;
    z-index: 10;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        height: 13rem;
        width: 13rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        background-color: #ededed;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: relative;

        &>img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
}

.upload_profile_logo_btn {
    width: 3.6rem;
    height: 3.6rem;
    background-color: var(--primary-bg-color3);
    border-radius: 50%;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    font-size: var(--list-modal-header-icon);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: var(--primary-text-light-color1);

    &:hover {
        background-color: #00000089;
    }
}



.create_salon_content_wrapper>div:nth-child(1)>div:nth-child(1)>div:nth-child(3) {
    margin-block: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 25rem;
    height: 5rem;
    margin-inline: auto;
}

.create_salon_content_wrapper>div:nth-child(1)>div:nth-child(1)>div:nth-child(3)>p {
    font-size: var(--list-modal-content-text);
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.create_salon_content_wrapper>div:nth-child(1)>div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.create_salon_content_wrapper>div:nth-child(1)>div:nth-child(2)>p {
    font-size: var(--list-primary-text);
    font-weight: 600;
}


.salon_upload_button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10rem;
    height: 3.2rem;
    border: none;
    cursor: pointer;
    background-color: #efefef;
    border: 0.1rem solid #000;
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);

    &>p {
        font-weight: 500;
        font-size: var(--list-modal-header-normal-font);
        color: #000;
    }

    &>div {
        font-size: var(--list-modal-header-icon);
        font-weight: 500;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        background-color: #000;

        &>p {
            color: #fff;
        }

        &>div {
            color: #fff;
        }
    }
}

.create_salon_content_wrapper>div:nth-child(1)>div:nth-child(3) {
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.create_salon_content_wrapper>div:nth-child(1)>div:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-inline: auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}


.create_salon_content_wrapper>div:nth-child(1)>div:nth-child(3)>div {
    width: 100%;
    min-height: 12rem;
    max-height: 100%;
    background-color: #E8E6E6;
    box-shadow: var(--cmmn-box-shadow-y);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}

.create_salon_content_wrapper>div:nth-child(1)>div:nth-child(3)>div>img {
    width: 100%;
    height: 100%;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}

.modal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: #fff;
    border: none;
    width: 50%;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);

    &>div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        &>p {
            font-size: var(--list-primary-text);
            font-weight: 600;
        }

        &>button {
            margin-left: auto;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            background-color: #ff000025;
            border: 0.1rem solid red;
            cursor: pointer;
            color: red;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--list-modal-header-icon);
            margin-bottom: 1rem;

            &:hover {
                background-color: red;
                color: #fff;

                &>div {
                    color: var(--primary-text-light-color1);
                }
            }
        }
    }


    .modal_content_container {

        &>div:nth-child(1) {
            height: 50vh;
            width: 100%;

            &>img {
                width: 100%;
                height: 100%;
            }
        }

        &>div:nth-child(2) {
            margin-top: 1rem;
            height: 4rem;
            display: flex;
            justify-content: flex-end;

            &>div {
                height: 100%;
                display: flex;
                gap: 1.5rem;

                &>button {
                    height: 100%;
                    width: 11rem;
                    border: none;
                    cursor: pointer;
                    border-radius: var(--list-btn-border-radius);
                    -webkit-border-radius: var(--list-btn-border-radius);
                    -moz-border-radius: var(--list-btn-border-radius);
                    -ms-border-radius: var(--list-btn-border-radius);
                    -o-border-radius: var(--list-btn-border-radius);
                    transition: var(--btn-transition);
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    -webkit-transition: var(--btn-transition);
                    -moz-transition: var(--btn-transition);
                    -ms-transition: var(--btn-transition);
                    -o-transition: var(--btn-transition);

                    &>p {
                        font-size: var(--list-modal-header-normal-font);
                    }

                    &>div {
                        font-size: var(--list-modal-header-normal-font);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                &>button:nth-child(1) {
                    background-color: #efefef;
                    border: 1px solid #000;

                    &>div,
                    &>p {
                        color: #000;
                    }


                    &:hover {
                        background-color: #000;

                        &>div,
                        &>p {

                            color: #fff;
                        }

                    }
                }

                &>button:nth-child(2) {
                    background-color: #ff000025;
                    border: 1px solid red;
                    color: red;


                    &>div,
                    &>p {
                        color: red;
                    }


                    &:hover {
                        background-color: red;

                        &>div,
                        &>p {

                            color: #fff;
                        }

                    }
                }
            }
        }
    }

}


.create_salon_content_wrapper>div:nth-child(2) {
    height: calc(calc(var(--list-wrapper-height)) - 5rem - 4rem);
    width: 100%;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    overflow: scroll;

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.6rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}


.create_salon_content_wrapper>div:nth-child(2)>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.create_salon_content_wrapper>div:nth-child(2)>div>p {
    font-size: var(--list-content-error-text);
    font-weight: 600;
}

.create_salon_content_wrapper>div:nth-child(2)>div>input {
    min-height: 4rem;
    background-color: var(--bg-color3);
    border: none;
    font-size: var(--list-content-error-text);
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    padding-inline: 1rem;
    outline: none;
}


.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(5) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(5)>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(5)>div>p {
    font-size: var(--list-content-error-text);
    font-weight: 600;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(5)>div>input {
    width: 100%;
    min-height: 4rem;
    background-color: var(--bg-color3);
    border: none;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    padding-inline: 1rem;
    font-size: var(--list-content-error-text);
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(6) {
    width: 100%;
    margin-inline: auto;
    margin-top: 2rem;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(6)>button {
    padding: var(--list-header-btn-padding);
    font-size: var(--list-content-error-text);
    margin-inline: auto;
    cursor: pointer;
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    background-color: #efefef;
    border: 0.1rem solid #000;
    color: #000;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    margin-block: 1rem;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}


.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(7) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(7)>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(7)>div>p {
    font-size: var(--list-content-error-text);
    font-weight: 600;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(7)>div>input {
    width: 100%;
    min-height: 4rem;
    background-color: var(--bg-color3);
    border: none;
    padding-inline: 1rem;
    font-size: var(--list-content-error-text);
    border-radius: var(--input-border-radius);
    outline: none;
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(7)>div:nth-child(1) {
    position: relative;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(7)>div:nth-child(1)>div {
    position: absolute;
    top: 7.2rem;
    width: 100%;
    height: 30rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: var(--cmmn-box-shadow-y);
    padding: 1rem;
    background-color: var(--primary-bg-light-color1);
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.search_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: 100%; */
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.4);
    cursor: pointer;

    &:hover {
        border-bottom: 0.1rem solid black;
    }
}

.search_box>input {
    height: 4rem;
    width: calc(100% - 3rem);
    border: none;
    font-size: var(--list-header-btn-text);
    background: transparent;
}

.search_box>input:focus {
    outline: none;
}

.search_box>div {
    padding: 0.6em 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--list-header-btn-text);
    cursor: pointer;
}


.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(7)>div:nth-child(1)>div>p {
    font-size: var(--list-content-error-text);
    padding-inline: 1rem;
    min-height: 3.5rem;
    display: grid;
    align-items: center;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(7)>div:nth-child(1)>div>p:hover {
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    cursor: pointer;
    font-weight: 500;
    min-height: 3.5rem;
    display: grid;
    align-items: center;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
}


.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(7)>div:nth-child(2) {
    position: relative;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(7)>div:nth-child(2)>div {
    position: absolute;
    top: 7.2rem;
    width: 100%;
    height: 30rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: var(--input-border-radius);
    box-shadow: var(--cmmn-box-shadow-y);
    padding: 1rem;
    background-color: var(--primary-bg-light-color1);
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}


.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(7)>div:nth-child(2)>div>p {
    font-size: var(--list-content-body-text);
    padding-inline: 1rem;
    min-height: 3.5rem;
    display: grid;
    align-items: center;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(7)>div:nth-child(2)>div>p:hover {
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    cursor: pointer;
    font-weight: 500;
    min-height: 3.5rem;
    display: grid;
    align-items: center;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(8) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(8)>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(8)>div>p {
    font-size: var(--list-content-body-text);
    font-weight: 600;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(8)>div>input {
    width: 100%;
    min-height: 4rem;
    background-color: var(--bg-color3);
    border: none;
    font-size: var(--list-content-body-text);
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    outline: none;
    padding-inline: 1rem;
}


.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(8)>div:nth-child(1) {
    position: relative;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(8)>div:nth-child(1)>div {
    position: absolute;
    top: 7.2rem;
    width: 100%;
    height: 15rem;
    border-radius: var(--input-border-radius);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: var(--cmmn-box-shadow-y);
    padding: 1rem;
    background-color: var(--primary-bg-light-color1);
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}


.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(8)>div:nth-child(1)>div>p {
    font-size: var(--list-content-body-text);
    padding-inline: 1rem;
    min-height: 3.5rem;
    display: grid;
    align-items: center;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(8)>div:nth-child(1)>div>p:hover {
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    cursor: pointer;
    font-weight: 500;
    min-height: 3.5rem;
    display: grid;
    align-items: center;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
}


.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(9) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(9)>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(9)>div>p {
    font-size: var(--list-content-body-text);
    font-weight: 600;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(9)>div>input {
    width: 100%;
    min-height: 4rem;
    background-color: var(--bg-color3);
    border: none;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    font-size: var(--list-content-body-text);
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(10) {
    position: relative;
    margin-block: 1rem;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(10)>div:nth-child(2) {
    cursor: pointer;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(10)>div:nth-child(3) {
    width: 100%;
    height: 15rem;
    background-color: var(--primary-bg-light-color1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 7.2rem;
    left: 0rem;
    border-radius: var(--input-border-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: var(--cmmn-box-shadow-y);
    overflow-y: scroll;
    z-index: 1;
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
}


.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(10)>div:nth-child(3)>p {
    font-size: var(--list-content-body-text);
    padding-inline: 1rem;
    min-height: 3.5rem;
    display: grid;
    align-items: center;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(10)>div:nth-child(3)>p:hover {
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    cursor: pointer;
    font-weight: 500;
    min-height: 3.5rem;
    display: grid;
    align-items: center;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
}

.create_salon_content_wrapper>div:nth-child(2)>p:nth-child(12) {
    font-weight: 500;
    margin-top: 2rem;
}


.react-multi-carousel-track {
    padding-left: 1rem !important;
}



.slider_item {
    width: 80%;
    height: 9rem;
    cursor: pointer;
    position: relative;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    margin-bottom: 1rem;
    background-color: var(--primary-bg-light-color1);
}

.slider_item>img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}


.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(17) {
    position: relative;
    margin-block: 1rem;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(17)>div:nth-child(2) {
    cursor: pointer;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(18) {
    display: grid;
    gap: 2rem;
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(18)>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.service_container {
    width: 100%;
    height: 40rem;
    margin-top: 2rem;
    background-color: var(--bg-color3);
    padding: 2rem;
    overflow: auto;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.service_item {
    min-height: 19rem;
    width: 100%;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    margin-bottom: 1.5rem;
    background-color: #fff;
    padding: 1.5rem 2rem;
    position: relative;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.service_item_top {
    height: 60%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;

    &>div:nth-child(1) {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 0.1rem solid rgba(0, 0, 0, 0.2);

        &>img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }

    &>div:nth-child(2) {
        width: calc(100% - 7rem - 1rem);
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &>p:nth-child(1) {
            font-size: var(--list-content-body-text);
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        &>p:nth-child(2) {
            font-size: var(--list-header-btn-text);
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        &>p:nth-child(3) {
            font-size: var(--list-header-btn-text);
            font-weight: 500;
            color: gray;
        }
    }
}

.service_item_bottom {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>div:nth-child(1) {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            &>p:nth-child(1) {
                font-size: var(--list-content-body-text);
                font-weight: 500;
                color: gray;
                margin-bottom: 0.5rem;
                text-align: center;
            }

            &>p:nth-child(2) {
                font-size: var(--list-primary-text);
                font-weight: 600;
                text-align: center;
            }
        }
    }

    &>div:nth-child(2) {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            &>p:nth-child(1) {
                font-size: var(--list-content-body-text);
                font-weight: 500;
                color: gray;
                margin-bottom: 0.5rem;
                text-align: center;
            }

            &>div:nth-child(2) {
                display: flex;
                align-items: center;
                gap: 0.8rem;

                &>div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: var(--list-primary-text);
                    color: gray;
                }

                &>p {
                    font-size: var(--list-primary-text);
                    font-weight: 600;
                }
            }
        }
    }
}

.service_delete_icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    background-color: #ff000025;
    border: 0.1rem solid red;
    cursor: pointer;
    color: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    font-size: var(--list-modal-header-icon);

    &:hover {
        background-color: red;
        color: var(--primary-text-light-color1);
    }
}

.service_type_dropdown_container {
    width: 100%;
    min-height: 10rem;
    background-color: var(--primary-bg-light-color1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 7.2rem;
    left: 0rem;
    border-radius: var(--input-border-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    box-shadow: var(--cmmn-box-shadow-y);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);

    &>p {
        line-height: 4rem;
        padding-inline: 1rem;
        font-size: var(--list-content-body-text);
        cursor: pointer;
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);

        &:hover {
            background-color: #000;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
            color: #fff;
        }
    }
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(27) {
    /* width: 100%;
    margin-inline: auto;
    margin-top: 2rem; */
}

.create_salon_content_wrapper>div:nth-child(2)>div:nth-child(27)>button {
    /* width: 40%;
    height: 4.5rem;
    font-size: 1.6rem;
    margin-inline: auto;
    cursor: pointer;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    border: none;
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4); */
}

.create_salon_carousel_loader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.salon_logo_wrapper,
.salon_images_wrapper {
    display: none !important;
}


.add_services_drop {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
}

.add_services_drop>button {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: var(--list-modal-header-icon);
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
}

.add_services_btn_active {
    background-color: #efefef;
    border: 0.1rem solid #000;
    color: #000;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.add_services_btn_inactive {
    background-color: #ff000025;
    border: 0.1rem solid red;
    color: red;

    &:hover {
        background-color: red;
        color: #fff;
    }
}

.add_services_drop_container>p:nth-child(1) {
    font-size: var(--list-content-body-text);
    font-weight: 600;
    margin-bottom: 1rem;
}

.add_services_drop_container>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.add_services_drop_container>div>p {
    font-size: var(--list-content-body-text);
    font-weight: 600;
}

.add_services_drop_container>div>input {
    min-height: 4rem;
    background-color: var(--bg-color3);
    border: none;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    font-size: var(--list-content-body-text);
    padding-inline: 1rem;
    outline: none;
}

.add_services_drop_container>div:nth-child(5) {
    position: relative;
}

.add_services_drop_container>div:nth-child(5)>div {
    position: absolute;
    top: 7.2rem;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: var(--primary-bg-light-color1);
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}


.add_services_drop_container>div:nth-child(6) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.add_services_drop_container>div:nth-child(6)>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.add_services_drop_container>div:nth-child(6)>div>p {
    font-size: var(--list-content-body-text);
    font-weight: 600;
}

.add_services_drop_container>div:nth-child(6)>div>input {
    min-height: 4rem;
    background-color: var(--bg-color3);
    border: none;
    padding-inline: 1rem;
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
    font-size: var(--list-content-body-text);
    outline: none;
}


.add_service_btn,
.create_salon_btn {
    padding-inline: 1.8em;
    height: 4rem;
    font-size: var(--list-content-body-text);
    margin-inline: auto;
    cursor: pointer;
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    background-color: #efefef;
    border: 0.1rem solid #000;
    color: #000;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    margin-block: 1rem;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.salon_mobile_input {
    background-color: var(--bg-color3);
    border-radius: var(--input-border-radius);
    -webkit-border-radius: var(--input-border-radius);
    -moz-border-radius: var(--input-border-radius);
    -ms-border-radius: var(--input-border-radius);
    -o-border-radius: var(--input-border-radius);
}

.salontype_input {
    caret-color: transparent;
}

.addservices_btn {
    width: 15rem !important;
    height: 4rem !important;
    font-size: var(--list-content-error-text);
    margin-inline: auto;
    cursor: pointer;
    border-radius: var(--list-btn-border-radius) !important;
    -webkit-border-radius: var(--list-btn-border-radius) !important;
    -moz-border-radius: var(--list-btn-border-radius) !important;
    -ms-border-radius: var(--list-btn-border-radius) !important;
    -o-border-radius: var(--list-btn-border-radius) !important;
    background-color: #efefef;
    border: 0.1rem solid #000;
    color: #000;
    transition: var(--btn-transition);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);
    margin-top: 1rem;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.error_message {
    font-size: 1.2rem !important;
    font-weight: 500;
    color: red;
}

@media screen and (min-width: 0px) and (max-width: 1140px) {
    .create_salon_content_wrapper>div:nth-child(1) {
        display: none;
    }

    .create_salon_content_wrapper {
        grid-template-columns: 1fr;
    }

    .create_salon_wrapper {
        padding: 1rem;
    }

    .salon_logo_wrapper {
        display: flex !important;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .salon_logo_wrapper>div {
        min-height: 4rem;
        background-color: var(--bg-color3);
        border: none;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        border-radius: var(--input-border-radius);
        -webkit-border-radius: var(--input-border-radius);
        -moz-border-radius: var(--input-border-radius);
        -ms-border-radius: var(--input-border-radius);
        -o-border-radius: var(--input-border-radius);
        font-size: var(--list-content-body-text);
        overflow: auto;
    }

    .salon_logo_wrapper>div>button {
        min-width: 10rem;
        height: 100%;
        min-height: 3.2rem;
        border-radius: var(--input-border-radius);
        -webkit-border-radius: var(--input-border-radius);
        -moz-border-radius: var(--input-border-radius);
        -ms-border-radius: var(--input-border-radius);
        -o-border-radius: var(--input-border-radius);
        border: none;
        cursor: pointer;
        background-color: #000;
        color: #fff;
        margin-left: 0.5rem;
    }

    .salon_images_wrapper>div:nth-child(1) {

        &>button {
            min-width: 10rem;
            height: 100%;
            min-height: 3.2rem;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
            border: none;
            cursor: pointer;
            background-color: #000;
            color: #fff;
        }
    }

    .salon_images_wrapper {
        margin-top: 1rem;

        &>p {
            font-size: var(--list-content-body-text);
            font-weight: 600;
        }

        &>button {
            width: 25%;
            height: 100%;
            min-height: 3.2rem;
            border-radius: var(--input-border-radius);
            -webkit-border-radius: var(--input-border-radius);
            -moz-border-radius: var(--input-border-radius);
            -ms-border-radius: var(--input-border-radius);
            -o-border-radius: var(--input-border-radius);
            border: none;
            cursor: pointer;
            background-color: #000;
            color: #fff;
            font-size: var(--list-content-body-text);
            box-shadow: none;
        }
    }

    .salon_images_wrapper {
        display: flex !important;
    }

    .salon_images_wrapper>div:nth-child(1) {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .salon_images_wrapper>div:nth-child(2) {
        min-height: 10rem;
        max-height: 10rem;
        width: 100%;
        background-color: var(--bg-color3);
        border-radius: var(--input-border-radius);
        padding: 1rem;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        -webkit-border-radius: var(--input-border-radius);
        -moz-border-radius: var(--input-border-radius);
        -ms-border-radius: var(--input-border-radius);
        -o-border-radius: var(--input-border-radius);
    }

    .add_services_drop_container>div:nth-child(6) {
        grid-template-columns: 1fr;
        gap: 0rem;
    }


    .service_container {
        margin-top: 0rem;
        padding: 1.5rem;
    }

    .service_item {
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .create_salon_content_wrapper>div:nth-child(2)>div:nth-child(7),
    .create_salon_content_wrapper>div:nth-child(2)>div:nth-child(8) {
        grid-template-columns: 1fr;
    }
}