.public_main_container {
    height: 100vh;
    width: 100vw;
}

.public_main_content {
    width: 55%;
    height: 100vh;
    background-color: var(--primary-bg-light-color1);
    /* border: 1px solid black; */
    margin: auto;
    display: grid;
    grid-template-rows: 2fr 0.3fr 1fr;
}

.public_main_content>div:nth-child(1) {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.public_main_content>div:nth-child(1)>div{
    width: 50rem;
    height: 100%;
    /* background-color: gray; */
}

.public_main_content>div:nth-child(1)>div>img {
    width: 100%;
    height: 100%;
}

.public_main_content>div:nth-child(2) {
    /* background-color: green; */
}

.public_main_content>div:nth-child(2)>h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4.8rem;
    font-weight: bold;
}

.public_main_content>div:nth-child(3) {
    /* background-color: yellow; */
}

.public_main_content>div:nth-child(3)>div {
    height: 4rem;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-between;
    margin-top: 3rem;
}

.public_main_content>div:nth-child(3)>div a {
    height: 4rem;
    width: 14.5rem;
    background-color: var(--primary-bg-light-color1);
    border-radius: 5.5rem;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text-light-color2);
    border: 1px solid var(--primary-text-light-color2);
}

.public_main_content>div:nth-child(3)>div a:hover {
    background-color: var(--primary-bg-light-color2);
    color: var(--primary-text-light-color1);
}

@media((min-width:0px) and (max-width:576px)) {
    .public_main_content{
        width: 100%;
    }

    .public_main_content>div:nth-child(3)>div a{
        width: 20rem;
    }

    .public_main_content>div:nth-child(3)>div {
        width: 75%;
    }
}

@media((min-width:576px) and (max-width:768px)) {
    .public_main_content{
        width: 85%;
    }
}

@media((min-width:768px) and (max-width:992px)) {
    .public_main_content{
        width: 75%;
    }
}

@media((min-width:992px) and (max-width:1200px)) {
    .public_main_content{
        width: 65%;
    }
}