.offline_container {
    width: 100vw;
    height: 100svh;
    display: grid;
    align-items: center;

    &>div {
        height: auto;
        /* border: 1px solid black; */

        &>div {
            font-size: 4rem;
            font-weight: bolder;
            text-align: center;
            margin-bottom: 2rem;
        }

        &>p {
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 2rem;
            text-align: center;

            &>span {
                color: var(--color-6);
                font-weight: 600;
            }
        }
    }
}

.error_boundary_container {
    height: var(--list-wrapper-height);
    width: 100%;
    padding: 2rem;
    background-color: var(--light-color-4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);

    &>div {
        text-align: center;

        &>div {
            margin-bottom: 2rem;
            font-size: 3rem;
        }

        &>p {
            font-size: var(--list-modal-content-text);
            font-weight: 500;
        }
    }
}