.offline_container {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;

    &>div {
        height: auto;
        /* border: 1px solid black; */

        &>div {
            font-size: 4rem;
            font-weight: bolder;
            text-align: center;
            margin-bottom: 2rem;
        }

        &>p {
            font-size: 1.6rem;
            font-weight: 500;
            margin-bottom: 2rem;
            text-align: center;

            &>span{
                color: red;
                font-weight: 600;
            }
        }
    }
}

.error_boundary_container {
    height: 90vh;
    width: 100%;
    padding: 2rem;
    background-color: #fff;

    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    &>div {
        text-align: center;

        &>div {
            margin-bottom: 2rem;
            font-size: 3rem;
        }

        &>p {
            font-size: 1.6rem;
        }
    }
}