/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import 'react-loading-skeleton/dist/skeleton.css';
@import "react-responsive-carousel/lib/styles/carousel.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'normalize.css';
@import 'react-international-phone/style.css';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif; */
}

/* #222831,#3E3232,#FC6736,#561C24,#720455 */

:root {
  font-size: 62.5%;
  
  /* light theme */
  --primary-bg-light-color1: #fff;
  --primary-bg-light-color2: #000;
  --primary-bg-color3: #0866ff;
  /* --primary-bg-color3: #3E3232; */

  --bg-color3: #EEEDED;
  --sidebar-bg-color: #ECEBEB;
  --hover-bg-color-1: #38598b;

  --primary-text-light-color1: #fff;
  --primary-text-light-color2: #000;

  --text-color-3: #D9D9D9;
  --text-color-4: #B2AFAF;

  --border-color-1: #000;

  --lightmode-loader-bg-color: #ebebeb;
  --lightmode-loader-highlight-color: #f5f5f5;

  /* Dark mode colors */

  --dark-mode-bg-color-4: #3c4043;
  --dark-mode-bg-color-2: #202124;
  --dark-mode-bg-color-3: #28292a;
  --dark-mode-bg-color-1: #28292a;

  --darkmode-loader-bg-color: #202124;
  --darkmode-loader-highlight-color: #3c4043;

  --darkmode-loader-bg-color2: #28292a;

  /* font sizes */
  --list-primary-text: clamp(1.6rem, 1.2rem + 0.4vw, 3.2rem);
  --list-header-btn-text: clamp(1.4rem, 1rem + 0.2vw, 3rem);
  --list-header-btn-icon: clamp(1.4rem, 1rem + 0.2vw, 3rem);
  --list-content-body-text: clamp(1.4rem, 1.2rem + 0.2vw, 3rem);
  --list-content-error-text: clamp(1.4rem, 1.2rem + 0.2vw, 3rem);

  --list-modal-header-text: clamp(1.6rem, 1.2rem + 0.4vw, 3.2rem);
  --list-modal-header-icon: clamp(1.4rem, 1rem + 0.2vw, 3rem);
  --list-modal-header-normal-font: clamp(1.4rem, 1rem + 0.2vw, 3rem);
  --list-modal-content-text: clamp(1.4rem, 1.2rem + 0.2vw, 3rem);

  /* padding */
  --list-header-btn-padding: 0.9em 1.2em;
  --list-wrapper-btn-padding: 0.5em 1.2em;

  /* heights */
  --list-wrapper-height: calc(100vh - 6rem - 2rem);
  --list-wrapper-common-height: calc(calc(100vh - 6rem - 2rem) - 5rem - 4rem);

  /* border-Radius */
  --list-wrapper-border-radius: 0.6rem;
  --list-btn-border-radius: 2rem;
  --input-border-radius: 0.3rem;

  /* transiton */
  --btn-transition: 0.3s all ease;

  /* modal button height & width */
  --mdl-sbt-btn-height: 4rem;
  --mdl-sbt-btn-width: 10rem;

  /* box-shadow */

  --cmmn-box-shadow-y: 0rem 0.1rem 0.6rem rgba(0,0,0,0.2);
  --cmmn-box-shadow-x: 0.1rem 0rem 0.6rem rgba(0,0,0,0.2);

}

body{
  /* font-size: 1.6rem; */
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--primary-text-light-color2);
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  -webkit-filter: invert(1);
} */


.carousel * {
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.carousel .control-dots .dot {
  background: #0866ff;
}

.react-international-phone-input-container {
  background-color: #EEEDED;
}

.react-international-phone-input-container .react-international-phone-input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: var(--list-content-body-text);
}

.react-international-phone-input-container .react-international-phone-country-selector-button {
  background-color: transparent;
  border: none;
  padding-left: 0.7rem;
}


.react-multiple-carousel__arrow {
  min-width: 3rem !important;
  min-height: 3rem !important;
  background-color: var(--primary-bg-color3) !important;
}

.react-multiple-carousel__arrow--left {
  left: 0px !important;
  bottom: 50% !important;
  transform: translateY(40%);
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  -o-transform: translateY(40%);
}

.react-multiple-carousel__arrow--right {
  right: 0.5rem !important;
  bottom: 50% !important;
  transform: translateY(40%);
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  -o-transform: translateY(40%);
}

.react-multiple-carousel__arrow::before {
  font-size: var(--list-modal-content-icon) !important;
  font-weight: bold !important;
}


@media screen and (min-width:1921px) and (max-width:2250px){
  :root {
    font-size: 72.5%;
  }
}

@media screen and (min-width:2261px) and (max-width:2580px){
  :root {
    font-size: 82.5%;
  }
}

@media screen and (min-width:2581px) and (max-width:3000px){
  :root {
    font-size: 92.5%;
  }
}

@media screen and (min-width:3001px){
  :root {
    font-size: 102.5%;
  }
}

.route_error_container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.route_error_container_content {
  width: 85%;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.route_error_container_content>div:nth-child(1)>h1 {
  font-size: 3rem;
}

.route_error_container_content>div:nth-child(1)>p {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.route_error_container_content>div:nth-child(1)>button {
  margin-top: 2rem;
  width: 40%;
  height: 4.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  border: none;
  background-color: var(--primary-bg-color3);
  color: var(--primary-text-light-color1);
  box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
}

.route_error_container_content>div:nth-child(2)>img {
  width: 100%;
  height: 100%;
}

@media((min-width:0px) and (max-width:576px)) {
  .route_error_container_content {
    grid-template-columns: 1fr;
    height: 60vh;
  }
}

@media((min-width:577px) and (max-width:768px)) {
  .route_error_container_content {
    grid-template-columns: 1fr;
    height: 90vh;
  }
}

@media((min-width:769px) and (max-width:992px)) {
  .route_error_container_content {
    grid-template-columns: 1fr;
    height: 90vh;
  }
}

@media((min-width:993px) and (max-width:1200px)) {
  .route_error_container_content {
    grid-template-columns: 1fr;
    height: 90vh;
  }
}


