/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import 'react-loading-skeleton/dist/skeleton.css';
@import "react-responsive-carousel/lib/styles/carousel.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'normalize.css';
@import 'react-international-phone/style.css';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif; */
}

/* #222831,#3E3232,#FC6736,#561C24,#720455 */

html {
  /* filter: invert(1) hue-rotate(180deg) brightness(1);
  -webkit-filter: invert(1) hue-rotate(180deg) brightness(1); */
}

:root {
  font-size: 62.5%;

  /* light theme */
  --light-color-4: var(--light-color-4);
  --primary-bg-light-color2: #000;
  --light-color-2: #000;
  /* --light-color-2: #3E3232; */

  --light-color-3: #EEEDED;
  --sidebar-bg-color: #ECEBEB;
  --hover-bg-color-1: #38598b;

  --primary-text-light-color1: var(--light-color-4);
  --primary-text-light-color2: #000;

  --text-color-3: #D9D9D9;
  --text-color-4: #B2AFAF;

  --border-color-1: #000;

  --lightmode-loader-bg-color: #ebebeb;
  --lightmode-loader-highlight-color: #f5f5f5;

  /* common colors */
  --color-1: #8ab4f8;
  --color-2: #0d58d2;
  --color-3: #174ea61d;
  --color-4: #ae0581;
  --color-5: #72045523;
  --color-6: rgb(244, 67, 54);
  --color-7: rgba(244, 67, 54, 0.103);
  --color-8: #00A36C;
  --color-9: #00a36d15;
  --color-10: #CC5500;
  --color-11: #cc550016;

  /* light mode colors */

  --light-color-1: #efefef;
  --light-color-2: #1f1f1f;
  --light-color-3: #EEEDED;
  --light-color-4: #fff;

  /* Dark mode colors */

  --dark-color-1: #28292a;
  --dark-color-2: #202124;
  --dark-color-3: #3c4043;
  --dark-color-4: #e8eaed;

  /* loader colors */

  --light-loader-bg-color: #ebebeb;
  --light-loader-highlight-color: #f5f5f5;

  --dark-loader-bg-color: #28292a;
  --dark-loader-highlight-color: #3c4043;


  /* font sizes */
  --list-primary-text: clamp(1.6rem, 1.2rem + 0.4vw, 3.2rem);
  --list-header-btn-text: clamp(1.4rem, 1rem + 0.2vw, 3rem);
  --list-header-btn-icon: clamp(1.4rem, 1rem + 0.2vw, 3rem);
  --list-content-body-text: clamp(1.4rem, 1.2rem + 0.2vw, 3rem);
  --list-content-error-text: clamp(1.4rem, 1.2rem + 0.2vw, 3rem);

  --list-modal-header-text: clamp(1.6rem, 1.2rem + 0.4vw, 3.2rem);
  --list-modal-header-icon: clamp(1.4rem, 1rem + 0.2vw, 3rem);
  --list-modal-header-normal-font: clamp(1.4rem, 1rem + 0.2vw, 3rem);
  --list-modal-content-text: clamp(1.4rem, 1.2rem + 0.2vw, 3rem);

  /* padding */
  --list-header-btn-padding: 0.6em 1em;
  --list-wrapper-btn-padding: 0.5em 1em;

  /* heights */
  --list-wrapper-height: calc(100svh - 6rem - 2rem);
  --list-wrapper-common-height: calc(calc(100svh - 6rem - 2rem) - 5rem - 4rem);

  /* border-Radius */
  --list-wrapper-border-radius: 0.6rem;
  --list-btn-border-radius: 2rem;
  --input-border-radius: 0.3rem;

  /* transiton */
  --btn-transition: 0.3s all ease;

  /* modal button height & width */
  --mdl-sbt-btn-height: 4rem;
  --mdl-sbt-btn-width: 10rem;

  /* box-shadow */

  --cmmn-box-shadow-y: 0rem 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
  --cmmn-box-shadow-x: 0.1rem 0rem 0.6rem rgba(0, 0, 0, 0.2);

}

body {
  font-size: 1.6rem;
}
/* 
h1,
h2,
h3,
h4,
h5,
p {
  color: var();
} */

/* input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  -webkit-filter: invert(1);
} */


.carousel * {
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.carousel .control-dots .dot {
  background: var(--color-2);
}

.react-international-phone-input-container {
  border-radius: var(--input-border-radius) !important;
  -webkit-border-radius: var(--input-border-radius) !important;
  -moz-border-radius: var(--input-border-radius) !important;
  -ms-border-radius: var(--input-border-radius) !important;
  -o-border-radius: var(--input-border-radius) !important;
}

.react-international-phone-input-container .react-international-phone-input {
  width: 100%;
  min-height: 4rem !important;
  background-color: transparent;
  border: none;
  font-size: var(--list-content-body-text);
  border-radius: var(--input-border-radius) !important;
  -webkit-border-radius: var(--input-border-radius) !important;
  -moz-border-radius: var(--input-border-radius) !important;
  -ms-border-radius: var(--input-border-radius) !important;
  -o-border-radius: var(--input-border-radius) !important;
}

.react-international-phone-input-container .react-international-phone-country-selector-button {
  background-color: transparent !important;
  min-height: 4rem !important;
  width: 6rem !important;
  border: none !important;
  border-top-left-radius: var(--input-border-radius) !important;
  border-bottom-left-radius: var(--input-border-radius) !important;
}

.react-international-phone-country-selector-dropdown {
  /* width: 30rem !important; */
}


.react-multiple-carousel__arrow {
  min-width: 3rem !important;
  min-height: 3rem !important;
  background-color: var(--light-color-2) !important;
}

.react-multiple-carousel__arrow--left {
  left: 0px !important;
  bottom: 50% !important;
  transform: translateY(40%);
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  -o-transform: translateY(40%);
}

.react-multiple-carousel__arrow--right {
  right: 0.5rem !important;
  bottom: 50% !important;
  transform: translateY(40%);
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  -o-transform: translateY(40%);
}

.react-multiple-carousel__arrow::before {
  font-size: var(--list-modal-content-icon) !important;
  font-weight: bold !important;
}


@media screen and (min-width:1921px) and (max-width:2250px) {
  :root {
    font-size: 72.5%;
  }
}

@media screen and (min-width:2261px) and (max-width:2580px) {
  :root {
    font-size: 82.5%;
  }
}

@media screen and (min-width:2581px) and (max-width:3000px) {
  :root {
    font-size: 92.5%;
  }
}

@media screen and (min-width:3001px) and (max-width: 3400px) {
  :root {
    font-size: 102.5%;
  }
}

@media screen and (min-width:3401px) and (max-width: 3768px) {
  :root {
    font-size: 112.5%;
  }
}

@media screen and (min-width:3769px) and (max-width: 4000px) {
  :root {
    font-size: 122.5%;
  }
}

@media screen and (min-width:4001px) and (max-width:4560px){
  :root {
    font-size: 132.5%;
  }
}

@media screen and (min-width:4561px){
  :root {
    font-size: 142.5%;
  }
}


.route_error_container {
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.route_error_container_content {
  width: 85%;
  height: 60svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.route_error_container_content>div:nth-child(1)>h1 {
  font-size: 3rem;
}

.route_error_container_content>div:nth-child(1)>p {
  font-size: var(--list-content-body-text);
  font-weight: 500;
  margin-bottom: 1rem;
}

.route_error_container_content>div:nth-child(1)>button {
  margin-top: 2rem;
  width: 12rem;
  height: 4rem;
  font-size: var(--list-content-body-text);
  cursor: pointer;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  border: none;
  border: 0.1rem solid #000;
  color: #000;
  background-color: #efefef;
  transition: var(--btn-transition);
  -webkit-transition: var(--btn-transition);
  -moz-transition: var(--btn-transition);
  -ms-transition: var(--btn-transition);
  -o-transition: var(--btn-transition);

  &:hover{
    background-color: #000;
    color: var(--light-color-4);
  }
}

.route_error_container_content>div:nth-child(2)>img {
  width: 100%;
  height: 100%;
}

@media((min-width:0px) and (max-width:576px)) {
  .route_error_container_content {
    grid-template-columns: 1fr;
    height: 60svh;
  }
}

@media((min-width:577px) and (max-width:768px)) {
  .route_error_container_content {
    grid-template-columns: 1fr;
    height: 90svh;
  }
}

@media((min-width:769px) and (max-width:992px)) {
  .route_error_container_content {
    grid-template-columns: 1fr;
    height: 90svh;
  }
}

@media((min-width:993px) and (max-width:1200px)) {
  .route_error_container_content {
    grid-template-columns: 1fr;
    height: 90svh;
  }
}


*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*:hover::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.7rem;
}

*:hover::-webkit-scrollbar-track {
  background-color: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background: #0867ff48;
  border-radius: var(--list-wrapper-border-radius);
  -webkit-border-radius: var(--list-wrapper-border-radius);
  -moz-border-radius: var(--list-wrapper-border-radius);
  -ms-border-radius: var(--list-wrapper-border-radius);
  -o-border-radius: var(--list-wrapper-border-radius);
}

*:hover::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 98, 255);
}

*:hover::-webkit-scrollbar-corner {
  background-color: transparent;
}