.admin_dashboard_header_wrapper {
    width: 100%;
    height: 6rem;
    /* border-bottom: 1px solid rgb(79, 79, 79); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choose_salon_div {
    margin-inline: auto;
}

.profile_wrapper {
    display: flex;
    align-items: center;
    gap: 2.3rem;
}

.profile_wrapper>div:nth-child(2),
.profile_wrapper>div:nth-child(3) {
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2.2rem;
    cursor: pointer;
}

.profile_wrapper>div:nth-child(4) {
    height: 4.5rem;
    width: 4.5rem;
    border: 1px solid #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.profile_wrapper>div:nth-child(4)>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile_wrapper>div:nth-child(1) {
    width: 6rem;
    height: 2.7rem;
    border-radius: 2rem;
    position: relative;
}

.toggle_btn {
    background-color: #fff;
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    border: 1px solid #000;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.toggle_active {
    transform: translateX(3.3rem);
    transition: 300ms ease;
    -webkit-transform: translateX(3.3rem);
    -moz-transform: translateX(3.3rem);
    -ms-transform: translateX(3.3rem);
    -o-transform: translateX(3.3rem);
}

.toggle_inactive {
    transform: translateX(0rem);
    transition: 300ms ease;
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
}

.toggle_btn_text {
    position: absolute;
    top: 0px;
    width: 2rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.8rem;
}

.toggle_btn_text_active {
    left: 0.5rem;
    opacity: 1;
    color: #000;
}

.toggle_btn_text_inactive {
    right: 0.5rem;
    color: #fff;
}

.choose_salon_div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 0px;
}

.choose_salon_div>p:nth-child(1) {
    font-size: 1.6rem;
}

.choose_salon_div>div:nth-child(2) {
    width: 21.6rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #000;
    font-size: 1.4rem;
    position: relative;
    cursor: pointer;
}

.choose_salon_div>div:nth-child(2)>div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.dashboard_salon_list_dropdown {
    position: absolute;
    top: 3.5rem;
    left: 0rem;
    right: 0rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    /* border: 1px solid #000; */
    z-index: 100;
    background-color: var(--primary-bg-light-color1);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.dashboard_salon_list_dropdown::-webkit-scrollbar {
    width: 6px !important;
}

.dashboard_salon_list_dropdown::-webkit-scrollbar-track {
    background-color: #fff !important;
}

.dashboard_salon_list_dropdown::-webkit-scrollbar-thumb {
    background: var(--primary-bg-color3) !important;
}

.dashboard_salon_list_dropdown::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 98, 255) !important;
}

.dashboard_salon_list_dropdown>p {
    min-height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.dashboard_salon_list_dropdown>p:hover {
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    cursor: pointer;
    font-weight: 500;
}

.choose_salon_div>button:nth-child(3) {
    width: 6rem;
    height: 3rem;
    cursor: pointer;
    border: none;
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.mobile_choose_salon_div {
    display: none;
}

.dashboard_mobile_menu {
    display: none;
}

.dashboard_mobile_sidebar_container {
    display: none;
}

.profile_wrapper>div:nth-child(4){
    position: relative;
    cursor: pointer;
}

.profile_drop_container{
    position: absolute;
    top: 5rem;
    right: 0rem;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    z-index: 100;
    background-color: var(--primary-bg-light-color1);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 15rem;
}

.profile_drop_container>p{
    min-height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 500;
}

.profile_drop_container>p:hover{
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
}

@media screen and (min-width:0px) and (max-width:430px) {
    .profile_wrapper>div:nth-child(1) {
        display: none;
    }

    .choose_salon_div {
        display: none;
    }

    .mobile_choose_salon_div {
        display: block;
    }

    .admin_dashboard_header_wrapper {
        position: relative;
    }

    .mobile_choose_salon_div>button:nth-child(1) {
        height: 3rem;
        padding-inline: 3rem;
        border: none;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
        font-weight: 500;
        color: var(--primary-text-light-color1);
        background-color: var(--primary-bg-color3);
    }

    .chooseSalon_modal {
        position: absolute;
        top: 0px;
        left: -1rem;
        right: -1rem;
        bottom: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(128, 128, 128, 0.313);
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chooseSalon_model_content {
        width: 85%;
        height: auto;
        border-radius: 1.7rem;
        -webkit-border-radius: 1.7rem;
        -moz-border-radius: 1.7rem;
        -ms-border-radius: 1.7rem;
        -o-border-radius: 1.7rem;
        background-color: var(--primary-bg-light-color1);
        padding: 2rem;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .chooseSalon_model_content>button:nth-child(1) {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        cursor: pointer;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        border: none;
        font-size: 1.6rem;
        color: red;
        background-color: var(--primary-bg-light-color1);
        margin-left: auto;
    }

    .chooseSalon_model_content>p:nth-child(2) {
        font-size: 2rem;
        font-weight: bold;
        margin-inline: auto;
    }

    .chooseSalon_model_content>div:nth-child(3) {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
        width: 100%;
        padding-inline: 1rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        border: 1px solid black;
        box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
    }

    .chooseSalon_model_content>div:nth-child(3)>p {
        font-size: 1.6rem;
    }

    .mobile_dashboard_salon_list_dropdown {
        padding: 1rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        border: 1px solid black;
        box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
        overflow-y: scroll;
        margin-block: 2rem;
    }

    .mobile_dashboard_salon_list_dropdown::-webkit-scrollbar {
        width: 6px !important;
        height: 7px;
    }

    .mobile_dashboard_salon_list_dropdown::-webkit-scrollbar-track {
        background-color: #fff !important;
    }

    .mobile_dashboard_salon_list_dropdown::-webkit-scrollbar-thumb {
        background: var(--primary-bg-color3) !important;
    }

    .mobile_dashboard_salon_list_dropdown::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255) !important;
    }

    .mobile_dashboard_salon_list_dropdown>p {
        min-height: 4rem;
        width: 100%;
        background-color: var(--primary-bg-light-color1);
        color: var(--primary-text-light-color2);
        font-weight: 500;
        cursor: pointer;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        margin-bottom: 1rem;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
    }

    .mobile_dashboard_salon_list_dropdown>p:hover {
        background-color: var(--primary-bg-color3);
        color: var(--primary-text-light-color1);
    }

    .chooseSalon_model_content>button:nth-child(5) {
        height: 4.5rem;
        width: 70%;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        border: none;
        box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
        background-color: var(--primary-bg-color3);
        color: var(--primary-text-light-color1);
        cursor: pointer;
        font-weight: 500;
        font-size: 1.6rem;
        margin-inline: auto;
    }

    .dashboard_mobile_menu {
        height: 2.2rem;
        width: 2.2rem;
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 2.2rem;
        font-weight: bold;
        cursor: pointer;
    }

    .dashboard_mobile_sidebar_container {
        position: absolute;
        top: 0px;
        height: 100vh;
        width: 70vw;
        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.4);
        z-index: 1000;
        background-color: var(--primary-bg-light-color1);
        transition: 300ms ease-in;
        -webkit-transition: 300ms ease-in;
        -moz-transition: 300ms ease-in;
        -ms-transition: 300ms ease-in;
        -o-transition: 300ms ease-in;
        padding: 2rem;
    }

    .dashboard_mobile_sidebar_active {
        right: -2rem;
    }

    .dashboard_mobile_sidebar_inactive {
        right: -90vw;
    }

    .dashboard_mobile_sidebar_container {
        display: block;
    }

    .dashboard_mobile_sidebar_container>button:nth-child(1) {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        font-size: 2rem;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
        color: red;
        font-weight: bold;
        background-color: var(--primary-bg-light-color1);
        margin-bottom: 2rem;
    }

    .dashboard_mobile_sidebar_container>div {
        width: 100%;
        height: 4.5rem;
        background-color: transparent;
        border-radius: 0.5rem;
        padding-inline: 1rem;
        display: flex;
        gap: 2rem;
        align-items: center;
        cursor: pointer;
        margin-bottom: 1.5rem;
    }

    .dashboard_mobile_sidebar_container>div div {
        color: var(--primary-text-light-color2);
        height: 2rem;
        width: 2rem;
        display: grid;
        place-items: center;
        font-size: 1.6rem;
    }

    .dashboard_mobile_sidebar_container>div p {
        font-size: 1.6rem;
    }

    .dashboard_mobile_menu_item_active {
        background-color: var(--sidebar-bg-color) !important;
        border-right: 6px solid var(--primary-bg-color3);
    }

    .dashboard_theme_container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dashboard_mobile_sidebar_container>div div {
        width: auto;
    }

    .dashboard_theme_container>div:nth-child(2) {
        width: 6rem;
        height: 2.7rem;
        border-radius: 2rem;
        position: relative;
    }

    .toggle_btn {
        background-color: #fff;
        height: 2.7rem;
        width: 2.7rem;
        border-radius: 2rem;
        cursor: pointer;
        border: none;
        border: 1px solid #000;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }

    .toggle_active {
        transform: translateX(1.6rem);
        transition: 300ms ease;
        -webkit-transform: translateX(1.6rem);
        -moz-transform: translateX(1.6rem);
        -ms-transform: translateX(1.6rem);
        -o-transform: translateX(1.6rem);
    }

    .toggle_inactive {
        transform: translateX(-2rem);
        transition: 300ms ease;
        -webkit-transform: translateX(-2rem);
        -moz-transform: translateX(-2rem);
        -ms-transform: translateX(-2rem);
        -o-transform: translateX(-2rem);
    }

    .profile_drop_container{
        display: none;
    }
}

@media screen and (min-width:431px) and (max-width:1140px) {
    .profile_wrapper>div:nth-child(1) {
        display: none;
    }

    .choose_salon_div {
        display: none;
    }

    .mobile_choose_salon_div {
        display: block;
    }

    .admin_dashboard_header_wrapper {
        position: relative;
    }

    .mobile_choose_salon_div>button:nth-child(1) {
        height: 3rem;
        padding-inline: 3rem;
        border: none;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
        font-weight: 500;
        color: var(--primary-text-light-color1);
        background-color: var(--primary-bg-color3);
    }

    .chooseSalon_modal {
        position: absolute;
        top: 0px;
        left: -1rem;
        right: -1rem;
        bottom: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(128, 128, 128, 0.313);
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chooseSalon_model_content {
        width: 85%;
        height: auto;
        border-radius: 1.7rem;
        -webkit-border-radius: 1.7rem;
        -moz-border-radius: 1.7rem;
        -ms-border-radius: 1.7rem;
        -o-border-radius: 1.7rem;
        background-color: var(--primary-bg-light-color1);
        padding: 2rem;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .chooseSalon_model_content>button:nth-child(1) {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        cursor: pointer;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        border: none;
        font-size: 1.6rem;
        color: red;
        background-color: var(--primary-bg-light-color1);
        margin-left: auto;
    }

    .chooseSalon_model_content>p:nth-child(2) {
        font-size: 2rem;
        font-weight: bold;
        margin-inline: auto;
    }

    .chooseSalon_model_content>div:nth-child(3) {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
        width: 100%;
        padding-inline: 1rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        border: 1px solid black;
        box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
    }

    .chooseSalon_model_content>div:nth-child(3)>p {
        font-size: 1.6rem;
    }

    .mobile_dashboard_salon_list_dropdown {
        padding: 1rem;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        border: 1px solid black;
        box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
        overflow-y: scroll;
        margin-block: 2rem;
    }

    .mobile_dashboard_salon_list_dropdown::-webkit-scrollbar {
        width: 6px !important;
        height: 7px;
    }

    .mobile_dashboard_salon_list_dropdown::-webkit-scrollbar-track {
        background-color: #fff !important;
    }

    .mobile_dashboard_salon_list_dropdown::-webkit-scrollbar-thumb {
        background: var(--primary-bg-color3) !important;
    }

    .mobile_dashboard_salon_list_dropdown::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255) !important;
    }

    .mobile_dashboard_salon_list_dropdown>p {
        min-height: 4rem;
        width: 100%;
        background-color: var(--primary-bg-light-color1);
        color: var(--primary-text-light-color2);
        font-weight: 500;
        cursor: pointer;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        margin-bottom: 1rem;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
    }

    .mobile_dashboard_salon_list_dropdown>p:hover {
        background-color: var(--primary-bg-color3);
        color: var(--primary-text-light-color1);
    }

    .chooseSalon_model_content>button:nth-child(5) {
        height: 4.5rem;
        width: 70%;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        border: none;
        box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
        background-color: var(--primary-bg-color3);
        color: var(--primary-text-light-color1);
        cursor: pointer;
        font-weight: 500;
        font-size: 1.6rem;
        margin-inline: auto;
    }

    .dashboard_mobile_menu {
        height: 2.2rem;
        width: 2.2rem;
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 2.2rem;
        font-weight: bold;
        cursor: pointer;
    }

    .dashboard_mobile_sidebar_container {
        position: absolute;
        top: 0px;
        height: 100vh;
        width: 45vw;
        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.4);
        z-index: 1000;
        background-color: var(--primary-bg-light-color1);
        transition: 300ms ease-in;
        -webkit-transition: 300ms ease-in;
        -moz-transition: 300ms ease-in;
        -ms-transition: 300ms ease-in;
        -o-transition: 300ms ease-in;
        padding: 2rem;
        overflow-y: scroll;
    }

    .dashboard_mobile_sidebar_active {
        right: -2rem;
    }

    .dashboard_mobile_sidebar_inactive {
        right: -90vw;
    }

    .dashboard_mobile_sidebar_container {
        display: block;
    }

    .dashboard_mobile_sidebar_container>button:nth-child(1) {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        font-size: 2rem;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
        color: red;
        font-weight: bold;
        background-color: var(--primary-bg-light-color1);
        margin-bottom: 2rem;
    }

    .dashboard_mobile_sidebar_container>div {
        width: 100%;
        height: 4.5rem;
        background-color: transparent;
        border-radius: 0.5rem;
        padding-inline: 1rem;
        display: flex;
        gap: 2rem;
        align-items: center;
        cursor: pointer;
        margin-bottom: 1.5rem;
    }

    .dashboard_mobile_sidebar_container>div div {
        color: var(--primary-text-light-color2);
        height: 2rem;
        width: 2rem;
        display: grid;
        place-items: center;
        font-size: 1.6rem;
    }

    .dashboard_mobile_sidebar_container>div p {
        font-size: 1.6rem;
    }

    .dashboard_mobile_menu_item_active {
        background-color: var(--sidebar-bg-color) !important;
        border-right: 6px solid var(--primary-bg-color3);
    }

    .dashboard_theme_container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dashboard_mobile_sidebar_container>div div {
        width: auto;
    }

    .dashboard_theme_container>div:nth-child(2) {
        width: 6rem;
        height: 2.7rem;
        border-radius: 2rem;
        position: relative;
    }

    .toggle_btn {
        background-color: #fff;
        height: 2.7rem;
        width: 2.7rem;
        border-radius: 2rem;
        cursor: pointer;
        border: none;
        border: 1px solid #000;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }

    .toggle_active {
        transform: translateX(1.6rem);
        transition: 300ms ease;
        -webkit-transform: translateX(1.6rem);
        -moz-transform: translateX(1.6rem);
        -ms-transform: translateX(1.6rem);
        -o-transform: translateX(1.6rem);
    }

    .toggle_inactive {
        transform: translateX(-2rem);
        transition: 300ms ease;
        -webkit-transform: translateX(-2rem);
        -moz-transform: translateX(-2rem);
        -ms-transform: translateX(-2rem);
        -o-transform: translateX(-2rem);
    }
}