.admin_barber_wrapper {
    /*theextra2remisforpaddingbottom*/
    height: var(--list-wrapper-height);
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}

.admin_barber_wrapper>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;
}

.admin_barber_wrapper>div:nth-child(1)>p {
    font-size: var(--list-primary-text);
    font-weight: 600;
}

.admin_barber_wrapper>div:nth-child(1)>div {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.barber_send_btn {
    padding: 0.6em 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0867ff25;
    border: 0.1rem solid #0866ff;
    cursor: pointer;
    color: #0866ff;
    transition: var(--btn-transition);
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);

    &>div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--list-header-btn-icon);
        color: #0866ff;
    }

    &:hover {
        background-color: #0866ff;

        &>div {
            color: var(--primary-text-light-color1);
        }
    }
}


.create_barber_btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    padding: var(--list-header-btn-padding);
    border: none;
    cursor: pointer;
    background-color: #0867ff25;
    border: 0.1rem solid #0866ff;
    transition: var(--btn-transition);
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);

    &>p {
        font-weight: 500;
        font-size: var(--list-header-btn-text);
        color: #0866ff;
    }

    &>div {
        font-size: var(--list-header-btn-icon);
        font-weight: 500;
        color: #0866ff;
    }

    &:hover {
        background-color: #0866ff;

        &>p {
            color: #fff;
        }

        &>div {
            color: #fff;
        }
    }
}

.admin_barber_content_wrapper {
    width: 100%;
    height: var(--list-wrapper-common-height);
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
    background-color: #fff;
}

.admin_barber_content_body {
    width: 100%;
    height: var(--list-wrapper-common-height);
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}


.admin_barber_content_body>div {
    min-height: 6rem;
    min-width: 90rem;
    max-width: 100%;
    display: grid;
    /* grid-template-columns: 0.1fr 0.8fr 0.8fr 0.4fr 0.4fr minmax(12rem, 0.4fr) minmax(12rem, 0.4fr) 0.4fr; */
    grid-template-columns: 0.1fr 0.8fr 0.8fr 0.4fr 0.4fr minmax(12rem, 0.4fr) minmax(12rem, 0.4fr);
    font-size: var(--list-content-body-text);
    font-weight: 500;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.admin_barber_content_body>div>div:nth-child(1),
.admin_barber_content_body>div>div:nth-child(2) {
    display: flex;
    align-items: center;

    &>input {
        width: var(--list-content-body-text);
        height: var(--list-content-body-text);
        accent-color: #0866ff;
    }
}

.admin_barber_content_body>div:nth-child(1) {
    position: sticky;
    top: 0;
    z-index: 3;
    border-top-left-radius: var(--list-wrapper-border-radius);
    border-top-right-radius: var(--list-wrapper-border-radius);
    font-weight: 600;
    background-color: var(--primary-bg-light-color1);
}

.admin_barber_content_body>div:nth-child(1)>p {
    color: var(--primary-text-light-color2);
}

.admin_barber_content_body>div>p:nth-child(2) {
    position: sticky;
    left: 0;
    z-index: 2;
}


.admin_barber_content_body>div:not(:nth-child(1))>p:nth-child(2) {
    background-color: var(--primary-bg-light-color1);
}

.admin_barber_content_body>div:nth-child(1)>p:nth-child(2) {
    background-color: var(--primary-bg-light-color1);
}

.admin_barber_content_body>div>p {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.admin_barber_content_body_item>div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.admin_barber_content_body>div:nth-child(1)>p:nth-last-child(1),
.admin_barber_content_body>div:nth-child(1)>p:nth-last-child(2),
.admin_barber_content_body>div:nth-child(1)>p:nth-last-child(3) {
    justify-content: center;
}

.admin_barber_content_body_item>div:nth-last-child(1),
.admin_barber_content_body_item>div:nth-last-child(2),
.admin_barber_content_body_item>div:nth-last-child(3) {
    justify-content: center;
}

.admin_barber_content_body_item>div>button {
    padding: var(--list-wrapper-btn-padding);
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    border: none;
    cursor: pointer;
    font-size: var(--list-content-body-text);
}


/* .admin_barber_content_body_item>div:nth-last-child(1) {
    &>button {
        background-color: #ff000025;
        border: 0.1rem solid red;
        color: red;
        font-weight: 500;
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);

        &:hover {
            background-color: red;
            color: #fff;
        }
    }
} */

.admin_barber_content_body_item>div:nth-last-child(1) {
    &>button {
        background-color: #0867ff25;
        border: 0.1rem solid #0866ff;
        color: #0866ff;
        font-weight: 500;

        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);

        &:hover {
            background-color: #0866ff;
            color: #fff;
        }
    }
}

.admin_barber_content_body_item>div:nth-last-child(2) {
    &>button {
        font-weight: 500;
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);

        &:hover {
            color: #fff;
        }
    }
}

.admin_barber_content_body_item>div:nth-last-child(3),
.admin_barber_content_body_item>div:nth-last-child(4) {
    &>button {
        font-weight: 500;
        transition: var(--btn-transition);
        -webkit-transition: var(--btn-transition);
        -moz-transition: var(--btn-transition);
        -ms-transition: var(--btn-transition);
        -o-transition: var(--btn-transition);

        &:hover {
            color: #fff;
        }
    }
}

.barber_online_btn_active,
.barber_clock_btn_active {
    background-color: rgba(50, 205, 50, 0.088);
    border: 0.1rem solid limegreen !important;
    color: limegreen;

    &:hover {
        background-color: limegreen;
        color: #fff;
    }
}

.barber_online_btn_inactive,
.barber_clock_btn_inactive {
    background-color: #ff000025;
    border: 0.1rem solid red !important;
    color: red;

    &:hover {
        background-color: red;
        color: #fff;
    }
}

.admin_barber_content_body_item>div:nth-last-child(3) {
    &>button {
        padding: 0.5em 0rem;
        width: 10rem;
    }
}

.admin_barber_content_body_item>div:nth-last-child(2) {
    &>button {
        padding: 0.5em 0em;
        width: 10rem;
    }
}

.barber_approve_btn_active {
    background-color: #ff770824;
    border: 0.1rem solid #ff7708 !important;
    color: #ff7708;

    &:hover {
        background-color: #ff7708;
        color: #fff;
    }
}

.barber_approve_btn_inactive {
    background-color: #7204551d;
    border: 0.1rem solid #720455 !important;
    color: #720455;

    &:hover {
        background-color: #720455;
        color: #fff;
    }
}



.modal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: #fff;
    border: none;
    width: 40%;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);


    &>div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        &>p {
            font-size: var(--list-modal-header-text);
            font-weight: 600;
        }

        &>button {
            margin-left: auto;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.2rem;
            background-color: #ff000025;
            border: 0.1rem solid red;
            cursor: pointer;
            color: red;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            font-size: var(--list-modal-header-icon);
            margin-bottom: 1rem;

            &:hover {
                background-color: red;
                color: #fff;

                &>div {
                    color: var(--primary-text-light-color1);
                }
            }
        }
    }


    .modal_content_container {

        &>div {
            margin-bottom: 2rem;

            &>p {
                font-size: var(--list-modal-content-text);
                font-weight: 500;
                margin-bottom: 1rem;
            }

            &>input {
                height: 4rem;
                width: 100%;
                background-color: #EEEDED;
                border-radius: var(--input-border-radius);
                -webkit-border-radius: var(--input-border-radius);
                -moz-border-radius: var(--input-border-radius);
                -ms-border-radius: var(--input-border-radius);
                -o-border-radius: var(--input-border-radius);
                padding-inline: 1rem;
                outline: none;
                border: none;
                font-size: var(--list-modal-content-text);
            }

            &>textarea {
                width: 100%;
                min-height: 20vh;
                background-color: #EEEDED;
                border: none;
                border-radius: var(--input-border-radius);
                -webkit-border-radius: var(--input-border-radius);
                -moz-border-radius: var(--input-border-radius);
                -ms-border-radius: var(--input-border-radius);
                -o-border-radius: var(--input-border-radius);
                padding: 1rem;
                font-size: var(--list-modal-content-text);
                resize: none;
                overflow: auto;
                outline: none;

                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }

                &:hover::-webkit-scrollbar {
                    width: 0.6rem;
                    height: 0.7rem;
                }

                &:hover::-webkit-scrollbar-track {
                    background-color: transparent;
                }

                &:hover::-webkit-scrollbar-thumb {
                    background: #0867ff48;
                    border-radius: var(--list-wrapper-border-radius);
                    -webkit-border-radius: var(--list-wrapper-border-radius);
                    -moz-border-radius: var(--list-wrapper-border-radius);
                    -ms-border-radius: var(--list-wrapper-border-radius);
                    -o-border-radius: var(--list-wrapper-border-radius);
                }

                &:hover::-webkit-scrollbar-thumb:hover {
                    background: rgb(0, 98, 255);
                }

                &:hover::-webkit-scrollbar-corner {
                    background-color: transparent;
                }
            }
        }

        .barber_send_btn {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: none;
            cursor: pointer;
            width: var(--mdl-sbt-btn-width);
            height: var(--mdl-sbt-btn-height);
            background-color: #0867ff25;
            border: 0.1rem solid #0866ff;
            border-radius: var(--list-btn-border-radius);
            -webkit-border-radius: var(--list-btn-border-radius);
            -moz-border-radius: var(--list-btn-border-radius);
            -ms-border-radius: var(--list-btn-border-radius);
            -o-border-radius: var(--list-btn-border-radius);
            transition: var(--btn-transition);
            -webkit-transition: var(--btn-transition);
            -moz-transition: var(--btn-transition);
            -ms-transition: var(--btn-transition);
            -o-transition: var(--btn-transition);
            margin-inline: auto;
            font-size: var(--list-modal-header-normal-font);
            font-weight: 500;
            color: #0866ff;

            &:hover {
                background-color: #0866ff;
                color: #fff;
            }
        }
    }

}

.barber_content_body_error {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    &>p {
        font-size: var(--list-content-error-text);
        font-weight: 500;
    }
}

@media screen and (min-width:0px) and (max-width:430px) {
    .modal_container {
        width: 90%;
    }
}

@media screen and (min-width:431px) and (max-width:768px) {
    .modal_container {
        width: 70%;
    }
}

@media screen and (min-width:769px) and (max-width:1140px) {
    .modal_container {
        width: 50%;
    }
}