.admin_barber_wrapper{
    height: calc(100vh - 6rem);
    width: 100%;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.admin_barber_wrapper>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.admin_barber_wrapper>div:nth-child(1)>p{
    font-size: 2rem;
    font-weight: bold;
}

.admin_barber_wrapper>div:nth-child(1)>div{
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

.admin_barber_wrapper>div:nth-child(1)>div>button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 9rem;
    height: 100%;
    background-color: var(--primary-bg-light-color1);
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-weight: 500;
    font-size: 1.4rem;
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
}

.admin_barber_wrapper>div:nth-child(1)>div>button>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_barber_wrapper>div:nth-child(1)>div>button:nth-child(2)>div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.admin_barber_content_wrapper{
    width: 100%;
    height: 100%;
    border-radius: 1.7rem;
    -webkit-border-radius: 1.7rem;
    -moz-border-radius: 1.7rem;
    -ms-border-radius: 1.7rem;
    -o-border-radius: 1.7rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    background-color: var(--primary-bg-light-color1);
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
}

.admin_barber_content_body{
    height: calc(88vh - 6rem);
    overflow-y: scroll;
    position: relative;
}

.admin_barber_content_body::-webkit-scrollbar {
    width: 6px !important;
    height: 7px;
}

.admin_barber_content_body::-webkit-scrollbar-track {
    background-color: transparent !important;
}

.admin_barber_content_body::-webkit-scrollbar-thumb {
    background: var(--primary-bg-color3) !important;
}

.admin_barber_content_body::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 98, 255) !important;
}


.admin_barber_content_body>div{
    min-height: 6rem;
    min-width: 100rem;
    max-width: 100%;
    background-color: #efefef;
    display: grid;
    grid-template-columns: 0.1fr 0.3fr 0.8fr 1fr 0.3fr 0.6fr 0.4fr 0.4fr;
    place-items: center;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
}

.admin_barber_content_body>div:nth-child(1){
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--primary-bg-color3);
    border-top-left-radius: 1.7rem;
}

.admin_barber_content_body>div:nth-child(1)>p{
    color: var(--primary-text-light-color1);
}

.admin_barber_content_body>div>p:nth-child(2){
    position: sticky;
    left: 0;
    z-index: 2;
}

.admin_barber_content_body>div:not(:nth-child(1))>p:nth-child(2){
    background-color: #efefef;
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
}

.admin_barber_content_body>div:nth-child(1)>p:nth-child(2){
    background-color: var(--primary-bg-color3);
    border-top-left-radius: 1.7rem;
}

.admin_barber_content_body>div:nth-child(2){
    margin-top: 1rem;
}
.admin_barber_content_body>div>p{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.admin_barber_content_body_item>button{
    width: 60%;
    height: 4rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border: none;
    cursor: pointer;
    background-color: var(--primary-bg-light-color1);
    font-weight: 500;
}

.admin_barber_content_body_item>div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_barber_content_body_item>div:nth-child(7)>div,
.admin_barber_content_body_item>div:nth-child(8)>div
{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--primary-bg-light-color1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.admin_barber_content_body_item>div:nth-child(7)>div{
    background-color: var(--primary-bg-color3);
    color: var(--primary-text-light-color1);
}

.admin_barber_content_body_item>div:nth-child(8)>div{
    background-color: red;
    color: var(--primary-text-light-color1);
}

.admin_barber_content_body_item>div:nth-child(5)>div{
    width:5rem;
    height: 2.5rem;;
    border-radius: 2rem;
    position: relative;
}

.barberlist_dashboard_toggle_btn{
    background-color: #fff;
    height: 2.1rem;
    width:2.1rem;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
}

.barberlist_dashboard_toggle_active{
    transform: translateX(2.6rem);
    transition: 300ms ease;
    -webkit-transform: translateX(2.6rem);
    -moz-transform: translateX(2.6rem);
    -ms-transform: translateX(2.6rem);
    -o-transform: translateX(2.6rem);
}

.barberlist_dashboard_toggle_inactive{
    transform: translateX(0rem);
    transition: 300ms ease;
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
}

.barberlist_dashboard_toggle_btn_text{
    position: absolute;
    top: 0px;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;

}

.barberlist_dashboard_toggle_btn_text_active{
    left: 0.5rem;
    opacity: 1;
    color: #000;
}

.barberlist_dashboard_toggle_btn_text_inactive{
    right: 0.5rem;
    color: #fff;
}

.barber_content_body_error{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

/* Dark Mode CSS Style */

.admin_barber_content_wrapper.dark{
    background-color: var(--dark-mode-bg-color-4);
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
}

.admin_barber_wrapper.dark>div:nth-child(1)>div>button{
    background-color: var(--dark-mode-bg-color-4);
    color: var(--primary-text-light-color1);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

.admin_barber_wrapper.dark>div:nth-child(1)>div>button>p{
    color: var(--primary-text-light-color1);
}

.admin_barber_content_body.dark>div:not(:nth-child(1)){
    background-color: var(--dark-mode-bg-color-2);
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
}

.admin_barber_content_body.dark>div:not(:nth-child(1))>p{
    color: var(--primary-text-light-color1);
}

.admin_barber_content_body.dark>div:not(:nth-child(1))>p:nth-child(2){
    background-color: var(--dark-mode-bg-color-2);
    transition: 300ms ease;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
}

.admin_barber_wrapper.dark>div:nth-child(1)>p{
    color: var(--primary-text-light-color1);
}

.barber_content_body_error.dark p{
    color: var(--primary-text-light-color1);
}

@media screen and (min-width:0px) and (max-width:430px) {
    .admin_barber_content_wrapper{
        width: calc(100vw - 2rem);
    }
}

@media screen and (min-width:431px) and (max-width:1140px){
    .admin_barber_content_wrapper{
        width: calc(100vw - 2rem);
    }
}