.salonadv_container {
    /*theextra2remisforpaddingbottom*/
    height: var(--list-wrapper-height);
    width: 100%;
    padding: 1rem;
    background-color: #fff;
    border-radius: var(--list-wrapper-border-radius);
    -webkit-border-radius: var(--list-wrapper-border-radius);
    -moz-border-radius: var(--list-wrapper-border-radius);
    -ms-border-radius: var(--list-wrapper-border-radius);
    -o-border-radius: var(--list-wrapper-border-radius);
}

.salonadv_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;
}

.salonadv_header>p {
    font-size: var(--list-primary-text);
    font-weight: 600;
}

.salonadv_header>div {
    display: flex;
    gap: 1rem;
}

.salonadv_header>div>button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10rem;
    height: 4rem;
    border: none;
    cursor: pointer;
    background-color: #0867ff25;
    border: 0.1rem solid #000;
    transition: var(--btn-transition);
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);

    &>p {
        font-weight: 500;
        font-size: var(--list-header-btn-text);
        color: #000;
    }

    &>div {
        font-size: var(--list-header-btn-icon);
        font-weight: 500;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background-color: #000;

        &>p {
            color: #fff;
        }

        &>div {
            color: #fff;
        }
    }
}



.salonadv_header>div>div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.salonadv_header>div>div:nth-child(1)>button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: var(--list-header-btn-padding);
    border: none;
    cursor: pointer;
    background-color: #0867ff25;
    border: 0.1rem solid #000;
    transition: var(--btn-transition);
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);

    &>p {
        font-weight: 500;
        font-size: var(--list-header-btn-text);
        color: #000;
    }

    &>div {
        font-size: var(--list-header-btn-icon);
        font-weight: 500;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background-color: #000;

        &>p {
            color: #fff;
        }

        &>div {
            color: #fff;
        }
    }
}


.salonadv_header>div>div:nth-child(1)>p {
    font-size: var(--list-header-btn-text);
    font-weight: 600;
}

.salonadv_adv_list_container {
    width: 100%;
    margin-top: 2rem;
}

.salonadv_column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1.8rem;
    height: var(--list-wrapper-common-height);
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0.6rem;
        height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #0867ff48;
        border-radius: var(--list-wrapper-border-radius);
        -webkit-border-radius: var(--list-wrapper-border-radius);
        -moz-border-radius: var(--list-wrapper-border-radius);
        -ms-border-radius: var(--list-wrapper-border-radius);
        -o-border-radius: var(--list-wrapper-border-radius);
}

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(0, 98, 255);
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

}


.salonadv_task {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-bg-light-color1);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    touch-action: none;
    min-height: 30rem;
    height: 30rem;
    width: 95%;
    border-radius:var(--list-wrapper-border-radius);
    -webkit-border-radius:var(--list-wrapper-border-radius);
    -moz-border-radius:var(--list-wrapper-border-radius);
    -ms-border-radius:var(--list-wrapper-border-radius);
    -o-border-radius:var(--list-wrapper-border-radius);
}

.salonadv_task>div:nth-child(1) {
    height: 83%;
    width: 100%;
}

.salonadv_task>div:nth-child(1)>img {
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--list-wrapper-border-radius);
    border-top-right-radius: var(--list-wrapper-border-radius);
}

.salonadv_task>div:nth-child(2) {
    width: 100%;
    height: 17%;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-around;
}

.salonadv_task>div:nth-child(2)>button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: var(--list-header-btn-padding);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    border-radius: var(--list-btn-border-radius);
    -webkit-border-radius: var(--list-btn-border-radius);
    -moz-border-radius: var(--list-btn-border-radius);
    -ms-border-radius: var(--list-btn-border-radius);
    -o-border-radius: var(--list-btn-border-radius);
    -webkit-transition: var(--btn-transition);
    -moz-transition: var(--btn-transition);
    -ms-transition: var(--btn-transition);
    -o-transition: var(--btn-transition);

    &>p {
        font-weight: 500;
        font-size: var(--list-header-btn-text);
    }

    &>div {
        font-size: var(--list-header-btn-icon);
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.salonadv_task>div:nth-child(2)>button:nth-child(1) {
    background-color: #0867ff25;
    border: 0.1rem solid #000;

    &>div {
        color: #000;
    }

    &>p {
        color: #000;
    }

    &:hover {
        background-color: #000;
        color: #fff;

        &>div {
            color: #fff;
        }

        &>p {
            color: var(--primary-text-light-color1);
        }
    }
}

.salonadv_task>div:nth-child(2)>button:nth-child(2) {
    background-color: #ff000025;
    border: 0.1rem solid red;

    &>div {
        color: red;
    }

    &>p {
        color: red;
    }


    &:hover {
        background-color: red;
        color: #fff;

        &>div {
            color: #fff;
        }

        &>p {
            color: var(--primary-text-light-color1);
        }
    }
}



.salonadv_task:active {
    cursor: grabbing;
    box-shadow: 0 0.4rem 1.8rem rgba(0, 0, 0, 0.4);
}

.salonadv_column_error {
    display: grid;
    place-items: center;
    height: calc(100svh - 15rem);
    margin-top: 2rem;

    &>p {
        font-size: var(--list-content-error-text);
        font-weight: 500;
    }
}


@media screen and (min-width:0px) and (max-width:700px){
    .salonadv_header {
        display: flex;
        flex-direction: column;
        align-items: start;
        height: 7rem;
    }

    .salonadv_column{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: calc(calc(100svh - 6rem - 2rem) - 8rem - 2rem);
    }
    
    .salonadv_task{
        min-height: 30rem;
        height: 30rem;
        width: 92%;
    }
}
