.salonadv_container {
    width: 100%;
    height: 98%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 8px;
}

.salonadv_header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.salonadv_header>p{
    font-size: 2rem;
    font-weight: bold;
}

.salonadv_header>div{
    display: flex;
    gap: 2rem;
}

.salonadv_header>div>button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4.5rem;
    gap: 0rem;
    background-color: var(--primary-bg-light-color1);
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.salonadv_header>div>button>p{
    font-size: 1.4rem;
    font-weight: 500;
}

.salonadv_header>div>button>div{
    font-size: 1.8rem;
    display: grid;
    place-items: center;
}


.salonadv_header>div>button:nth-child(2){
    width: 13rem;
}

.salonadv_header>div>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    width: 25rem;
    padding-inline: 0.4rem 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.salonadv_header>div>div:nth-child(1)>button{
    height: 3.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    border: none;
    width: 15rem;
    background-color: var(--primary-bg-color3);
    cursor: pointer;
}

.salonadv_header>div>div:nth-child(1)>button>p{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-text-light-color1);
}
.salonadv_header>div>div:nth-child(1)>button>div{
    font-size: 1.8rem;
    display: grid;
    place-items: center;
    color: var(--primary-text-light-color1);
}

.salonadv_header>div>div:nth-child(1)>p{
    font-size: 1.6rem;
    font-weight: 500;
}

.salonadv_adv_list_container {
    width: 100%;
    margin-top: 2rem;
}

.salonadv_column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    height: calc(100vh - 15rem);
    margin-top: 2rem;
    overflow-y: auto;
}

.salonadv_column::-webkit-scrollbar {
    width: 6px;
    height: 7px;
}

.salonadv_column::-webkit-scrollbar-track {
    background: transparent;
}

.salonadv_column::-webkit-scrollbar-thumb {
    background: var(--primary-bg-color3) !important;
}

.salonadv_column::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 98, 255) !important;
}

.salonadv_task {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 0 5px;
    background-color: var(--primary-bg-light-color1);
    border: 1px solid #ccc;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    border-radius: 0.6rem;
    touch-action: none;
    min-height: 35rem;
    max-height: 35rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.salonadv_task>div:nth-child(1){
    height: 83%;
    width: 100%;
}

.salonadv_task>div:nth-child(1)>img {
    width: 100%;
    height: 100%;
}

.salonadv_task>div:nth-child(2){
    width: 100%;
    height: 17%;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.salonadv_task>div:nth-child(2)>button{
    width: 13rem;
    height: 4rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    box-shadow: 0px 2px 7.7px rgba(0, 0, 0, 0.4);
}

.salonadv_task>div:nth-child(2)>button>p{
    font-weight: 500;
    color: var(--primary-text-light-color1);
    font-size: 1.6rem;
}

.salonadv_task>div:nth-child(2)>button>div{
    font-weight: 500;
    color: var(--primary-text-light-color1);
    font-size: 1.8rem;
}

.salonadv_task>div:nth-child(2)>button:nth-child(2){
    background: red;
}

.salonadv_task>div:nth-child(2)>button:nth-child(1){
    background-color: var(--primary-bg-color3);
}


.salonadv_task:active {
    cursor: grabbing;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.4);
}

.salonadv_column_error {
    display: grid;
    place-items: center;
    height: calc(100vh - 15rem);
    margin-top: 2rem;
}


.salonadv_column_error .dark>p{
    color: var(--primary-text-light-color1);
}

.salonadv_header.dark>p{
    color: var(--primary-text-light-color1);
}

.salonadv_header.dark>div>div:nth-child(1){
    background-color: var(--dark-mode-bg-color-4);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

.salonadv_header.dark>div>button:nth-child(2){
    background-color: var(--dark-mode-bg-color-4);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
    color: var(--primary-text-light-color1);
}

.salonadv_header.dark>div>button:nth-child(2)>p{
    color: var(--primary-text-light-color1);
}

.salonadv_header.dark>div>div:nth-child(1)>p{
    color: var(--primary-text-light-color1);
}

.salonadv_task.dark{
    background-color: var(--dark-mode-bg-color-4);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

@media screen and (min-width:0px) and (max-width:430px) {
    .salonadv_column{
        grid-template-columns: 1fr;
        height: calc(100vh - 17rem);
    }
    
    .salonadv_header{
        height: 7rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 1rem;
    }

    .salonadv_header>div>div:nth-child(1){
        width: 23rem;
    }
}

@media screen and (min-width:431px) and (max-width:768px) {
    .salonadv_column{
        grid-template-columns: 1fr;
        height: calc(100vh - 17rem);
    }
    
    .salonadv_header{
        height: 7rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 1rem;
    }

    .salonadv_header>div>div:nth-child(1){
        width: 25rem;
    }
}


@media screen and (min-width:769px) and (max-width:1140px) {
    .salonadv_column{
        grid-template-columns: 1fr 1fr;
        height: calc(100vh - 17rem);
    }
    
    .salonadv_header{
        height: 7rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 1rem;
    }

    .salonadv_header>div>div:nth-child(1){
        width: 25rem;
    }
}