.container {
  height: 100svh;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: var(--light-color-1);
}

.sidebar {
  background-color: var(--light-color-4);
  border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
  height: 100svh;
  position: relative;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.sidebar>div:nth-child(1) {
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  height: 8rem;
}

.sidebar_toggle_btn {
  position: absolute;
  top: 3rem;
  right: 0.5rem !important;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transform: translateX(60%);
  outline: none;
  border: none;
  box-shadow: var(--cmmn-box-shadow-y);
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-2);
  color: var(--light-color-4);
  -webkit-transform: translateX(60%);
  -moz-transform: translateX(60%);
  -ms-transform: translateX(60%);
  -o-transform: translateX(60%);
}


.show {
  width: 20vw;
  height: 100svh;
}

.hide {
  width: 4vw;
}

.hide .menu_item {
  justify-content: center;
}

.hide .menu_item>p:nth-child(2) {
  display: none;
}

.titleActive {
  opacity: 1;
  transition-duration: 200ms;
  transition-delay: 200ms;
  transition-timing-function: ease;
}

.titleActive>span {
  font-weight: bold;
}

.titleInActive {
  opacity: 0;
  transition-duration: 200ms;
  transition-delay: 0ms;
  transition-timing-function: ease;
}

.menu_items_container {
  padding-block: 0rem;
  width: 90%;
  margin: auto;
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: auto;
}

.menu_item {
  width: 100%;
  min-height: 4.5rem;
  height: 4.5rem;
  background-color: transparent;
  padding-inline: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  transition: var(--btn-transition);
  -webkit-transition: var(--btn-transition);
  -moz-transition: var(--btn-transition);
  -ms-transition: var(--btn-transition);
  -o-transition: var(--btn-transition);
  border-radius: var(--input-border-radius);
  -webkit-border-radius: var(--input-border-radius);
  -moz-border-radius: var(--input-border-radius);
  -ms-border-radius: var(--input-border-radius);
  -o-border-radius: var(--input-border-radius);

  &>div {
    color: var(--light-color-2);
    font-size: var(--list-content-body-text);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &>p {
    color: var(--light-color-2);
    font-size: var(--list-content-body-text);
    font-weight: 500;
  }

  &:hover {
    background-color: var(--light-color-2);

    &>p,
    &>div {
      color: var(--light-color-4);
    }
  }
}


.menu_item_active {
  background-color: var(--light-color-2)
}

.menu_item>p:nth-child(1) {
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content {
  height: 100svh;
  padding-inline: 2rem;
  font-weight: 500;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  background-color: var(--light-color-1);
}

.sidebar_top_salon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar_top_salon>div:nth-child(1) {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 3.7rem;
  width: 3.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--cmmn-box-shadow-y);
}

.sidebar_top_salon>div:nth-child(1)>img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.sidebar_top_salon>p:nth-child(2) {
  color: var(--light-color-2);
  font-weight: 500;
  font-size: var(--list-content-body-text);
}

.mobile_content {
  display: none;
}

.menu_theme_container {
  display: flex;
  align-items: center;

  &>p {
    font-weight: 500;
    font-size: var(--list-primary-text);
  }

  &>button {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    font-size: var(--list-content-body-text);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}


/* Dark mode css */
.container.dark,
.content.dark {
  background-color: var(--dark-color-1);
}

.sidebar.dark {
  background-color: var(--dark-color-2);
  border-right: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.menu_item.dark {

  &>p,
  &>div {
    color: var(--dark-color-4);
  }

  &:hover {
    background-color: var(--dark-color-3);

    &>p,
    &>div {
      color: var(--dark-color-4);
    }
  }
}

.menu_item_active.dark {
  background-color: var(--dark-color-3);
}

.sidebar_top_salon.dark>p:nth-child(2) {
  color: var(--dark-color-4);
}